

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<style>
    .center1 {
      text-align: center;
    }
    
    .pagination {
      display: table-cell !important;
    }
    
    .pagination a {
      color: black;
      float: none;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 4px 4px 4px 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
<body>

  <header>
    <% include ../../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Job Fair Details</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> Job Fair Details</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-12" style="margin: auto;">
            <div class="userccount">
                <div class="form-group m-form__group row">
                    <div class="col-lg-2">
                        <a href="#addjobdetails" onclick="$('#addjobdetails').show();$('#addjobdetails').focus()"><button
                                type="button" class="btn btn-success"
                                style="background-color:#716aca;border-color:#716aca;">
                                Create Job Fair
                            </button></a>
                    </div>
                </div>
                <div class="m-portlet__body" style="display: none;" id="addjobdetails">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__group form-group row">
                        <span style="color:red">Fields mark with * are Mandatory.</span>
                    
                    </div>


                        <div class="m-form__group form-group row">
                            <label class="col-lg-2 col-form-label">
                                Exchange Name:
                            </label>
                            <div class="col-lg-4">
                                <select id="addjobfairexchange"
                                    class="form-control m-input"></select>
                            </div>
                            <label class="col-lg-2 col-form-label">
                                Title<span class="required" style="color:red;">*</span> :
                            </label>
                            <div class="col-lg-4">
                                <input type="text" id="JFTitle"
                                    onfocusout="getvalidated('JFTitle','text','Title'); Cookies.set('JFTitle', this.value, { expires: 1, path: '/' });"
                                    class="form-control" name="end">
                                <span id="validJFTitle"
                                    style="font-size: 11px; color: #cc0033; "></span>

                            </div>
                        </div>
                    </div>

                    <div class="m-form__group form-group row">
                        <label class="col-lg-2 col-form-label">
                            Detail:
                        </label>
                        <div class="col-lg-4">
                            <textarea class="form-control m-input" id="JFDetail"
                                rows="3"></textarea>
                            <span id="validJFDetail"
                                style="font-size: 11px; color: #cc0033; "></span>

                        </div>
                        <label class="col-lg-2 col-form-label">
                            Venue<span class="required" style="color:red;">*</span>:
                        </label>
                        <div class="col-lg-4">
                            <textarea class="form-control m-input" id="JFVenue" rows="3"
                                onfocusout="getvalidated('JFVenue','text','Venue')"></textarea>
                            <span id="validJFVenue"
                                style="font-size: 11px; color: #cc0033; "></span>
                        </div>

                    </div>



                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            From Date<span class="required" style="color:red;">*</span>:
                        </label>
                        <div class="col-lg-4">
                            <div class="input-group date">
                                <input type="text" class="form-control rojdatepicker" readonly=""
                                    onfocusout="getvalidated('m_datepicker_5','text','From Date')"
                                    placeholder="(DD/MM/YYYY)" id="m_datepicker_5">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                            <span id="validm_datepicker_5"
                                style="font-size: 11px; color: #cc0033; "></span>

                        </div>
                        <label class="col-lg-2 col-form-label">
                            To Date<span class="required" style="color:red;">*</span>:
                        </label>
                        <div class="col-lg-4">
                            <div class="input-group date">
                                <input type="text" class="form-control rojdatepicker" readonly=""
                                    placeholder="(DD/MM/YYYY)"
                                    onfocusout="getvalidated('m_datepicker_6','text','To Date')"
                                    id="m_datepicker_6">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                            <span id="validm_datepicker_6"
                                style="font-size: 11px; color: #cc0033; "></span>

                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Active:
                        </label>
                        <div class="col-lg-4">
                            <label class="m-checkbox">
                                <input type="checkbox" id='chkActiveStatus'>
                                <span></span>
                            </label>
                        </div>
                        <label class="col-lg-2 col-form-label">
                            File Name:
                        </label>
                        <form class="m-form" enctype="multipart/form-data"
                                     method="post" action="/JobFairDetails" id="jfupload" >
                                     <input type="submit" id="jfpostattach"
                                     class="btn btn-success" 
                                     style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                                     
                               
                                  
                                     <input type="file" name="myFile"   onclick="Cookies.set('modaltype', 'jobfair', { expires: 1, path: '/' });"
                                       >
                                     </form>
                    </div>


                    <div class="form-group m-form__group row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">

                            <button type="button" onclick="CheckValidation();"
                                class="btn btn-success"
                                style="background-color:#716aca;border-color:#716aca;">
                        Submit</button>
                        

                            <button type="button" id="btnSubmit"
                                onclick="resetmode();$('#addjobdetails').hide()"
                                class="btn btn-success"
                                style="background-color:#716aca;border-color:#716aca;">
                                Cancel
                            </button>
                        </div>
                        

                    </div>
            
        </div>
        
							<div id="searchjobdetail">
								
								<!--begin::Form-->
								<form class="m-form">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">
                                            <div class="m-form__group form-group row">
                                            <h4 class="m-portlet__head-text">
												Job Fair Details
                                            </h4>
                                            </div>
											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Exchange Name <span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<select id="ddlExchangeName" class="form-control m-input"></select>
                                                </div>
                                             
											</div>
										</div>
									</div>
									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions">
											<h5> Show Verified & Non-Verified Job Fair</h5>
                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                <thead >
                                                    <tr id="tablehead">
                                              
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyvalue"></tbody>
                                            </table>                                            
										</div>
									</div>
                            </div>
                            <div id="JFdetailsById" style="display:none">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Job Fair
											</h3>

										</div>

									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form" id="">
									<div class="m-portlet__body">
										<div class="m-form__section m-form__section--first">




											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Exchange Name:
												</label>
												<div class="col-lg-3">
													<p id='ExchangeById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													Title<span class="required" style="color:red;">*</span> :
												</label>
												<div class="col-lg-4">
													<p id='TitleById'>
														<p>
												</div>
											</div>

											<div class="m-form__group form-group row">
												<label class="col-lg-2 col-form-label">
													Detail:
												</label>
												<div class="col-lg-4">
													<p id='DetailById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													Venue<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='VenueById'>
														<p>
												</div>

											</div>



											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													From Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='FrmdtById'>
														<p>
												</div>
												<label class="col-lg-2 col-form-label">
													To Date<span class="required" style="color:red;">*</span>:
												</label>
												<div class="col-lg-4">
													<p id='ToDtById'>
														<p>
												</div>
											</div>

											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Active:
												</label>
												<div class="col-lg-4">
													<label class="m-checkbox">
														<input type="checkbox" id='chkActiveStatusbyId' disabled>

														<span></span>
													</label>
												</div>
												<label class="col-lg-2 col-form-label">
													File Name:
												</label>
											</div>


											<div class="form-group m-form__group row">
												<div class="col-lg-5"></div>
												<div class="col-lg-2">
													<button type="button" id="btnSubmit"
														onclick="$('#JFdetailsById').hide();$('#searchjobdetail').show()"
														class="btn btn-success"
														style="background-color:#716aca;border-color:#716aca;">
														Close
													</button>
												</div>


											</div>
								</form>

							</div>
            <div class="modal fade" id="m_modal_6" role="dialog">
                <div class="modal-dialog">
        
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
        
                        </div>
                        <div class="modal-body">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                   Content:
                                </label>
                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                rows="3" placeholder="Please enter sms content"></textarea>
                                <span id="validJFDetail"
                                style="font-size: 11px; color: #cc0033; "></span></div>
                                <div class="form-group m-form__group row">
                                <div class="m-alert__actions" style="width: 200px;">
                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                        Send 
                                     </button>
                                    <button type="button" class="btn btn-success"
                                        data-dismiss="modal" aria-label="Close">
                                        Dismiss
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
        
                </div>
            </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/Homefooter %>
</footer>
  
<script src="/customjs/Jobfair/Jobfairdetails.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function () {
    localStorage.JFId = '0';
		FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
		FillSecuredexchangeoffice1('parsedatasecuredFillSecuredexchangeoffice1','addjobfairexchange');
        FillJobFairDetail(sessionStorage.Ex_id)
        
    var tablehead = "<th>ID</th><th>Title</th><th>Venue</th><th>From Date</th><th>To Date</th><th>Action</th><th>Action Taken By</th><th>Action Date</th><th>Active</th><th>Modify</th><th>Delete</th>";
		$("#tablehead").html(tablehead);
  

 
  jQuery("#SubjectGroup").append(jQuery("<option ></option>").val("0").html("Select Subject Group"));


});

</script>
</body>
</html>