

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<style>
    .center1 {
      text-align: center;
    }
    
    .pagination {
      display: table-cell !important;
    }
    
    .pagination a {
      color: black;
      float: none;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 4px 4px 4px 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
<body>

  <header>
    <% include ../../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Job Fair Details</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> Job Fair Details</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-12" style="margin: auto;">
            <div class="userccount">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                        Search Candidate For Job Fair 
                                </h3>
                            </div>
                          
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form">
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                   
                                </div>

                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                           Exchange Name :
                                        </label>
                                        <div class="col-lg-4">
                                            <select type="text" id="ddlExchangeName" class="form-control" >
                                            
                                           </select>
                                      </div>
                                        <label class="col-lg-1 col-form-label">
                                            Job Fair :
                                        </label>
                                        <div class="col-lg-4">
                                            <select  id="jobfairddl" class="form-control" >
                                            
                                           </select>
                                      </div>
                                      </div>
                                      <div class="form-group m-form__group row">
                                              <label class="col-lg-2 col-form-label">
                                                Selection Status :
                                            </label>
                                            <div class="col-lg-4">
                                                <select type="text" id="selectionstatus" class="form-control" >
                                                    <option  value="0">Not Selected</option>
                                                <option  value="1">Selected</option> 
                                               </select>
                                          </div>
                                            </div>
                                            


                            
                                              <div class="form-group m-form__group row">

                                          <div class="col-lg-2">
                                            <button type="button"  onclick=" FillParticipant()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                Search
                                            </button>
                                            </div>
                                            
                                           





                                                </div>
                                                <div class="m-portlet__foot m-portlet__foot--fit">
                                                    <div class="m-form__actions m-form__actions">
                                                       
                                                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                            <thead >
                                                                <tr id="tablehead">
                                                          
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbodyvalue"></tbody>
                                                        </table>                                            
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row" style="display: none;" id='sendAlert'>
                                                                           
                                                                            

                                                  <div class="col-lg-2">
                                                    <button type="button" id="btnsubmt" onclick="CheckCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                      Submit
                                                    </button>
                                                    </div>
                                                  

                                                                                                                 
                                          

                                                        </div>
                                                </div>
                                            </div>
                                  
                                       
                                       
                                            
                                    </div>
          
        
							
                           
            
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/Homefooter %>
</footer>
  

<script src="/customjs/Jobfair/JobfairParticipantReport.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        FillSecuredexchangeoffice('parsedatasecuredFillSecuredexchangeoffice', 'ddlExchangeName');
        FillJobFairDetail('5');
    })
     


        </script>

</body>
</html>