

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<style>
    .center1 {
      text-align: center;
    }
    
    .pagination {
      display: table-cell !important;
    }
    
    .pagination a {
      color: black;
      float: none;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 4px 4px 4px 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
<body>

  <header>
    <% include ../../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Search Candidates</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> Search Candidates</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-12" style="margin: auto;">
            <div class="userccount">
                <div class="m-content">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                            Search Candidate For Job Fair 
                                    </h3>
                                </div>
                              
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="m-form">
                            <div class="m-portlet__body">
                                <div class="m-form__section m-form__section--first">
                                
                                    
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-2 col-form-label">
                                                Qualification :
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" id="Qualification" class="demo-default" placeholder="Qualification"> </input>
                                          
                                            </div>
                                                <label class="col-lg-2 col-form-label">
                                                    Designation :
                                                </label>
                                                <div class="col-lg-4">
                                                    <input type="text" id="Designation" class="demo-default" placeholder="Designation"> </input>
                                                   
                                                    </div>

                                        </div>

                                        <div class="form-group m-form__group row">
                                                <label class="col-lg-2 col-form-label">
                                                        Location :
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" id="Location" class="demo-default" placeholder="Location"> </input>
                                                  </div>
                                                  <label class="col-lg-2 col-form-label">
                                                    Gender :
                                                </label>
                                                <div class="col-lg-4">
                                                    <select type="text" id="Gender" class="form-control" placeholder="Gender"><option value="0">Select Gender</option>
                                                    <option  value="Male">Male</option> 
                                                    <option  value="Female">Female</option>
                                                   <option value="0">Both</option>
                                                   </select>
                                              </div>
                                                </div>
                                                
<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">
        Age Criteria :
    </label>
    <div class="col-lg-2">
        <input type="text" maxlength="2"  id="MinAge" autocomplete="off"  placeholder="Min Age"  onfocusout="lengthCheck();getvalidated('MinAge', 'select', 'Min Age');"
            
            class="form-control" name="end">
            <span id="validMinAge"
            style="font-size: 11px; color: #cc0033; "></span>
    </div>


    <div class="col-lg-2">
        <input type="text" id="MaxAge" maxlength="2" autocomplete="off" placeholder="Max Age"  onfocusout="lengthCheck();getvalidated('MaxAge', 'text', 'Max Age');" class="form-control" name="end">
        
        <span id="validMaxAge"
            style="font-size: 11px; color: #cc0033; "></span>
            </div>
    
    
    <label class="col-lg-2 col-form-label">
        Trade :
    </label>
    <div class="col-lg-4">
        <input type="text" id="Trade" class="demo-default" style="padding-left:3px;    width: 336px;height: 37px; " placeholder="Trade" name="end">

    </div>

    
</div>
<div class="form-group m-form__group row">
<label class="col-lg-2 col-form-label">
    Salary :
</label>
<div class="col-lg-2">
    <input type="text" id="MinSalary" maxlength="6" autocomplete="off" placeholder="Min Salary"
        
        class="form-control" name="end">

</div>
<div class="col-lg-2">
    <input type="text" id="MaxSalary" maxlength="6"  autocomplete="off" placeholder="Max Salary" class="form-control" name="end" >
    

</div>
<label class="col-lg-2 col-form-label">
    Number of Candidate :
</label>

<div class="col-lg-4">
    <input type="text" id="noofcandidate" value='100'  autocomplete="off" placeholder="Number of Candidate" class="form-control" name="end" >
    

</div>
</div>
                                
                                                  <div class="form-group m-form__group row">
                                              <div class="col-lg-2">
                                                <button type="button"  onclick=" FillSearchCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                    Search
                                                </button>
                                                </div>
                                                
                                                <div class="col-lg-2">
                                                    <button type="button"  onclick="goBack()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                         Back
                                                    </button>
                                                </div>





                                                    </div>
                                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                                        <div class="m-form__actions m-form__actions">
                                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                                                <thead >
                                                                    <tr id="tablehead">
                                                              
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodyvalue"></tbody>
                                                            </table>                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row" id="sendAlert" style="display: none;">
                                                                           
                                                                            

                                                    <div class="col-lg-2">
                                                      <button type="button" onclick="CheckCandidate('email')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                         Send Email
                                                      </button>
                                                      </div>
                                                      <div class="col-lg-2">
                                                          <button type="button" onclick="CheckCandidate('mobile')" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                              Send SMS
                                                          </button>
                                                      </div>

                                                                                                                   
                                            

                                                          </div>
                                            <div class="modal fade" id="m_modal_5" role="dialog">
                                                <div class="modal-dialog">
                                        
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                        
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Subject:
                                                                </label>
                                                              <input class="form-control m-input" id="subjecttxt"  onfocusout=" getvalidated('subjecttxt','text','Subject');"
                                                                rows="3" placeholder="Please enter subject" />
                                                                <span id="validsubjecttxt"
                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                    Body:
                                                                </label>
                                                              <textarea class="form-control m-input" id="JFDetail"  onfocusout=" getvalidated('JFDetail','text','Body');"
                                                                rows="3" placeholder="Please enter body content"></textarea>
                                                                <span id="validJFDetail"
                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                <div class="form-group m-form__group row">
                                                                    <div class="m-alert__actions" style="width: 200px;">
                                                                    </div>
                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                    <button type="button" onclick="SendAlert('email')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Send 
                                                                     </button>
                                                                    <button type="button" class="btn btn-success"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        Dismiss
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                            <div class="modal fade" id="m_modal_6" role="dialog">
                                                <div class="modal-dialog">
                                        
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
                                        
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-lg-2 col-form-label">
                                                                   Content:
                                                                </label>
                                                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('SmsDetail','text','Content');"
                                                                rows="3" placeholder="Please enter sms content"></textarea>
                                                                <span id="validSmsDetail"
                                                                style="font-size: 11px; color: #cc0033; "></span></div>
                                                                <div class="form-group m-form__group row">
                                                                <div class="m-alert__actions" style="width: 200px;">
                                                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                                                        Send 
                                                                     </button>
                                                                    <button type="button" class="btn btn-success"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        Dismiss
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                                
                                        </div>
                                                
                                    </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/Homefooter %>
</footer>
  
<script src="customjs/Jobfair/SearchParticipant.js" type="text/javascript"></script>
<!-- <script src="../js/pagination.js" type="text/javascript"></script> -->


<script type="text/javascript">
                                                            
    $(document).ready(function () {
       
        FillQualification()
        FillDesignation()
        FillLocation()
        FillTradeName()

                    });
                    localStorage.s_id="0"
                   if(sessionStorage.SearchCandidate=='Y'){
                    FillSearchCandidate();
                   }



        </script>
</body>
</html>