<div class="modal" id="modaladduser" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="userccount">
            <div>
                <button type="button" class="close" data-dismiss="modal"  style="margin-top: -10px;font-size: xx-large;">×</button>
       
              <h5 style="font-size:16px; "> <span id="edit"   lang="en">Add Sub User</span></h5>
              <!-- login form -->
             
              <div class="formpanel">
                <div class="row">
                    <div class="col-md-12 forvalidation">
                     <div class="formrow" id="resetpassword">
                        <label for="example-email-input" class="col-2 col-form-label">
                           Username (Email Id) <span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="text" id="subusernametext"  onfocusout="getvalidated('subusernametext','text',' User Name');" class="form-control"
                              placeholder="Name" >
                              <span id="validsubusernametext" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>
                  </div>
                 </div>
                 <div class="row">
                   <div class="col-md-12 forvalidation">
                    <div class="formrow" id="resetpassword">
                       <label for="example-email-input" class="col-2 col-form-label">
                          Name<span class="asterisk_input label-icon"></span>
                       </label>
                       <div class="formrow">
                          <input type="text" id="subname"  onfocusout="getvalidated('subname','text','Name');" class="form-control"
                             placeholder="Name" >
                             <span id="validsubname" style="font-size: 11px; color: #cc0033; "></span>
                       </div>
                    </div>
                 </div>
                </div>
                 <div class="row">
                  <div class="col-md-12 forvalidation" >
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           Hiring Role<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <select id="subroleddl"  class="form-control"  ></select>
                        </div>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 forvalidation">
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                          Reporting
                        </label>
                        <div class="formrow">
                            <select id="subreportingddl"  class="form-control"></select>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-md-12 forvalidation">
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                        Mobile Number<span class="asterisk_input label-icon"></span>
                      </label>
                      <div class="formrow">
                          <input id="submobile"  class="form-control" placeholder="Mobile Number"/>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row" id="hide">
                <div class="col-md-12 forvalidation" >
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                         Password&nbsp<span class="asterisk_input label-icon"></span>
                      </label>
                      <div class="formrow">
                         <input id="passwordfieldemp" type="password" class="form-control" name="password" value="" placeholder="Password"  >
                            <span id="validpasswordfieldemp" style="font-size: 11px; color: #cc0033; "></span>
                           
                            <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge" data-placement="right"
                            title="<br><h6> Password must contain the following: </h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                            data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        
                            <span toggle="#passwordfieldemp" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain at least one letter, at least one number, and be longer than 8 charaters.</span>
                      </div>
                   </div>
                </div>
                <div class="col-md-12 forvalidation">
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                        Confirm Password&nbsp<span class="asterisk_input label-icon"></span>
                      </label>
                      <div class="formrow">
                         <input type="password" id="Repasswordemp" name="Re-EnterPassword" onfocusout="getvalidated('Repasswordemp','text','Confirm Password');" class="form-control"
                            placeholder="Confirm Password" >
                            <span id="validRepasswordemp" style="font-size: 11px; color: #cc0033; "></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12 forvalidation">
                <div class="formrow" style="display:block">
                  <input type="button" onclick="CheckSubUser();"  class="btn" value="Submit">
                </div>
              </div>
            </div>
        </div>
            </div>
              <br><br>
  
  
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  
 
      
  <!-- <script src="../customjs/EmployerZone/EmployerLogin.js"></script> -->
  <script src="../customjs/EmployerZone/ChangePassword.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      createcaptchareset();
      $("#Changepassword").html(sessionStorage.getItem("EmailId"))

    });
    </script>
