<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle" style="height:0px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Disclaimer</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Disclaimer</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="userccount" style="margin-top:-33px;">
            <div class="socialLogin">
              <h5 style="font-size:16px;"> Disclaimer</h5>


              <p style="text-align:left;">
                    Yashaswi Academy for Talent Management (YATM) is a platform that brings together employers, job seekers through its digital platform. All efforts are been made to make sure that the information provided on the site is accurate. Please read this content carefully before accessing or using the site, you agree to be bound by the terms and conditions set forth. If you do not wish to be bound by these Terms and Conditions, accessing the website will not be advisable. YATM may modify this agreement at any time, and such modifications shall be effective immediately upon posting of modifications on the site. You agree to review the agreement periodically to be aware of the modifications and continued access or use of the site shall be deemed your conclusive acceptance of the modified agreement. We assure you that there is no money charged to any candidate who are availing to our services. If any candidate finds that he has been charged of some amount he/she must register a grievance on the site immediately.

              </p>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
    
  <script type="text/javascript">

    $(document).ready(function () {
      FillState();
      FillFooterDetail('1');

    });



  </script>
</body>

</html>