<div class="footerWrap" style="padding: 25px 0;">
  <div class="container">
    <div class="row">
      <!--About Us-->
      <h5 style="font-size: 20px;">
        <span lang='en'>SiteMap</span></h5>
      <div class="col-md-4 col-sm-12">
        <h5> <span lang='en'>Information</span></h5>
        <ul class="quicklinks">
          <li><a href="/"><span lang='en'>Home</span></a></li>
          <li><a href="/Aboutus"><span lang='en'>About Us</span></a></li>
          <li><a href="/Contactus"><span lang='en'>Contact Us</span></a></li>
          <li><a href="/PrivacyPolicy"><span lang='en'>Privacy Policy</span></a></li>
          <!-- <li><a href="/TermsCondition">Terms and Condition</a></li> -->
          <li><a href="/FAQs" style="display: none;"><span lang='en'>FAQ</span></a></li>
          <!-- <li><a href="/Disclaimer">Disclaimer</a></li>    -->
        </ul>

      </div>
      <!--About us End-->

      <!--Quick Links-->
      <div class="col-md-4 col-sm-6">
        <h5><span lang='en'>Employer Section</span></h5>
        <!--Quick Links menu Start-->
        <ul class="quicklinks">
          <li><a href="/Registration"><span lang='en'>Register</span></a></li>
          <li><a href=""><span lang='en'>Login</span></a></li>
         </ul>

      </div>
     
      <div class="col-md-3 col-sm-6">
     
        <div class="clear"></div>

        <!--Industry menu End-->
        <div class="clear"></div>
      </div>  
     

        <div class="col-md-4 col-sm-6">
          <h5><span lang='en'>Address</span></h5>
          <!--Quick Links menu Start-->
          <ul class="quicklinks">
          <li style="color:white">
            <p><span lang='en'>
              Office No. 11,First Floor, Satellite Plaza, Ayodhya Bypass,Bhopal, Madhya Pradesh 462041
            
<!-- St Joseph's Road, Idgah Hills,
          </span></p> 
            <p><span lang='en'> Bhopal, Madhya Pradesh 462001</span></p></li> -->
            </ul>


            <!-- <li><a href="/vacancyjob">Post Job</a></li>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/Profile">Profile</a></li> -->
          
        
  
        </div>
     
      <!--Latest Articles-->
    </div>
  </div>
 </div>
</div>
<!--Footer end-->

<!--Copyright-->
<div style="background-color: #f0f0f0; text-align: center; font-size: 15px; font-weight: 500; line-height: 31px">

</div>
<div class="copyright">
  <img src="https://www.cutercounter.com/hits.php?id=geqxpad&amp;nd=6&amp;style=72" style="border:0;padding-bottom: 10px; display: none;" alt="visitor counter"></a>
 
  <div class="container">
    <div class="row">
      <span lang="en" style="font-size: 15px;">All Rights Reserved to DOE MP, Operated by <a>Yashaswi Academy For Talent Management</a></span><br>
      </a>
      <span lang="en" style="font-size: 15px;">© 2020 Directorate of Employment, Madhya Pradesh</span>
      
      </div>
  </div>
</div>