<!-- views/partials/header.ejs -->

<div class="header" >
    <div class="container">
      <div class="row">
       
      
        <div class="col-lg-8 col-md-8 col-xs-12" style="margin-top: 0%"> 
          <!-- Nav start -->
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse" id="nav-main">
                <ul class="nav navbar-nav" style="margin-top:15px">
                    <!--  <li><a href="/">Home</a></li> -->
                    <li class="nav navbar-nav" style="margin-top:20px;    color: black;  font-weight: 500;">
                        <!--  <li><a href="/">Home</a></li> -->
                        <span lang="en">TOLL FREE NO</span>: -1800-5727-751
        
                      </li>
                   </ul>
              <ul class="nav navbar-nav" style="margin-top:15px">
               <!--  <li><a href="/">Home</a></li> -->
               
                 <!--   <li><a href="/ResumeDatabaseAccess">RESDEX</a></li> -->



                 <li><a href="/"><span lang="en">Home</span></a></li>
               <li><a href="#" onclick="jobseekerurl()"><span lang="en">Jobseeker</span></a></li>
                 <!-- <li><a  href="#"> <span lang='en'>Companies</span></a></li>   -->
                <li><a id="lblh" href="#" onclick="myFunction(this)">Hindi</a></li>
              </ul>



             
               <ul class="nav navbar-nav" style="margin-top: -3%;width: 110%;">
                <li class="nav navbar-nav" style="margin-top:10px; font-size: smaller;    color: black;  font-weight: 500;">
                 <span lang="en">E-mail </span>: helpdesk.mprojgar@mp.gov.in  
                </li>
              </ul> 
              <!-- Nav collapes end --> 
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- Nav end --> 
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="logo"> <figure>

            
            <img src="images/05032016070225indus_logo.png" alt="" style="margin-bottom: -4%;width: 59%;width: 65px;"> 
            <img src="/images/favicon.ico" alt="" data-toggle="modal" data-target="#Modalworkarea" style="margin-bottom: -4%;width: 59%;max-width: 59%;width: 19%;">
            <img src="images/YATMLogo.png" alt="" style="margin-left: 41%;margin-top: -50%;width: 31%"> 
          </figure> </a>
         
    
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> </button>
            </div>
            <div class="clearfix"></div>
          </div>
      </div>
  <!-- Modal -->
 
  
</div>


  
</div>
