<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, private" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
<title>Directorate of Employment , Govt of M.P.</title>
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- Owl carousel -->
<link href="/css/owl.carousel.css" rel="stylesheet">
<link href="/css/jQueryUI.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/captcha.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<!-- Custom Style -->
<link href="/css/main.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/Carouselslide.css" rel="stylesheet">
<link href="/css/select2.min.css" rel="stylesheet" />
<link href="/css/jquery.magicsearch.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/timepicker.min.css">
<link href="/css/selectize.default.css" rel="stylesheet">
<% include script %>