<!-- views/partials/header.ejs -->

<div class="header">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <figure><a href="/" class="logo">

              
                <img src="images/05032016070225indus_logo.png" alt=""
                  style="margin-bottom: -4%;width: 59%;width: 65px;">
                  <img src="/images/favicon.ico" alt=""
                  style="margin-bottom: -4%;width: 59%;width: 65px;"></a>
    
            </figure>
      
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span> </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12" style="margin-top: -7%;margin-left:32%">
              <!-- Nav start -->
              <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse" id="nav-main">
                
                  <ul class="nav navbar-nav" style="margin-top:15px">
      
                    <li class="dropdown userbtn"><a href="#"><img src="" id="homeimage" alt="" class="userimg" /></a>
                      <ul class="dropdown-menu">
                       
                        <li><a href="/Login" onclick=SessionClear()><i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                  <!-- Nav collapes end -->
                </div>
                <div class="clearfix"></div>
              </div>
              <!-- Nav end -->
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- Header container end -->
      </div>
  
      <!-- Header end -->