<!-- views/partials/header.ejs -->

<div class="header">
  <div class="container">
    <div class="row">
      
      <div class="col-md-10 col-sm-12 col-xs-12" style="margin-top: 0%"> 
        <!-- Nav start -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-collapse collapse" id="nav-main">
              <ul class="nav navbar-nav" style="margin-top:15px">
                  <!--  <li><a href="/">Home</a></li> -->
                  <li style="margin-top:15px;margin-left:-8%;color: #777777;font-weight:600;">TOLL FREE NO:-1800-5727-751</li>
                
                 </ul>
                 
            <ul class="nav navbar-nav" style="margin-top:15px; font-size: 12px;">
             <!--  <li><a href="/">Home</a></li> -->
             <li><a href="/Dashboard">Home</a></li>
             <li><a class="noclick" href="/vacancyjob">Job Posting</a></li>
             <li><a  href="#">ER-1</a>
              <ul class="dropdown-menu">
              <li><a class="noclick" href="/ER1Form">Form</a></li>
              <li><a class="noclick" href="/ER1Report">Report</a></li>
              </ul>
              </li>
              <!--  <li><a href="/ResumeDatabaseAccess">RESDEX</a></li>-->
             <!-- <li><a href="/Empprofile">View Profile</a></li> -->
             <li><a href="#">Profile</a>
              <ul class="dropdown-menu">
              <li><a href="/Empprofile">View Profile</a></li>
              <li><a href="/EditEmpProfile">Edit Profile</a></li>
              </ul>
              </li>
             <li><a class="noclick" href="/SearchCandidate">Search Candidates</a></li>
             <li><a href="#">More</a>
              <ul class="dropdown-menu">
              <li><a href="/ER1Form">ER-1 Form</a></li>
              <li><a href="/ER1Report">ER-1 Report</a></li>
              <li><a href="/ManageUser">Manage User</a></li>
              <li><a data-toggle="modal" data-target="#modalChangepassword" href="#">Change Password</a></li>
              </ul>
              </li>
             <li><a href="/">Logout</a></li>
            </ul>
            <!-- Nav collapes end --> 
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Nav end --> 
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12"> <a class="logo">
        <img alt="" src="images/05032016070225indus_logo.png" style=" margin-bottom: -13%;
        width: 65px;">
        <img src="images/YATMLogo.png" alt="" style="    margin-left: 45%;
        margin-top: -62%;
        width: 102px"></a>
   
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <!-- Header container end --> 
</div>

<!-- Modal -->
<% include adduserModal %>
<% include ../pages/EmployerZone/ChangePassword %>

</div>
<script>
  //NotificationStatus();
 // FillImage()
 if(sessionStorage.V_Status=='4'){
$('.noclick').attr('href','#');
}

    if(sessionStorage.getItem("TypeHome")=="Change"){
        sessionStorage.setItem("TypeHome","");
        toastr.success("Password Changed Successfully", "", "success");
        
      }
      if(sessionStorage.getItem("TypeHome")=="Change"){
        sessionStorage.setItem("TypeHome","");
        toastr.success("Sub User Created Successfully", "", "success");
        
      }
    
    
 
</script>

<!-- Header end --> 


