
      <!--Footer end--> 
      
      <!--Copyright-->
      <div class="footerWrap" style="padding: 25px 0;">
          <div class="container">
            <div class="row">
              <!--About Us-->
              <h5 style="font-size: 20px;">
                <span lang='en'>SiteMap</span></h5>
              <div class="col-md-4 col-sm-12">
                <h5> <span lang='en'>Information</span></h5>
                <ul class="quicklinks">
                  <li><a href="/Dashboard"><span lang='en'>Home</span></a></li>
                  
                </ul>
        
              </div>
              <!--About us End-->
        
              <!--Quick Links-->
              <div class="col-md-4 col-sm-6">
                <h5><span lang='en'>Employer Section</span></h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                  <li><a href="/vacancyjob">Job Posting</a></li>
                  <li><a href="/Empprofile">View Profile</a></li>
                  <li><a href="/EditEmpProfile">Edit Profile</a></li>
                 </ul>
        
              </div>
             
              <div class="col-md-3 col-sm-6">
             
                <div class="clear"></div>
        
                <!--Industry menu End-->
                <div class="clear"></div>
              </div>  
             
        
                <div class="col-md-4 col-sm-6">
                  <h5><span lang='en'>Address</span></h5>
                  <!--Quick Links menu Start-->
                  <ul class="quicklinks">
                  <li style="color:white">
                    <p><span lang='en'>
                     Office No. 11,First Floor, Satellite Plaza, Ayodhya Bypass,Bhopal, Madhya Pradesh 462041
                  </span></p> 
                    
                    </ul>
        
        
                    <!-- <li><a href="/vacancyjob">Post Job</a></li>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/Profile">Profile</a></li> -->
                  
                
          
                </div>
             
              <!--Latest Articles-->
            </div>
          </div>
          <div style="text-align: center;"> 
          <!-- Start of CuterCounter Code -->
         <!-- End of CuterCounter Code -->
        </div>
        </div>
        <!--Footer end-->
        <div style="background-color: #f0f0f0; text-align: center; font-size: 15px; font-weight: 500; line-height: 31px">

        </div>
     
        <div class="copyright">
         
          <div class="container">
            <div class="row">
              <span lang="en" style="font-size: 15px;">All Rights Reserved to DOE MP, Operated by <a>Yashaswi Academy For Talent Management</a></span><br>
              </a>
              <span lang="en" style="font-size: 15px;">© 2020 Directorate of Employment, Madhya Pradesh</span>
              
              </div>
          </div>
        </div>
      