<div class="modal fade" id="mailModal" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-body">
    <div class="userccount">
    <button type="button" class="close" id ="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
    
    <div class="row">
    
    <div class="col-md-12 forvalidation">
    
    <div class="formrow">
    
    <label class="col-lg-2 col-form-label">
    Subject:
    </label>
    <div class="formrow">
    <input type="text" name="name" id="subject" autocomplete="off"
    
    class="form-control" placeholder="Subject" >
    <span id="validsubject" style="font-size: 11px; color: #cc0033; "></span>
    </div>
    </div>
    
    </div>
    
    <div class="col-md-12">
    
    <div class="formrow">
    
    <label class="col-lg-2 col-form-label">
    Body:
    </label>
    <div class="formrow">
    <textarea class="form-control" style="height: 110px;" id="body" name="bodY" placeholder="Body"></textarea>
    
    <span id="validbody" style="font-size: 11px; color: #cc0033; "></span>
    </div>
    </div>
    </div>
    </div>
    
    
    
    
    <div class="form-group m-form__group row"></div>
    
    <div class="form-group m-form__group row">
    <div class="m-alert__actions" >
      <div  class="col-lg-2" >
    <button type="button" onclick="sendmailtoCandidate()" class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
    Send
    </button>
</div>
 <div  class="col-lg-2" >
    <button type="button" class="btn btn-success"
    data-dismiss="modal" id="dismissModal" aria-label="Close">
    Dismiss
    </button>
</div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>