<script src="/js/jquery-2.1.4.min.js"></script> 
<script src="/js/jQueryUI.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script> 
<script src="/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script> 
<!-- Owl carousel --> 
<script src="/js/owl.carousel.js"></script> 

<!-- Custom js --> 
<script src="/js/jquery-lang.js"></script>
<script src="/js/script.js"></script>
<script src="/js/global.js"></script>
<script src="/js/TypeaHead.js"></script>
<script type='text/javascript' src="/js/select2.min.js"></script>

<script type='text/javascript' src="/js/jquery.blockUI.js"></script>
<script type='text/javascript' src="/js/toastr.min.js"></script>
<script type='text/javascript' src="/js/pagination.js"></script>


<!-- <script type="text/javascript" src="/customjs/js/selectize.min.js"></script> -->

<script src="/customjs/common.js"></script>
<script src="/js/jquery.magicsearch.js"></script>
<script src="/js/timepicker.min.js"></script>
<script src="../js/md5.js" type="text/javascript"></script>
<script src="/js/smtp.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="/js/selectize.min.js"></script>
<script src="/js/printThis.js"></script>
<script type='text/javascript' src="/js/moment.js"></script>
<script type="text/javascript">
  var lang = new Lang();
  lang.dynamic('th', '/js/langpack/th.json');
  lang.init({
    defaultLang: 'en'
  });
  
</script>
<script>
   
    $(function(){
    $('.rojdatepicker').datepicker({ 
      dateFormat: "dd/mm/yy",
    changeMonth: true,
    changeYear: true,
    yearRange: "-100:+40"
  
    });
    if(sessionStorage.getItem("TypeHome")=='Change'){
      toastr.success("Password Changed Successfully", "", "success")
      sessionStorage.setItem("TypeHome","")
      return true;
      
    }
    })
    $(document).off('ajaxStart').on('ajaxStart', function(){
                $.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' });
            } );
            $(document).off('ajaxStop').on('ajaxStop', function(){
                $.unblockUI();
            });
    </script>
    <script> 
      /* Add "https://api.ipify.org?format=json" statement 
         this will communicate with the ipify servers in 
         order to retrieve the IP address $.getJSON will 
         load JSON-encoded data from the server using a 
         GET HTTP request */ 
    
      $.getJSON("https://api.ipify.org?format=json", 
                                function(data) { 
    
      sessionStorage.ipAddress= data.ip; 
      }) 
    </script>



      

