<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle" style="height:0px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Terms and Condition</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Terms and Condition</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="userccount" style="margin-top:-33px;">
            <div class="socialLogin">
              <h5>Terms and Condition</h5>
          
              <br />

                <ul style="text-align: justify">
                  <li>	
                    <span>
                    The site is a public site with free access and YATM assumes no liability for the quality and genuineness of responses registered by the external users .
                  </span>
                  </li>
               <br/>
               <li>	
                  	 Privacy of the information provided by the consumer to YATM on the website by technical or any other means will be maintained by YATM .It will ensure the confidentiality of information provided to it by any person acquiring/using all/any information displayed on the portal.
                </li>
                <br/>
                 <li>	
                  	YATM does not share personally identifiable data of any individual with other companies / entities without obtaining permission except with those acting as our agents. YATM shall share all such information that it has in its possession in response to legal process. The user undertakes not to duplicate, download publish, modify and distribute material on the YATM portal.
                </li>
                <br/>
                  <li>	
                  	The User is solely responsible for maintaining confidentiality of the User password and user identification and all activities performed by the User through his user identification.
                </li>
                <br/>
                  <li>	
                  	In no event will YATM be liable for any expense, loss or damage including indirect or consequential damage arising out of connection with the use of this website. In case of any variation in what has been mentioned on the website about Act, Rules, Regulations, Policy Statements etc. and that contained in the relevant Act, Rules, Regulations, Policy Statements etc. with the department the latter shall prevail .
                </li>
                <br/>
                  <li>	
                  	These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.
                </li>  
             
              <br />
              <span style="margin-right: 85%;      font-size: 113%;              font-weight: 900;">JOBSEEKERS :</span>
              <br />
              <br />
              <p >
                  <li style="text-align:left;">	
                      	The resume/ insertion or information/data fed by the user can be updated by the user alone, free of cost.
                    
                  </li> 
                </br>
                  <li style="text-align:left;">	
                    Right to reject and delete any resume/ insertion or information/data fed in by the user without assigning any reason.
                    
                  </li> 
                </br>
                  <li style="text-align:left;">	
                     	This free service entitles the user alone i.e. the same person, to add modify or change the data/information fed in by him but does not entitle him to use the free service to feed fresh insertion or information/data /resume of another person in place of the insertion or information/data already fed in by such user.
                      
                  </li> 
                </br>
                  <li style="text-align:left;">	
                      	All changes / modifications made by the user to the data / information shall be effected and will come into operation only after 24-48 hours of such changes.
                   
                 </li> 
                </br>
                 <li style="text-align:left;">	
                  	On registration you agree to: 
                 </b>
                    a) Making your resume searchable to clients of YATM who subscribe to RESDEX (Resume Database Access). You may be contacted by subscribers of RESDEX via email, telephone and/or post. We recommend that you read the privacy settings carefully and YATM will not be held responsible for contacts/mails received by you. 
                  </b>
                    b) Receive job alerts (mails detailing jobs that match your profile as entered on web portal of YATM) via email or phone number. 
                  </b> 
                  c) Receive promotional mails. 
                    
               </li> 
           </p>
           <br />
           <span style="margin-right: 85%;      font-size: 113%;              font-weight: 900;">EMPLOYERS :</span>
           <br />
           <br />
           <p >
              <li style="text-align:left;">	
                  	The employers must have their company registered according to the Company’s Act 2013.
                
              </li> 
            </br>
              <li style="text-align:left;">	
                  The employers availing the services of YATM will have access to the jobseekers information that we have on our portal.
                 
              </li> 
            </br>
              <li style="text-align:left;">	
                  	Registered employers are not allowed to share the data/information they are accessing from YATM.
                   </li> 
            </br>
              <li style="text-align:left;">	
                  	Employers will be charged as per their use, package, or services they avail from YATM.
                  
             </li> 
            </br>
             <li style="text-align:left;">	
              	There will be various services, combination of services depending upon the requirement of the employer. The Terms and conditions are amendable as per the changes into the norms of the company or requirements of the employer.
                   
                
           </li> 
          </ul>
       </p>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
    
  <script type="text/javascript">

    $(document).ready(function () {
      FillState();
      FillFooterDetail('1');

    });



  </script>
</body>

</html>