<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>
    
    <div class="searchwrap">
    <% include partials/Subheader %>
     </div>
    <!-- Search End -->
    <div class="col-md-12" style="background-color: #73cbce; z-index: 1;">
        <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 95%;">
            <div class="newsSection">
                <marquee behavior="scroll" direction="left" id="scroll_news" style="padding-top: 5px;color: #3c39bb"
                    onmouseover="this.stop();" onmouseout="this.start();">
                    <h5><span lang="en"> No application are accepting for unemployment allowance scheme Madhya Pradesh State Skill Development and Employment Generation Board neither provides appointment nor issues appointment letter in public/ private sector. If someone gets appointment letter on letterhead of Board then it is fake & False.</span></h5>
                </marquee>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 25px;margin-bottom:25px;">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-centered">

                <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="9000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">
                                    <a href="https://www.mpinfo.org" target="_blank"> <img
                                            src="images/rozgar.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="img-responsive" style="margin-top: 20px;">

                                    <a href="https://upsc.gov.in/" target="_blank"> <img src="images/upsc.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="img-responsive" style="margin-top: 20px;">

                                    <a href="http://peb.mp.gov.in/" target="_blank"> <img src="images/vyapam.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">

                                    <a href="https://ssc.nic.in/" target="_blank"><img src="images/ssc.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">
                                    <a href="https://www.ibps.in/" target="_blank"> <img src="images/ibps.jpg" />
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">

                                    <a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="_blank"><img
                                            src="images/JIA.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Controls -->
                    <div class="left carousel-control" style="margin-top:7%">
                        <a href="#carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"
                                style="margin-left:-78px"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <div class="right carousel-control" style="margin-top:7%">
                        <a href="#carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
                                style="margin-right:-78px"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="appwraper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar"    style="height: 281px;" >
                        <h6 style="color:black;"><span lang="en">Services</span></h6>
                        <br />
                        <ul class="categories">
                            <li><a href="/CouncellerAccess"><span lang="en">Counseller Access</span></a></li>
                            <li><a href="/GovermentEmpDepartment"><span lang="en">Government EMP Department</span></a></li>
                            <li><a href="#."><span lang="en">Placement Service Management</span></a></li>
                            <li><a href="/PlacementServiceModel"><span lang="en">Placement Service Model</span></a></li>
                           <li><a href="#"> <span lang="en">Lok Sewa Guarantee</span>  </a></li>
                            
                        </ul>
                    </div>
                    <div class="sidebar">
                        <h6 style="color:black;"><span lang="en"> Career Literature</span></h6>
                        <br />
                        <ul class="categories">
                            <li><a target="blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"><span lang="en"> Company Secretary</span></a></li>
                            <li><a  target="blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"> <span lang="en"> Career Information </span></a></li>
                            <li><a target="blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"> <span lang="en"> Carrer Guideline </span></a></li>
                        </ul>
                        <h6 style="color:black;"> <span lang="en"> Competitive Exams at Glance </span> </h6>
                        <br />
                        <ul class="categories">
                            <li><a href="#."> <span lang="en"> Union Public Service </span> </a></li>
                            <li><a href="#."> <span lang="en"> Public Service Commission </span> </a></li>
                            <li><a href="#."> <span lang="en"> Staff Selection Commission </span> </a></li>
                        </ul>
                    </div>
              
                </div>

                <div class="col-md-6">
                    <div id="LatestDesignation"></div>
                    <ul style="
    margin-bottom: 93%;
">
                    <li class="col-md-12">
                            <div class="jobint" style="background-color: white;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style="text-align: center;color: white;height: 158px;">
                                         <!--<h3 id="employers" class="count">7078</h3>-->
                                           <!-- <h5>Weblink Category</h5> -->
                                           <h6 style="color: white;"><br>
<span lang="en" style="
    color: black;
    /* margin-top: 111px; */
">Useful Web Links</span></h6>
                                           <br>
                                           <ul class="categories" id="weblinks">
                                        </ul>
                                        </div>
                                </div>
                            </div>
                        </li>
               </ul>


               <ul >
                                   <li class="col-md-12">
                                           <div class="jobint" style="background-color:black">
                                               <div class="row">
                                                   <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;    height: 90px;">
                                <!-- Start of CuterCounter Code -->
                               <br>
               <img src="https://www.cutercounter.com/hits.php?id=geqxpad&amp;nd=6&amp;style=72" border="0" alt="visitor counter">
               <!-- End of CuterCounter Code -->
                                                   <br>
                                                       <h3><spn lang="en">Visitor Count</spn></h3>
                                                      
                                                   </div>
                                               </div>
                                           </div>
                                       </li>
                              </ul>
                </div>
                


                <!-- related jobs end -->
                <div class="col-md-3">
                    <!-- Social Icons -->
                    <!-- Sponsord By -->
                    <div class="sidebar" style="background-color:lavenderblush;">

                        <div style="text-align: center;border-bottom: 1px solid #eee;">
                            <h3><span  lang="en"> Job Fairs</span></h3>
                        </div>
                        <marquee direction="up" id="jobfairs" scrollamount="2" style="height: 200px"
                            onmouseover="this.stop();" onmouseout="this.start();"></marquee>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar" style="height: 296px;">
                        <h6 style="color:black;"><span  lang="en">Job Opportunities</span></h6>
                        <br />
                        <ul class="categories">
                            <li><a target="black" href="http://vacancy.mprojgar.gov.in/"><span  lang="en">Vacancy Advertisement Portal</span></a></li>
                            <li><a href="/JobFairScheme"><span  lang="en">Job Fair Scheme</span></a></li>
                         </ul>
                        
                          <h6 style="color:black;"><span  lang="en">Self Employment</span> </h6>
                          <ul class="categories">
                            <li><a target="black" href="https://mpmsme.gov.in/website/self-employment-schemes"><span  lang="en">Self Employment scheme</span></a></li>
                         </ul>
                         <h6 style="color:black;"><span  lang="en">Career Counselling</span> </h6>
                         <ul class="categories">
                                <li><a target="black" href="/CareerCounsellingDetails"><span  lang="en">Career Counselling Details</span></a></li>
                             </ul>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">


                    <ul class="jobslist row">
                        <!--Job 1-->
                        <li class="col-md-3 col-sm-6">
                            <div class="jobint" style="background-color: rgb(231, 69, 164)">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                       <!-- <h3 id="jobseeker" class="count">11078</h3>-->
                                       <h3 id="jobseeker" class="count"></h3>
                                        <h5>Active Job Seekers</h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Job end-->

                        <!--Job 2-->
                        <li class="col-md-3 col-sm-6">
                            <div class="jobint" style="background-color:#9747b8">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                         <!--<h3 id="employers" class="count">7078</h3>-->
                                         <h3 id="employers" class="count"></h3>
                                        <h5>Active Employers</h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Job end-->

                        <!--Job 3-->
                        <li class="col-md-3 col-sm-6">
                            <div class="jobint" style="background-color:#f8a138">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                        <!--<h3 id="Vacancies" class="count">87078</h3>-->
                                        <h3 id="Vacancies" class="count">87078</h3>
                                        <h5>Active Vacancies</h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="jobint" style="background-color:darkseagreen">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                        <!--<h3 id="ClVacancies" class="count">17078</h3>-->
                                        <h3 id="ClVacancies" class="count"></h3>
                                        <h5>Vacancies Closed</h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
         
                <div class="col-md-12">
                <div class="boxes">
                        <div class="pricing-table1" style="background: border-box;font-size: 30px;padding-bottom: 17px;">
                             <span lang="en" class="applybtn" style="color:black;display: none;">     National Career Service</span>
                        </div>
                        <div class="pricing-table1" style="background: white;font-size: 30px;padding-bottom: 17px;display: none;">
                           <img src="/images/ncs.jpg" style="height: 116px;width: 195px;border-radius: 143px;">
                       </div>
                    </div>
                </div>
                
<div class="col-md-4
            ">
                <div class="sidebar" style="
    height: 166px;
">
                    <h6 style="color:#00b1f1;"><span lang="en"> For Job Seeker</span></h6>
                    <br>
                    <ul class="categories">
                        <li><a target="_blank" href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx"><span lang="en"> Know Your NCS Registration No. and Login Details</span></a></li>
                        <li><a target="_blank" href="/pdf/NSC_Jobseeker_Registration_Manual.pdf"><span lang="en">User Manual For Job Seeker</span></a></li>
                        <li><a href="#."> <span lang="en">
                            National Career Service For Jobseeker</span>
                        </a></li>

                    </ul>

                </div>
            </div><div class="col-md-4">
                <div class="sidebar" style="height: 166px;">
            <img src="/images/ncs.jpg" style="height: 116px;width: 195px;border-radius: 143px;/* text-align: center; */margin-left: 58px;">
                </div>
            </div>
            <div class="col-md-4">
                    <div class="sidebar" style="height: 168px;height: 166px;">
                        <h6 style="color:#00b1f1;">  <span lang="en">For Employer</span></h6>
                        <br>
                        <ul class="categories">
                            <li><a target="_blank" href="https://www.ncs.gov.in/employer/Pages/default.aspx"><span lang="en">Employer Login Here</span></a></li>
                            <li><a a="" target="_blank" href="/pdf/Employer.pdf"><span lang="en">National Career Service For Employer</span></a></li>
                         

                        </ul>

                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
         
                <div class="col-md-12">
                <div class="boxes">
                        <div class="pricing-table1" style="background: border-box;font-size: 30px;padding-bottom: 17px;">
                             <span lang="en" class="applybtn" style="color:black;">     National Career Service</span>
                        </div>
                        <div class="pricing-table1" style="background: border-box;font-size: 30px;padding-bottom: 17px;">
                           <img src="/images/ncs.jpg" style="height: 96px;width: 195px;"></img>
                       </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="sidebar">
                    <h6 style="color:#00b1f1;"><span lang="en"> For Job Seeker</span></h6>
                    <br />
                    <ul class="categories">
                        <li><a target="_blank"  href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx"><span lang="en"> Know Your NCS Registration No. and Login Details</span></a></li>
                        <li><a target="_blank" href="/pdf/NSC_Jobseeker_Registration_Manual.pdf"><span lang="en">User Manual For Job Seeker</span></a></li>
                        <li><a href="#."> <span lang="en">
                            National Career Service For Jobseeker</span>
                        </a></li>

                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                    <div class="sidebar" style="height: 168px">
                        <h6 style="color:#00b1f1;">  <span lang="en">For Employer</span></h6>
                        <br />
                        <ul class="categories">
                            <li><a target="_blank" href="https://www.ncs.gov.in/employer/Pages/default.aspx"><span lang="en">Employer Login Here</span></a></li>
                            <li><a a target="_blank"href="/pdf/Employer.pdf"><span lang="en">National Career Service For Employer</span></a></li>
                         

                        </ul>

                    </div>
                </div>
            </div> -->


        </div>
    </div>



    <!-- Top Employers start -->
    <div class="section greybg">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Top <span>Employers</span></h3>
            </div>
            <!-- title end -->

            <ul class="employerList">
                <!--employer-->
                <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Yashaswi Academy for Talent Management"><a
                        href="/joblisting"><img src="images/YATMLogo.png" alt="Company Name" /></a>
                
                 <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Fino Payments Bank"><a
                            href="/joblisting"><img src="images/fino.png" alt="Company Name" /></a>
                            
                <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Premium Reseller"><a
                                href="/joblisting"><img src="images/inpire.png" alt="Company Name" /></a>
                                
                <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Magnum Group"><a
                                    href="/joblisting"><img src="images/magnum.png" alt="Company Name" /></a>
                                   
                 <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" topper"><a
                                        href="/joblisting"><img src="images/topper.png" alt="Company Name" /></a>
                                      
                 <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Vivo Smart Phone"><a
                                            href="/joblisting"><img src="images/vivo.png" alt="Company Name" /></a>
                     
                <li data-toggle="tooltip" data-placement="top" title="" data-original-title=" Appointy"><a
                                         href="/joblisting"><img src="images/appointy.png" alt="Company Name" /></a>
                        
            </ul>
        </div>
    </div>
    <!-- Top Employers ends -->
     <!-- Featured Jobs start -->
     <div class="section greybg">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Featured <span>Jobs</span></h3>
            </div>
            <!-- title end -->
            <!--Featured Job start-->
            <ul class="jobslist row">
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/YATMLogo.png" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="/JobListing">Customer Relationship Officer</a></h4>
                    <div class="company"><a href="/JobListing">Yashaswi Group</a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="/JobListing" class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/YATMLogo.png" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="/JobListing"> Customer Sales Exe</a></h4>
                    <div class="company"><a href="/JobListing">Yashaswi Group </a></div>
                    <div class="jobloc"><label class="partTime">Part Time</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="/JobListing" class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <div style="display: none">
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo3.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#.">SOA Developer - PL SQL </a></h4>
                    <div class="company"><a href="#.">Harel Consulting </a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo4.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> Pl/SQL Developer</a></h4>
                    <div class="company"><a href="#."> SP Staffing Services Private Limited </a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Bangalore</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo5.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> Oracle EBS Technical Developer </a></h4>
                    <div class="company"><a href="#."> CoreEdge Solutions </a></div>
                    <div class="jobloc"><label class="partTime">Part Time</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo6.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> SQL/PLSQL Developer </a></h4>
                    <div class="company"><a href="#."> Arminus Software Pvt. Ltd </a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo7.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#.">MNC Pl/SQL Developer </a></h4>
                    <div class="company"><a href="#."> Sellcraft Global Solutions Private Limited </a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo8.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> Backend Developer </a></h4>
                    <div class="company"><a href="#."> QLS Academy Pvt Limited </a></div>
                    <div class="jobloc"><label class="partTime">Part Time</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo9.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> .Net Software Developer </a></h4>
                    <div class="company"><a href="#."> VASK InfoEdge Pvt. Ltd.</a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job start-->
                    <li class="col-md-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-2 col-sm-2"><img src="images/employers/emplogo10.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                    <h4><a href="#."> Graphic/web Designer</a></h4>
                    <div class="company"><a href="#.">Epictenet Consultancy Private Limited </a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> - <span>Bhopal</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3"><a href="#." class="applybtn">Apply Now</a></div>
                    <div class="col-md-3 col-sm-3 PostedOn"> <span>1 week ago</span></div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                </div>
                    </ul>
            <!--Featured Job end-->
            <!--button start-->
            <div class="viewallbtn"><a href="#" style="    display: none;">View All Featured Jobs</a></div>
            <!--button end-->
        </div>
    </div>
    <!-- Featured Jobs ends -->
    <!-- Popular Searches start -->
    <div class="section">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Popular <span>Searches</span></h3>
            </div>
            <!-- title end -->

            <div class="topsearchwrap row">
                <div class="col-md-6">
                    <!--Categories start-->
                    <h4>Browse By Categories</h4>
                    <ul class="row catelist" id="BrowseByCategories">
                    </ul>
                    <!--Categories end-->
                </div>


                <div class="col-md-6">
                    <!--Cities start-->
                    <h5>Browse By Location</h5>
                    <ul class="row catelist" id="BrowseByStates" style="width: 106%;">
                    </ul>
                    <!--Cities end-->
                </div>

            </div>
        </div>
    </div>
    <!-- Popular Searches ends -->

   
    <div class="section greybg">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Govt <span>Jobs</span></h3>
            </div>
            <!-- title end -->

            <ul class="jobslist row">


                <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:30%">Jobs By Location</h5>


                            <div class="body" style="margin-left:8%">
                                <ul class="catelist" style="margin-left:8%" id="JobsByLocation">

                                </ul>

                            </div>
                        </div>
                    </div>
                </li>

                <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:27%">Jobs By Designation</h5>

                            <ul class="catelist" style="margin-left:15%" id="JobsByDesignation">
                            </ul>

                        </div>
                    </div>
                </li>

                <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:28%">Job By Department</h5>


                            <ul class="catelist" style="margin-left:15%" id="JobByDepartment">


                            </ul>

                        </div>
                    </div>
                </li>


            </ul>

        </div>
    </div>
    <div class="section" style="display:none">

        <div class="container">
            <div class="titleTop">

                <h3>Govt <span>Jobs</span></h3>
            </div>
            <div class="row">

                <div class="widget">
                    <h5 class="widget-title">Jobs By Designation</h5>
                    <ul class="papu-post">


                        <!--Job 1-->
                        <li class="col-md-4 col-sm-6">
                            <div class="jobint">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo1.jpg"
                                            alt="Job Name" /></div>
                                    <div class="col-md-9 col-sm-9">
                                        <h4><a href="#.">Technical Database Engineer</a></h4>
                                        <div class="company"><a href="#.">Datebase Management Company</a></div>
                                        <div class="jobloc"><label class="fulltime">Full Time</label> -
                                            <span>Bhopal</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h5 class="widget-title">Job By Industry</h5>
                        <ul class="papu-post">
                            <li>
                                <div class="media-left"> <a href="#."><img src="images/blog/1.jpg" alt="Blog Title"></a>
                                </div>
                                <div class="media-body"> <a class="media-heading" href="#">Integer vel magna urna.
                                        Vestibulum id nisi</a> <span>April 12, 2019</span> </div>
                            </li>
                            <li>
                                <div class="media-left"> <a href="#."><img src="images/blog/2.jpg" alt="Blog Title"></a>
                                </div>
                                <div class="media-body"> <a class="media-heading" href="#">Integer vel magna urna.
                                        Vestibulum id nisi</a> <span>April 12, 2019</span> </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h5 class="widget-title">Job By Location</h5>
                        <ul class="papu-post">

                            <li>
                                <div class="media-left"> <a href="#."><img src="images/blog/3.jpg" alt="Blog Title"></a>
                                </div>
                                <div class="media-body"> <a class="media-heading" href="#">Integer vel magna urna.
                                        Vestibulum id nisi</a> <span>April 12, 2019</span> </div>
                            </li>
                            <li>
                                <div class="media-left"> <a href="#."><img src="images/blog/4.jpg" alt="Blog Title"></a>
                                </div>
                                <div class="media-body"> <a class="media-heading" href="#">Integer vel magna urna.
                                        Vestibulum id nisi</a> <span>April 12, 2019</span> </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Video start -->
    <div class="videowraper section" style="display:none">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Watch Our <span>Video</span></h3>
            </div>
            <!-- title end -->

            <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere
                lacus, id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui non, semper
                orci.</p>
            <a href="#."><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- Video end -->
    <!-- Latest Jobs start -->
    <div class="section greybg" style="    display: none;">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Latest <span>Jobs</span></h3>
            </div>
            <!-- title end -->
            <ul class="jobslist row">
                    <!--Job 1-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo1.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#."> UI DEVELOPER </a></h4>
                    <div class="company"><a href="#."> SSoft Solutions </a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Bhopal</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    
                    </li>
                    <!--Job end-->
                    <!--Job 2-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo11.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#."> Wordpress/ui/ux Developer </a></h4>
                    <div class="company"><a href="#."> VCC Group </a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> -
                    <span>Bhopal</span><span style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    
                    </li>
                    <!--Job end-->
                    <!--Job 3-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo12.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#.">Technical Database Engineer</a></h4>
                    <div class="company"><a href="#.">Datebase Management Company</a></div>
                    <div class="jobloc"><label class="partTime">Part Time</label> - <span>Pune</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 4-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo13.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#.">Backend Developer</a></h4>
                    <div class="company"><a href="#.">QLS Academy Pvt Limited</a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> -
                    <span>Bhopal</span><span style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 5-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo14.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#."> SQL/PLSQL Developer</a></h4>
                    <div class="company"><a href="#.">Datebase Management Company</a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Bhopal</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 6-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo15.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#."> SOA Developer </a></h4>
                    <div class="company"><a href="#."> Sellcraft Global Solutions Private Limited</a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Gurgaon</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 7-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo16.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#."> PLSQL DEVELOPER </a></h4>
                    <div class="company"><a href="#."> Autosystem Pvt ltd </a></div>
                    <div class="jobloc"><label class="partTime">Part Time</label> - <span>Chennai</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 8-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo2.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#.">MNC Pl/sql Developer </a></h4>
                    <div class="company"><a href="#."> Sellcraft Global Solutions Private Limited </a></div>
                    <div class="jobloc"><label class="freelance">Free Lancer</label> -
                    <span>Pune</span><span style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    <!--Job 9-->
                    <li class="col-md-4 col-sm-6">
                    <div class="jobint">
                    <div class="row">
                    <div class="col-md-3 col-sm-3"><img src="images/employers/emplogo3.jpg" alt="Job Name" />
                    </div>
                    <div class="col-md-9 col-sm-9">
                    <h4><a href="#.">Backend Developer </a></h4>
                    <div class="company"><a href="#.">Datebase Management Company</a></div>
                    <div class="jobloc"><label class="fulltime">Full Time</label> - <span>Delhi</span><span
                    style="margin-left: 20%">2 Days ago</span></div>
                    </div>
                    </div>
                    </div>
                    </li>
                    <!--Job end-->
                    </ul>
            <!--view button-->
            <div class="viewallbtn"><a href="#." style="    display: none;">View All Latest Jobs</a></div>
            <!--view button end-->
        </div>
    </div>
    <!-- Latest Jobs ends -->
    <!-- Testimonials start -->
    <div class="section" style="display:none">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3>Success <span>Stories</span></h3>
            </div>
            <!-- title end -->

            <ul class="testimonialsList">
                <!--user 1 Start-->
                <li class="item">
                    <div class="testimg"><img src="images/userimg.jpg" alt="Your alt text here" /></div>
                    <div class="clientname">Garry Miller Jr</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus.
                        Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum
                        augue nec aliquet aliquet."</p>
                    <div class="clientinfo">CEO - Gates Inc</div>
                </li>
                <!--user 1 end-->
                <!--user 2 Start-->
                <li class="item">
                    <div class="testimg"><img src="images/userimg.jpg" alt="Your alt text here" /></div>
                    <div class="clientname">Garry Miller Jr</div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id nunc at finibus.
                        Etiam sollicitudin faucibus cursus. Proin luctus cursus nulla sed iaculis. Quisque vestibulum
                        augue nec aliquet aliquet."</p>
                    <div class="clientinfo">CEO - Gates Inc</div>
                </li>
                <!--user 2 end-->
            </ul>
        </div>
    </div>
    <!-- Testimonials End -->
    <!-- App Start -->
    <div class="appwraper" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <!--app image Start-->
                    <div class="appimg"><img src="images/app-mobile.png" alt="Your alt text here" /></div>
                    <!--app image end-->
                </div>
                <div class="col-md-7 col-sm-6">
                    <!--app info Start-->
                    <div class="titleTop">
                        <div class="subtitle">Step Forword Now</div>
                        <h3>The Jobee APP</h3>
                    </div>
                    <div class="subtitle2">A world of oppertunity in your hand</div>
                    <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue
                        posuere lacus, id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui
                        non, semper orci. Curabitur blandit, diam ut ornare ultricies.</p>
                    <div class="appbtn">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6"><a href="#."><img src="images/apple-btn.png"
                                        alt="Your alt text here"></a></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><a href="#."><img src="images/andriod-btn.png"
                                        alt="Your alt text here"></a></div>
                        </div>
                    </div>
                    <!--app info end-->
                </div>
            </div>
        </div>
    </div>

    <footer>
        <% include partials/footer %>
    </footer>

    <% include partials/script %>
    <script>
        // Instantiate the Bootstrap carousel
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>

    <script type="text/javascript" src="/customjs/Index.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            createZoomMeet();
            SessionClear();
            FillCategory();
            FillCity();
            FillSkills();
            Filljobfairs();
            FillState();
            FillFooterDetail('19');
            FillBROWSEBYCATEGORIES();
            FillBROWSEBYStates();
            FillJobsByLocation();
            FillJobsByDesignation();
            FillJobByIndustry();
            fetchLatestDesignation();
            Counter();
            Fetchweblinkurl()
        });




    </script>
    <script>


        function FillBROWSEBYCATEGORIES() {
            jQuery.ajax({
                url: serverpath + "JobByIndustry/3",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++)
                        appenddata += " <li class='col-md-6 col-sm-6'><a href='/joblisting'>" + data[0][i].Industry + " <span style='padding: 2px;'>("+data[0][i].Vacancies+")</span></a></li>"

                    $('#BrowseByCategories').html(appenddata);
                },
                error: function (result) {
                }
            });
        }

        function FillBROWSEBYStates() {
            jQuery.ajax({
                url: serverpath + "JobByLocation/3",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += " <li class='col-md-6 col-sm-6'><a href='/joblisting'>" + data[0][i].Location + "<span style='padding: 5px;'>("+data[0][i].Vacancies+")</span></a></li>"
                    }
                    $('#BrowseByStates').html(appenddata);

                },
                error: function (result) {
                }
            });
        }



        function FillJobsByLocation() {
            jQuery.ajax({
                url: serverpath + "GovtJobByLocation/9",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a style='color: #999'>" + data[0][i].Location + "</a></li>"
                    }
                    $('#JobsByLocation').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function FillJobsByDesignation() {
            jQuery.ajax({
                url: serverpath + "GovtJobByTitle/9",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a style='color: #999'>" + data[0][i].JobTitle + "</a></li>"
                    }

                    $('#JobsByDesignation').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function FillJobByIndustry() {
            jQuery.ajax({
                url: serverpath + "GovtJobByIndustry/9",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a style='color: #999'>" + data[0][i].Industry + "</a></li>"
                    }

                    $('#JobByDepartment').html(appenddata);

                },
                error: function (result) {
                }
            });
        }

        function fetchLatestDesignation() {
            jQuery.ajax({
                url: serverpath + "JobByTitle/6",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    var Icon =""
                    for (var i = 0; i < data[0].length; i++) {
                        Icon ="/images/Designation/Designation"+i+".jpg";
                        appenddata += "<div class='col-md-4'><div class='job-header'><div class='contentbox' style='text-align: -webkit-center;    max-height: 140px;'> <a href='/joblisting' style='    color: black;'> <img class='cardsimage' src='" + Icon + "' /><h5 class='cardheading'>" + data[0][i].JobTitle + "</h5><span style='margin-left: -5%;'>("+ data[0][i].Vacancies +")</span></a></div></div></div>"
                    }


                    $('#LatestDesignation').html(appenddata);
                },
                error: function (result) {
                }
            });
        }
    </script>
     
 </body>

</html>