<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
<link href="/js/revolution-slider/css/settings.css" rel="stylesheet">
</head>
<body  style="overflow-x: hidden;">
<header>
<% include partials/header %>
</header>
<!-- Revolution slider start -->

<div class="row">
    <div class="col-md-8"> </div>
    <div class="col-md-4"> 

                  <div class="userccount" style="z-index: 6 !important;position: absolute;margin-top: 26px;">
                    <h5> <span lang='en'>Login</span></h5>


                    
                    <!-- login form -->
                    <div class="formpanel">
                      <div class="formrow">
                        <input type="text" id="txtEmplogin" class="form-control" onfocusout=" getvalidated('txtEmplogin','text','User name')" placeholder="Username">
                        <span id="validtxtEmplogin" style="font-size: 11px; color: #cc0033; "></span>
                      </div>


                      <div class="formrow">
                        <input type="password" id="txtemppassword" class="form-control" onfocusout=" getvalidated('txtemppassword','text','Password')" placeholder="Password">
                        <span id="validtxtemppassword" style="font-size: 11px; color: #cc0033; "></span>
                     
                        <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                        data-placement="bottom"
                        title="<br><h6> Password must contain<br> the following: </h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                        data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        <span toggle="#txtemppassword" class="fa fa-fw fa-eye field-icon toggle-password" style="margin-right: 33px;"></span>
                        <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain atleast one letter, atleast one number, and be longer than 8 charaters</span>
                  
                      </div>
                      <div class="formrow">
                        <tr>
                        <td style="text-align: left">
                        <strong><span style="font-size: 15px; color: #cc0033" lang="en">Please enter the text below in text box</span></strong></td>
                        </tr>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <div class="formrow" style="display:block">
                              <div id="captchaempolyerlogin">
                              </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="formrow">
                            <a onclick="createCaptchaemplogin()" href="#">
                                <i  class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                              </a>
                              </div>
                          </div>
                      </div>
                    
                    
                      <div class="formrow" style="display:block">
                        <input type="text" placeholder="Captcha" id="cpatchaTextBoxemplogin" onfocusout=" getvalidated('cpatchaTextBoxemplogin','text','Captcha')"/>
                            <span id="validcpatchaTextBoxemplogin" style="font-size: 11px; color: #cc0033; "></span> 
                      </div>
                      <input type="submit" onclick="CheckValidationemp()" class="btn" value="Login">
                    </div>
                    <!-- login form  end--> 
                    
                    <!-- sign up form -->
                    <!-- <div class="newuser"><a href="/Employerforgot">
                      <span lang='en'>Forgot Password</span></a></div>

                    <div class="newuser"><i class="fa fa-user" aria-hidden="true"></i> <span lang='en'>New User?</span> <a href="/Registration">
                      <span lang='en'>Register Here</span></a></div> -->

                      <div class="newuser">
                        <div style="float:left;margin-left: -2%;"><span><a href="/Employerforgot" style="font-size:13px;"><span lang="en">Forgot Password?</span></a></span></div>
                        <div style="float:right;margin-right: -3%;"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px;"><span lang="en">New User?</span></span> <a href="/Registration" style="font-size:13px;"><span lang="en">Register Here</span></a></div>
                      </div>

                    <!-- sign up form end--> 
                    
                  </div>

      
    </div>
        
<div class="tp-banner-container">
        <div class="tp-banner" >
          <ul>
            <!--Slide-->
            
            <li data-slotamount="7" data-transition="3dcurtain-vertical" data-masterspeed="1000" data-saveperformance="on"> <img alt="Your alt text" src="images/slider/dummy.png" data-lazyload="images/slider/banner.jpg">
              <div class="caption lfl large-title tp-resizeme slidertext1" data-x="left" data-y="100" data-speed="600" data-start="1600">EMPLOYER ZONE
               </div>
              <div class="caption lfb large-title tp-resizeme sliderpara" data-x="left" data-y="200" data-speed="600" data-start="2800">For employers who need great people. <br />Find Better, Faster.
               </div>
              <div class="caption lfl large-title tp-resizeme slidertext5" data-x="left" data-y="280" data-speed="600" data-start="3500"><a href="/Contactus">Contact Us</a></div>
              
            </li>
            <!--Slide end--> 
            <!--Slide-->
            <li data-slotamount="7" data-transition="3dcurtain-vertical" data-masterspeed="1000" data-saveperformance="on"> <img alt="Your alt text" src="images/slider/dummy.png" data-lazyload="images/slider/banner2.jpg">
              <div class="caption lfl large-title tp-resizeme slidertext1" data-x="left" data-y="100" data-speed="600" data-start="1600">Your next hire is here
              </div>
              <div class="caption lfb large-title tp-resizeme sliderpara" data-x="left" data-y="200" data-speed="600" data-start="2800">End your hunt for the perfect employee
              </div>
              <div class="caption lfl large-title tp-resizeme slidertext5" data-x="left" data-y="280" data-speed="600" data-start="3500"><a href="#.">Contact Us</a></div>
            </li>
            <!--Slide end-->
            
          </ul>
      
        </div>
      </div>
      <!-- Revolution slider end --> 
      <!-- How it Works start -->
    </div>
      <div class="section greybg" style="height: 10px;background-color: gainsboro;">
          <div class="container"> 
            <!-- title start -->
            <div class="titleTop" style="height: 55px;margin-top: -15px;">
      
              <h2><span lang='en'>Our Services</span> </h2>
            </div>
          </div>
        </div>
<div class="section howitwrap">
    <div class="container"> 
      <!-- title start -->
      
      <!-- title end -->
      <ul class="howlist row">
     <!--step 2-->
     <div class="col-md-2"></div>
        <li class="col-md-4 col-sm-4">
          <div class="iconcircle"><i class="fa fa-black-tie" aria-hidden="true"></i></div>
          <h4>Job Posting Services</h4>
          <p>
              Quick and easy job posting process. Reach out to millions of active jobseekers on mp rojgar. Manage  advanced response  software.
          </br> 
          <a href="#" style="display: none;">KNOW MORE</a>
            </p>
        </li>
        <!--step 2 end--> 
             <!--step 1-->
             <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><i class="fa fa-user" aria-hidden="true"></i></div>
                <h4>Resume Database Access</h4>
                <p>
                    Access the mp rojgar database of 3.2 million jobseekers. Search and shortlist the best candidates using our cutting edge tools.
                </br> <a href="#" style="display: none;">KNOW MORE</a>
                  </p>
              </li>
              <!--step 1 end--> 
      </ul>
    </div>
  </div>
  <!-- How it Works Ends --> 

      
<!--Footer-->
<footer>
<% include partials/footer %>
</footer>
<% include partials/script %>
<script src="../customjs/EmployerZone/EmployerLogin.js"></script> 
<script type="text/javascript"> 
//SessionClear() 
 $(document).ready(function (){
  createZoomMeet();
 })
$(document).keypress(function(event){

    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      CheckValidationemp()
    }
});
</script> 
</body>
</html>  