body { padding-right: 0 !important }
.profileheading {
  color:#666666;
}
.profilesubheading{
  font-size: 13px;
  color:#b8b8b8 !important;
}
.profiledetail{
  color:#666 !important;
  margin: 0 !important;
}
.table{
  width:100%;
}
.tooltip-inner{
  white-space: pre;
  max-width: none;
  text-align: left;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin:10px 10px 0px 0px;
}
.cardsimage{
  MARGIN-LEFT:14px;
  margin-top:-25px;
}
.cardheading{
  margin-top:20px;
  font-size: 12px;
}
.customsidebar{
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 6px;
  text-align: center;
  margin-bottom: 20px;
  /* box-shadow: 0px 3px 10px grey; */
  border-radius: 3px;
}
.customsidebar .number{
  font-size: 2.143em;
  font-weight: 500;
  text-decoration: none;
  color: #5c4aae!important;
}
.customsidebar .text{
  color: #787878!important;
  text-decoration: none;
}
.custom2sidebar{
background: #fff;
border: 1px solid #e4e4e4;
padding: 20px;
color:#7a7a7a;
font-size: 18px;
/* margin-bottom: 30px; */
/* box-shadow: 0px 3px 10px grey; */
border-radius: 3px;
}
.Contactus
{
  font-weight:700;
}
.DivisionCentre
{
  font-weight:300;
}
.homeicon
{
  margin-top:-1%;
  font-size: 90% !important;
}
.Contactheading
{
  font-size: 16px;
  /* text-align: center; */
  margin-left: 32%;
}
.Email
{
  font-size: 37px !important;
}
.PostedOn
{
  margin-top: 4%;
  color: #999;
}

    /* The message box is shown when the user clicks on the password field */
    
    #message {
      display:none;
      background: #f1f1f1;
      color: #000;
      position: relative;
      padding: 10px;
      margin-top: 5px;
    }
    
    #message p {
      padding: 0px 35px;
      font-size: 14px;
    }
    
    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
      color: green !important;
    }
    
    .valid:before {
      position: relative;
      left: -35px;
      content: "✔";
    }
    
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
      color: red !important;
    }
    
    .invalid:before {
      position: relative;
      left: -35px;
      content: "✖";
    }
    .field-icon {
  float: right;
  margin-right: 40px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}
.info-icon-reg{
  float: right;
  margin-right: 10px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}

.buypackages
{
  padding: 0 !important;
}
.STARTER
{
  margin-top: 0px !important;
}
    
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.label-icon {
  float: right;
  margin-right: 40px;
  margin-top: -28px;
  position: absolute;
  z-index: 2;
}
.asterisk_input::after {
  content: " *";
  color: #e32;
  position: absolute;
  font-size: 163%;
  padding: 22px 2px 0 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f35e5e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.m-table.m-table--head-no-border thead th{border-top:0}.m-table.m-table--head-bg-brand thead th{background:#716aca;color:#fff;border-bottom:0;border-top:0;text-align: center;}.m-table.m-table--head-separator-brand thead th{border-top:0;border-bottom:1px solid #716aca}.m-table tr.m-table__row--brand td,.m-table tr.m-table__row--brand th{background:#716aca;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-brand,.m-table.m-table--border-brand td,.m-table.m-table--border-brand th{border-color:#716aca}.m-table.m-table--head-bg-metal thead th{background:#c4c5d6;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-metal thead th{border-top:0;border-bottom:1px solid #c4c5d6}.m-table tr.m-table__row--metal td,.m-table tr.m-table__row--metal th{background:#c4c5d6;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-metal,.m-table.m-table--border-metal td,.m-table.m-table--border-metal th{border-color:#c4c5d6}.m-table.m-table--head-bg-light thead th{background:#fff;color:#282a3c;border-bottom:0;border-top:0}.m-table.m-table--head-separator-light thead th{border-top:0;border-bottom:1px solid #fff}.m-table tr.m-table__row--light td,.m-table tr.m-table__row--light th{background:#fff;color:#282a3c;border-bottom:0;border-top:0}.m-table.m-table--border-light,.m-table.m-table--border-light td,.m-table.m-table--border-light th{border-color:#fff}.m-table.m-table--head-bg-accent thead th{background:#00c5dc;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-accent thead th{border-top:0;border-bottom:1px solid #00c5dc}.m-table tr.m-table__row--accent td,.m-table tr.m-table__row--accent th{background:#00c5dc;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-accent,.m-table.m-table--border-accent td,.m-table.m-table--border-accent th{border-color:#00c5dc}.m-table.m-table--head-bg-focus thead th{background:#9816f4;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-focus thead th{border-top:0;border-bottom:1px solid #9816f4}.m-table tr.m-table__row--focus td,.m-table tr.m-table__row--focus th{background:#9816f4;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-focus,.m-table.m-table--border-focus td,.m-table.m-table--border-focus th{border-color:#9816f4}.m-table.m-table--head-bg-primary thead th{background:#5867dd;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-primary thead th{border-top:0;border-bottom:1px solid #5867dd}.m-table tr.m-table__row--primary td,.m-table tr.m-table__row--primary th{background:#5867dd;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-primary,.m-table.m-table--border-primary td,.m-table.m-table--border-primary th{border-color:#5867dd}.m-table.m-table--head-bg-success thead th{background:#34bfa3;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-success thead th{border-top:0;border-bottom:1px solid #34bfa3}.m-table tr.m-table__row--success td,.m-table tr.m-table__row--success th{background:#34bfa3;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-success,.m-table.m-table--border-success td,.m-table.m-table--border-success th{border-color:#34bfa3}.m-table.m-table--head-bg-info thead th{background:#36a3f7;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-info thead th{border-top:0;border-bottom:1px solid #36a3f7}.m-table tr.m-table__row--info td,.m-table tr.m-table__row--info th{background:#36a3f7;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-info,.m-table.m-table--border-info td,.m-table.m-table--border-info th{border-color:#36a3f7}.m-table.m-table--head-bg-warning thead th{background:#ffb822;color:#111;border-bottom:0;border-top:0}.m-table.m-table--head-separator-warning thead th{border-top:0;border-bottom:1px solid #ffb822}.m-table tr.m-table__row--warning td,.m-table tr.m-table__row--warning th{background:#ffb822;color:#111;border-bottom:0;border-top:0}.m-table.m-table--border-warning,.m-table.m-table--border-warning td,.m-table.m-table--border-warning th{border-color:#ffb822}.m-table.m-table--head-bg-danger thead th{background:#f4516c;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--head-separator-danger thead th{border-top:0;border-bottom:1px solid #f4516c}.m-table tr.m-table__row--danger td,.m-table tr.m-table__row--danger th{background:#f4516c;color:#fff;border-bottom:0;border-top:0}.m-table.m-table--border-danger,.m-table.m-table--border-danger td,.m-table.m-table--border-danger th{border-color:#f4516c}.m-wizard .m-wizard__form .m-wizard__form-step{display:none}.m-wizard .m-wizard__form .m-wizard__form-step.m-wizard__form-step--current{display:block}.m-wizard [data-wizard-action=submit]{display:none}.m-wizard [data-wizard-action=prev],.m-wizard.m-wizard--step-first [data-wizard-action=prev]{display:none}.m-wizard.m-wizard--step-last [data-wizard-action=submit]{display:inline-block!important}.m-wizard.m-wizard--step-last [data-wizard-action=next]{display:none!important}.m-wizard.m-wizard--step-last [data-wizard-action=prev]{display:inline-block!important}.m-wizard.m-wizard--step-between [data-wizard-action=next]{display:inline-block!important}.m-wizard.m-wizard--step-between [data-wizard-action=prev]{display:inline-block!important}.m-wizard.m-wizard--1 .m-wizard__head{margin:3rem 0 3rem 0}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__progress .progress{-webkit-border-radius:.71rem;-moz-border-radius:.71rem;-ms-border-radius:.71rem;-o-border-radius:.71rem;border-radius:.71rem;height:.71rem;position:relative;overflow:visible}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__progress .progress .progress-bar{position:relative;-webkit-border-radius:.71rem;-moz-border-radius:.71rem;-ms-border-radius:.71rem;-o-border-radius:.71rem;border-radius:.71rem}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__progress .progress .progress-bar:after{content:'';display:block;position:absolute;width:1.3rem;height:1.3rem;right:-.65rem;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;z-index:1;top:-.3rem}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps{margin-top:3rem;width:100%;display:table;table-layout:fixed}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step{display:table-cell;vertical-align:middle}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info{display:table}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number{display:table-cell;vertical-align:middle;text-decoration:none;outline:0!important}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number>span{width:4rem;height:4rem;-webkit-border-radius:100%;-moz-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;border-radius:100%;justify-content:center;align-items:center;display:flex}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number>span>span{font-size:1.7rem;font-weight:500}.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-line{display:table-cell;vertical-align:middle}