<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../partials/head %>
</head>
<body>
<header>
<% include ../../partials/header %>
</header>
<div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">


          <div class="userccount" style="background: #4a90e25c;margin-top: 27px; width: 95%;margin-left: 29px;">
            <div class="">
              <h5 style="font-size:16px; color:black; text-align:left;">Your Product Detail</h5>
              <!-- login form -->
            
              <!-- login form  end-->
              
                <div class="jobdetail">
                    
                    <ul class="jbdetail" >
                        <li class='row'><div class='col-md-6 col-xs-6' style="color:black;">14 days Product with Total amount</div><div class='col-md-6 col-xs-6'><span>INR  - 7000</span></div></li>
                        <li class='row'><div class='col-md-6 col-xs-6'style="color:black;">GST @ 18 %</div><div class='col-md-6 col-xs-6'><span>INR  1260 </span></div></li>
                        <li class='row'><div class='col-md-6 col-xs-6'style="color:black;"> Total</div><div class='col-md-6 col-xs-6'><span>INR  - 8260</span></div></li>
                    </ul>
                
            </div>

            </div>

          </div>
        </div>
        <div class="col-md-6" style="margin-left:-30px">


          <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888; height: 322px">
            <div class="formpanel">
              <h5 style="font-size:20px;">Your Detail For Payment</h5>
              <!-- login form -->
              <div class="formrow">
                <input type="text" id="buypackageusername" class="form-control" placeholder="User Name">
              </div>
              <div class="formrow">
                <input type="password" id="buypackagepassword" class="form-control" placeholder="Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              </div>
             <div class="formrow" style="display:block">
                <input type="button" id="login" class="btn" value="Proceed For Payment">
              </div>
              <!-- END CAPTCHA -->
              <!-- login form  end-->



            </div>
            <!-- sign up form -->
            <div class="newuser" style="margin-top:0 !important">
              <div style="float:left"><span><a href="/forgot" style="font-size:13px;">Forgot Password?</a></span></div>
              <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px; ">New
                  User?</span> <a href="/buyPackageRegistration" style="font-size:13px;color:black;">RegisterHere</a>
              </div>
            </div>

            <!-- sign up form end-->

          </div>
        </div>
      </div>
    </div>
  </div>
<footer>
    <% include ../../partials/footer %>
</footer>


</body>
</html>