<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../partials/head %>
</head>
<body>
<header>
<% include ../../partials/header %>
</header>
<div class="pageTitle" style="height:0">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading">Packages</h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="breadCrumb"><a href="/">Home</a> / <span>Packages</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Title End -->
      <div class="paypackages"> 
        <!---four-paln-->
        <div class="four-plan" style="padding:13px">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">4 Days </li>
                  <li class="plan-pages">Resumes access    - 150  </li>
                  <li class="plan-pages">Mass Mailing  - 1000 </li>
                  <li class="plan-pages">Promotion@YATM - 10 days </li>
                  <li class="plan-pages">Vaccancy Posting  - 1 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">7 Days </li>
                  <li class="plan-pages">Resumes access    - 250  </li>
                  <li class="plan-pages">Mass Mailing  - 3000 </li>
                  <li class="plan-pages">Promotion@YATM - 15 days </li>
                  <li class="plan-pages">Vaccancy Posting  - 4 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">14 Days </li>
                  <li class="plan-pages">Resumes access    - 500  </li>
                  <li class="plan-pages">Mass Mailing  - 7000 </li>
                  <li class="plan-pages">Promotion@YATM - 20 days </li>
                  <li class="plan-pages">Vaccancy Posting  - 7 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">21 Days </li>
                  <li class="plan-pages">Resumes access    - 1000  </li>
                  <li class="plan-pages">Mass Mailing  - 10000 </li>
                  <li class="plan-pages">Promotion@YATM - 25 days </li>
                  <li class="plan-pages">Vaccancy Posting  - 10 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12"></div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">30 Days </li>
                  <li class="plan-pages">Resumes access    - 2000  </li>
                  <li class="plan-pages">Mass Mailing  - 15000 </li>
                  <li class="plan-pages">Promotion@YATM - 30 days </li>
                  <li class="plan-pages">Vaccancy Posting  - 15 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="boxes">
                    <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
                  <li class="plan-date">15 Days </li>
                  <li class="plan-pages">Job Fair Alerts   - 3    </li> 
                  <li class="plan-pages">Campus Recruitment   - 2 </li>
                  <li class="plan-pages">Promotion@YATM - 5 days </li>
                  <li class="plan-pages">Training Informations     - 4 </li>
                  <li class="order"><a href="/buyPackageLogin">Buy now</a></li>
                </ul>
              </div>
                <div class="col-md-3 col-sm-6 col-xs-12"></div>
            </div>
          </div>
        </div>
        <!---end four-paln--> 
      </div>
<footer>
        <% include ../../partials/footer %>
    </footer>
        
 
  </body>
  </html>