<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../partials/head %>
</head>
<body>
<header>
<% include ../../partials/header %>
</header>
<div class="listpgWraper">
    <div class="container">
       <div class="row">
          <div class="col-md-8 col-md-offset-2">
             <div class="userccount">
                <div class="socialLogin">
                   <h5>Create an account for Payment </h5>
                </div>
                <div class="tab-content formpanel">
                   <div class="row">
                      <div class="col-md-6">
                         <div class="formrow">
                            <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                               placeholder="Email ID / User name">

                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="formrow">
                            <input type="text" name="name" id="jobseekermiddlename" class="form-control"
                               placeholder="Password">
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-6">
                         <div class="formrow">
                            <input type="text" name="name" id="jobseekerlastname" class="form-control"
                               placeholder="Company  Name">
                         </div>
                      </div>
                      <div class="col-md-6">
                        <div class="formrow">
                           <select class="form-control" id="gender" name="gender" style="height:46px;">
                              <option value="0">Select Type</option>
                              <option value="">Company</option>
                              <option value="">Consultant</option>
                              <option value="">College</option>
                           </select>
                        </div>
                     </div>
                    
                   </div>
                   <div class="row">
                    <div class="col-md-6">
                        <div class="formrow">
                           <input type="text" name="name" id="fathersname" class="form-control"
                              placeholder="Contact Person Name">
                        </div>
                     </div>
                      <div class="col-md-6">
                         <div class="formrow">
                            <select class="form-control" id="district" name="District" style="height:46px;">
                           <option> Select Designation </option>
                            </select>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                    
                    <div class="col-md-6">
                        <div class="formrow">
                           <input type="text" name="name" id="fathersname" class="form-control"
                              placeholder="Company Address">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="formrow">
                           <input type="text" name="name" id="fathersname" class="form-control"
                              placeholder="Company Identification  Number">
                        </div>
                     </div>
                   </div>
               
                   <div class="row">
                    <div class="col-md-6">
                       <div class="formrow">
                          <input type="text" name="name" id="jobseekerlastname" class="form-control"
                             placeholder="Enter GST Number">
                       </div>
                    </div>
                    <div class="col-md-6">
                        <div class="formrow">
                           <input type="number" name="number" id="Phone"
                              onkeypress="if(this.value.length>=10) { return false;}" class="form-control"
                              placeholder="Enter Contact Number">
                        </div>
                     </div>
                  
                 </div>
                
           
                   <div class="row">
                    <div class="col-md-6">
                        <div class="formrow">
                           <input type="number" name="number" id="Phone"
                              onkeypress="if(this.value.length>=12) { return false;}" class="form-control"
                              placeholder="Enter Landline Number">
                        </div>
                     </div>
                      <div class="formrow" style="display:block">
                         <input type="button"  class="btn" value="Register">
                      </div>
                   </div>
                   <div class="formrow">
                      <div class="newuser" style="font-size:13px; ">
                         <i class="fa fa-user" aria-hidden="true">
                         </i> Already a Member? <a href="/buyPackageLogin">Login Here</a>
                      </div>
                   </div>



                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<footer>
    <% include ../../partials/footer %>
</footer>
    

</body>
</html>