<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/css/captcha.css" rel="stylesheet">
  <!-- <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
  <script src="/js/popper.min.js"></script>
  <% include ../../partials/head %>
  
  <script src="/js/summernote-bootstrap.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>

<body >
  <header>
    <% include ../../partials/Homeheader %>
  </header>


  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Edit Vacancy</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> / <span>Edit Vacancy</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="userccount">
            <div class="formpanel">
              <!-- Vacancy Information -->  
              <h5>  Vacancy Details</h5>         
                <div class="row">
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Select Sector</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                           <input type="text" name="Designation" id="Skill" class="form-control " 
                           placeholder="Sector" onfocusout="getvalidated('Skill','select','Sector');FillRole(sessionStorage.SectorId,'0');">
                           
                         <span id="validSkill" style="font-size: 11px; color: #cc0033; "></span>
                       
                          </div>
                      </div>
                   </div>
                 
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en"> Select Role	</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="Prefrences" name="Sector" onfocusout="getvalidated('Prefrences','select','Role')" style="height:46px;">
                            </select>
                            <span id="validPrefrences" style="font-size: 11px; color: #cc0033; "></span>
                       
                          </div>
                      </div>
                   </div>
               
                  </div>
                  <div class="row">
                        <div class="col-md-6 forvalidation">

                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en">  
                                         Name  of employer</span>&nbsp<span class="asterisk_input label-icon"></span></label>
                                 <div class="formrow">
                                    <input type="text" name="name" id="nameandempadd"
                                      class="form-control" placeholder=" Name  of employer"  disabled>
                                 
                                 </div>
                              </div>
                            
                           </div>
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Type of worker required (Designation)</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                           <input type="text" name="Designation" id="Designation" class="form-control "
                           placeholder="Your Designation" onfocusout="getvalidated('Designation','text','Designation')">
                           
                            <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
                       
                         </div>
                      </div>
                    
                   </div>
             
                  </div>
                  <div class="row">
                        <div class="col-md-12">

                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en">  
                                       	Description of duties</span>&nbsp<span class="asterisk_input label-icon"></span></label>
                                 <div class="formrow" id="summernote">
                                    
                                   
                                 </div>
                              </div>
                            
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 forvalidation">

                                 <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                       <span lang="en"> 	Type of Vacancy	</span>&nbsp<span class="asterisk_input label-icon"></span>
                                    </label>
                                    <div class="formrow">
                                        <select class="form-control" id="Vacancy" name="name" style="height:46px;">
                                      
                                        </select>
                                      
                                     </div>
                                 </div>
                              </div>
              
                  <div class="col-md-6 forvalidation">

                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">Number of Vacancies</span>&nbsp<span class="asterisk_input label-icon"></span>
                           </label>
                           <div class="formrow">
                              <input type="text" name="name" id="numberofva" maxlength="5"
                                 class="form-control" placeholder="Number of Vacancies" onfocusout="getvalidated('numberofva','text','Number of Vacancies')
                                 ">
                                 <span id="validnumberofva" style="font-size: 11px; color: #cc0033; "></span>
                       
                           </div>
                        </div>
                      
                     </div>
                  </div>
                     <div class="row">
                     <div class="col-md-2 forvalidation">
                        <div class="formrow">
                          <label for="example-email-input" class="col-2 col-form-label">
                             <span lang="en">Pay/Allowances</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                             <div>
                                <input type="text" maxlength="10" class="form-control" id="minSalary"class="form-control" placeholder="Minimum" >
                             </div>
                           </div>
                          </div>
                   
                          <div class="col-md-2 forvalidation">
                             <div class="formrow">
                                   
                                <div style="margin-top: 20%;">
                                     <input type="text" maxlength="10" class="form-control" id="maxSalary"class="form-control" placeholder="Maximum" >
                                  </div>
                            </div>
                         </div>
                    
                         <div class="col-md-2 forvalidation">
                          <div class="formrow">
                                <div style="margin-top: 20%;">
                            <select name="" id="paytype" class="form-control" style="height: 42px;">
                               <option >Per Year</option>
                               <option >Per Month</option>
                               <option >Per Hour</option>
                            </select>
                             </div>
                         </div>
                         </div>
                         <div class="col-md-6 forvalidation">
  
                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en">Last date to apply</span>
                                 </label>
                                 <div class="formrow">
                                       <input type="text"
                                        class="form-control rojdatepicker"  id="Lastdatetoapply" placeholder="Last date to apply">
                                       <span id="validLastdatetoapply" style="font-size: 11px; color: #cc0033; "></span>
                             
                                    </div>
                              </div>
                           </div>
                        </div>
                           <div class="row">
                 
                     <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">  
                                       Place of Work(Name of Town/Village )</span>&nbsp<span class="asterisk_input label-icon"></span></label>
                              <div class="formrow">
                                    <select name="" id="PlaceofWork" class="form-control">
                                     
                                       </select>
                                
                              </div>
                           </div>
                         
                        </div>
                   
                  
                      <div class="col-md-6 forvalidation">
   
                         <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">Gender</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
                            <div class="formrow">
                                <select class="form-control" id="Gender" name="" >
                              <option value="0"> Select Gender</option> 
                              <option value="1">Male</option>
                               <option value="2">Female</option>
                               <option value="3">Any</option> 
                              </select>
                               
                             </div>
                         </div>
                      </div>
                    
                    </div>
                  
                    <h5>   Eligibility Criteria</h5>
                  
                  
  
    <div class="row">
      <div class="col-md-2 forvalidation">
         <div class="formrow">
           <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Age</span>&nbsp<span class="asterisk_input label-icon"></span>
           </label>
              <div>
                 <input type="text" maxlength="2" class="form-control" id="minAge"class="form-control" placeholder="Min Age" onfocusout="Checklength()">
              </div>
              <span id="validminAge" style="font-size: 11px; color: #cc0033; "></span>

            </div>
           </div>
    
           <div class="col-md-2 ">
              <div class="formrow">
                    
                 <div style="margin-top: 20%;">
                      <input type="text"  maxlength="" class="form-control"  id="maxAge" class="form-control" placeholder="Max Age" onfocusout="Checklength()">
                   </div>
                   <span id="validmaxAge" style="font-size: 11px; color: #cc0033; "></span>

             </div>
          </div>
     
          <div class="col-md-2 ">
           <div class="formrow">
                 <div style="margin-top: 20%;">
                   <input type="text" class="form-control rojdatepicker" id="Age"class="form-control" placeholder="As on Date" >
                </div>

          </div>
          </div>


      <div class="col-md-6 forvalidation">
  
         <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
               <span lang="en">Essential Qualification</span></span>&nbsp<span class="asterisk_input label-icon"></span>
            </label>
            <div class="formrow">
                  <input class="demo-default" id="EssentialQualification"  style="padding-left:3px;    width: 377px;height:41px !important" onfocusout="getvalidated('EssentialQualification','text','Essential Qualification')" placeholder="Essential Qualification" >
          
            </input>
                  <span id="validEssentialQualification" style="font-size: 11px; color: #cc0033; "></span>
                       
               </div>
         </div>
      </div>

       </div>
       
       <div class="row">
      
          <div class="col-md-6 forvalidation">
  
              <div class="formrow">
                 <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">  
                     Desired Qualification</span></label>
                 <div class="formrow">
                    <input type="text"  maxlength='30' name="name" id="DesiredQualification"
                      class="form-control" placeholder="Desired Qualification">
                 
                 </div>
              </div>
            
           </div>
           <div class="col-md-6 forvalidation">
  
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                     Probable date by which the vacancy will be filled</span></label>
               <div class="formrow">
                  <input type="text" id="Probable" class="form-control rojdatepicker" placeholder="Probable date by which the vacancy will be filled" >
                  
               </div>
            </div>
          
         </div>
         </div>
           
       

              <!-- Account Details -->
              <!-- <h5>Account Details</h5> -->
              <h5>Particulars regarding interview/test of applicants</h5>
              <div class="row">
      
               <div class="col-md-6 forvalidation">
       
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                         <span lang="en">  
                           Date of interview/test</span></label>
                      <div class="formrow">
                         <input type="text" placeholder="Date of interview/test" class="form-control rojdatepicker" id="Dateofinterview" >
                         
                      </div>
                   </div>
                 
                </div>
                <div class="col-md-6 forvalidation">
       
                 <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                       <span lang="en">  
                        Time of interview/test</span></label>
                    <div class="formrow">
                       <input type="text" name="name" id="Timeofinterview" class="form-control timepicker" placeholder="Time of interview/test">
                       
      
                    </div>
                 </div>
               
              </div>
              </div>
              <div class="row">
      
               <div class="col-md-6 forvalidation">
       
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                         <span lang="en">  
                          	
               Place of interview/test</span></label>
                      <div class="formrow">
                         <input type="text" name="name" maxlength="50" id="Placeofinterview" class="form-control" placeholder="Place of interview/test" >
                      
                      </div>
                   </div>
                 
                </div>
                <div class="col-md-12 forvalidation">
       
                 <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                       <span lang="en">  
                        Whether there is obligation or arrangement for giving preference to any category of person in filling up the vacancies ? Any other relevant information(Remark).</span></label>
                    <div class="formrow">
                       <input type="text" name="name" id="Remark"class="form-control" placeholder="Remark" >
                    
                    </div>
                 </div>
               
              </div>
              </div>
              <!-- <h5>Confirm to publish on Online Employment Exchange (OLEX)</h5> -->
               <div class="row">
                
                  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Contact Person Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="text" maxlength="50" onfocusout=" getvalidated('ContactP','text','Contact Person')" name="name" id="ContactP" class="form-control" placeholder="Contact Person Name"  >
                           <span id="validContactP" style="font-size: 11px; color: #cc0033; "></span>
               
                        </div>
                     </div>
                   
                  </div>
                  <div class="col-md-6 forvalidation">
       
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">  
                               
                      Contact Number</span></label>
                        <div class="formrow">
                           <input type="number" name="name" onfocusout="checkLength('ContactNumber','Mobile No.','10')" id="ContactNumber" maxlength="10" onkeypress="if (this.value.length >= 10) { return false; };" class="form-control" placeholder="Contact Number"  >
                           <span id="validContactNumber" style="font-size: 11px; color: #cc0033; "></span>

                        </div>

                     </div>
                   
                  </div>
                  


               </div>
              
              
              

              <div class="row">
                  <div class="col-md-2">
                    </div>
                <div class="col-md-4">
                  <button type="submit" onclick="CheckValidation()" class="btn" id="submit">Update</button>
                </div>
                <div class="col-md-4">
                  <button type="" class="btn" id="Cancel">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      
        </div>
        <div class="paypackages">
          <div class="four-plan buypackages">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <ul class="boxes STARTER">
                     <a href="#" target="blank"><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                     <a href="#" target="blank"></a><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                     <a href="#" target="blank"><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                     <a href="#" target="blank"><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                     <a href="#" target="blank"><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                      <a href="#" target="blank"><li class="plan-pages"><img src="images/blank.png" alt="Company Name" /></li></a>
                  </ul>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <ul class="boxes">
                    <li class="plan-pages">63.6 million </li>
                    <li class="plan-date">Jobseekers are waiting</li>
                    <p>Access our talented pool of candidates spreading across multiple industries at Indian and
                      international locations. Find UG,PG and PPG levels of expertise. Register NOW!</p>
                  </ul>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modalhead"></h4>
        </div>
        <div class="modal-body" id="modalbody" >
           
        </div>
        <div class="modal-footer" id="modalfooter">
        
        </div>
      </div>
      
    </div>
  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>

      
  <script src="/customjs/vacancy/Edit.js"></script>
  <script src="/js/summernote.min.js"></script>
  <script type="text/javascript">
  $("#nameandempadd").val(sessionStorage.CompanyName);
    var $ = jQuery;
    $(document).ready(function () {
      FillSector('parsedatasector');
      FillVacancy();
      FillDesignation('parsedatasecureddesignation');
      FillDistrict('parsedatasecuredFillDistrict','PlaceofWork');
      FillEducation('parsedatasecuredFillEducation','EssentialQualification');
      $('#summernote').summernote({
        placeholder: 'Description',
        tabsize: 2,
        height: 100
      });
      setTimeout(function(){fetchJobEdit(); }, 2000);
      $('input.timepicker').timepicker({});
    
 

    });
    $('.timepicker').timepicker({
    timeFormat: 'h:mm p',
    interval: 60,
    minTime: '00',
    maxTime: '11:00pm',
    defaultTime: '11',
    startTime: '00:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});
   
  </script>

</body>

</html>