
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
 
    
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Account Details</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container"> 
      <div class="row"> 
        <!-- < <span style=" margin-left: 456px; "> <span style="font-size: 18px;"> Company Name : </span> <span id="name" style="font-size: 12px;"> </span></span>
        <span><span style="font-size: 18px;"> Registration Number :</span> <span id="Number" style="font-size: 12px;"> </span></span> </div>  
        > -->
        
        <div class="col-md-6 col-sm-6 pull-left">
        <div class="form-group m-form__group row" style="    overflow: auto; height: 300px;">
          <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
      <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
          <thead style="color: #263bd6;">
            <tr><th colspan="4"> Recently Posted Jobs </th></tr>
        <tr id="tablehead">
        <th></th>
        <th>Job Title</th>
        <th>Posted On</th>
        <th>Responses</th>
  
      </tr>
          </thead>
          <tbody id="vacancylists">
  
          </tbody>
      </table>
      </div>
      </div>
  

 

      </div>

      <div class="col-md-6 col-sm-6 pull-right">
      <div class="form-group m-form__group row" style="overflow: auto;height: 300px;">
        <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
        <thead style="color: #263bd6;">
            <tr><th colspan="4">Saved Searches </th></tr>
            <tr id="tablehead">
      <th></th>
      <th>Name Keyword</th>
      <th>Exp</th>
      <th>Location</th>
    </tr>
        </thead>
        <tbody id="savedsearches">
            <tr id="tablehead">
                <th>1</th>
                <th>CA<br>-</th>
                <th>0-2yr</th>
                <th>Bhopal,Indore</th>
              </tr>
        </tbody>
    </table>
    </div>
    </div>
   </div>

   <div class="col-md-6 col-sm-6 pull-left" style="margin-top: 25px;">
    <div class="form-group m-form__group row" style="overflow: auto;height: 300px;">
      <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
  <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
      <thead style="color: #263bd6;">
          <tr><th colspan="4">Saved Folder </th></tr>
          <tr id="tablehead">
    <th></th>
    <th>Resdex Folders</th>
    <th> Eapps Folders </th>
  </tr>
      </thead>
      <tbody id="savedfolder">
        <tr id="tablehead">
            <th>1</th>
            <th>Pan india</th>
            <th>Technologist</th>
          </tr>
      </tbody>
  </table>
  </div>
  </div>
 </div>

 <div class="col-md-6 col-sm-6 pull-right" style="margin-top: 25px;">
    <div class="form-group m-form__group row" style="overflow: auto;height: 300px;">
      <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
  <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
      <thead style="color: #263bd6;">
          <tr><th colspan="4"> Account Utilization </th></tr>
          <tr id="tablehead">
    <th></th>
    <th>Resdex Usage</th>
    <th>My Usage</th>
    <th>Overall Usage</th>
  </tr>
      </thead>
      <tbody id="accountutilization">
        <tr id="tablehead">
            <th>1</th>
            <th>CV Access</th>
            <th>12</th>
            <th>93 Out Of 3000</th>
          </tr>
          <tr> <th colspan="4"> The above Resdex usage numbers are as per weekly quota release </th> </tr>
      </tbody>
      <thead style="color: #263bd6;">
        <tr>
            <th colspan="2"> Job Posting usage </th>
            <th colspan="2"> Overall Usage </th>
        </tr>
      </thead>
      <tbody id="postingusage">
        <tr id="tablehead">
            <th colspan="2">Classified</th>
            <th colspan="2">41 Out of 250</th>
          </tr>
      </tbody>
  </table>
  </div>
  </div>
 </div>



    </div>
  </div>
 

  <footer>
    <% include ../partials/Homefooter %>
</footer>

  
<script type="text/javascript" src="/customjs/Home.js"></script>

<script>
  $(document).ready(function () {
    Foraccountdetails();

  });
</script>

</body>
</html>