
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
 
    
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Candidate Details</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container"> 
    
        <!-- Job Header start -->
        <div class="job-header">
          <div class="jobinfo">
            <div class="row">
              <div class="col-md-6 col-sm-6"> 
                <!-- Candidate Info -->
                <div class="candidateinfo">
                  <div class="userPic"><img  id="CVImage"style="height: 115px;width: 115px;max-width: -webkit-fill-available;"></div>
                  <div class="title" id="NameC">Elliot Scott</div>
                  <div class="desi" id="Designation">Senior Data Analytist</div>
                  <div class="loctext"><i class="fa fa-history" aria-hidden="true"></i><strong id="duration"> Member Since, Aug 14, 2016 </strong></div>
                  <div class="loctext"><i class="fa fa-map-marker" aria-hidden="true"></i><strong id="address"> 123 Boscobel Street, NW8 8PS </strong></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3"> 
                <!-- Candidate Contact -->
                <div class="candidateinfo">
                  <div class="loctext"><i class="fa fa-phone" aria-hidden="true"></i><strong id="phone">(+1) 123.456.7890</strong> </div>
                  <div class="loctext"><i class="fa fa-envelope" aria-hidden="true"></i><strong id="email"> info@mywebsite.com</strong></div>
                  <!-- <div class="cadsocial"> <a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="http://www.plus.google.com/" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="http://www.facebook.com/" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> </div> -->
                </div>
              </div>
              <div class="col-md-3 col-sm-3"> 
                <!-- Candidate Contact -->
                <div class="candidateinfo">
                    <div class="loctext" id="applicationdate"><stander style="color: #263bd6;font-weight: 500;">Application Date</stander>: 12 oct 2020</div>
                  <div class="loctext" id="lastdate"><stander style="color: #263bd6;font-weight: 500;">Last Active</stander>: 12 oct 2020</div>
                  <div class="loctext"><stander style="color: #263bd6;font-weight: 500;"> Last Modified</stander>:<strong id="lastedit">12 oct 2020</strong> </div>
                  <!-- <div class="cadsocial"> <a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="http://www.plus.google.com/" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="http://www.facebook.com/" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> </div> -->
                </div>
              </div>
            </div>
          </div>
          
          <!-- Buttons -->
          <div class="jobButtons"> <a href="#" class="btn apply" ><i class="fa fa-paper-plane" aria-hidden="true" ></i> Hire Me</a>
             <a href="#." class="btn" id="downloadcv" download ><i class="fa fa-download" aria-hidden="true"></i> Download CV</a> <a href="/CVTemplate" onclick="SetCandidateId(sessionStorage.CandidateId)" class="btn"><i class="fa fa-eye"  aria-hidden="true"></i> View Template</a> <a href="#." class="btn"><i class="fa fa-envelope" aria-hidden="true"></i> Send Message</a> <a href="#." class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save User</a></div>
        </div>
        
        <!-- Job Detail start -->
        <div class="row">
          <div class="col-md-8"> 
            <!-- About Employee start -->
           
            
            <!-- Education start -->
            <div class="job-header">
              <div class="contentbox">
                <h3>Education </h3>
                <ul class="educationList" id="education">
                  <!-- <li>
                    <div class="date">31<br>
                      May<br>
                      2012</div>
                    <h4>Masters Degree</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare malesuada a mauris.</p>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="date">31<br>
                      May<br>
                      2012</div>
                    <h4>Masters Degree</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare malesuada a mauris.</p>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="date">31<br>
                      May<br>
                      2012</div>
                    <h4>Masters Degree</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare malesuada a mauris.</p>
                    <div class="clearfix"></div>
                  </li> -->
                </ul>
              </div>
            </div>
            
            <!-- Experience start -->
            <div class="job-header">
              <div class="contentbox">
                <h3>Experience</h3>
                <ul class="experienceList" id="Employement">
                  <!-- <li>
                    <div class="row">
                      <div class="col-md-2"><img src="images/employers/emplogo1.jpg" alt="your alt text"></div>
                      <div class="col-md-10">
                        <h4>Company Name</h4>
                        <div class="row">
                          <div class="col-md-6">www.companywebsite.com</div>
                          <div class="col-md-6">From 2014 - Present</div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-2"><img src="images/employers/emplogo1.jpg" alt="your alt text"></div>
                      <div class="col-md-10">
                        <h4>Company Name</h4>
                        <div class="row">
                          <div class="col-md-6">www.companywebsite.com</div>
                          <div class="col-md-6">From 2014 - Present</div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-2"><img src="images/employers/emplogo1.jpg" alt="your alt text"></div>
                      <div class="col-md-10">
                        <h4>Company Name</h4>
                        <div class="row">
                          <div class="col-md-6">www.companywebsite.com</div>
                          <div class="col-md-6">From 2014 - Present</div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare</p>
                      </div>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
            
            <!-- Portfolio start -->
            
          </div>
          <div class="col-md-4"> 
            <!-- Candidate Detail start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Candidate Detail</h3>
                <ul class="jbdetail">
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Experience</div>
                    <div class="col-md-6 col-xs-6"><span>5 Years</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Age</div>
                    <div class="col-md-6 col-xs-6"><span id='Age'>28 Years</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6" >Current Salary($)</div>
                    <div class="col-md-6 col-xs-6"><span class="permanent" id="salary">10K - 12K</span></div>
                  </li>
                
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Education Levels</div>
                    <div class="col-md-6 col-xs-6"><span>Masters</span></div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!-- Google Map start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Skills</h3>
                <div class="skillswrap" id="keyskilldetail"> 
                 
                  <!-- Skill -->
                  <!-- <h5>HTML5</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <span>85%</span> </div>
                  </div>
                  <!-- Skill -->
                  <!-- <h5>Jquery</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%"> <span>90%</span> </div>
                  </div> -->
                  <!-- Skill -->
                
                  <!-- Skill -->
                  <!-- <h5>Javascript</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%"> <span>95%</span> </div>
                  </div> --> 
                </div>
              </div>
            </div>
            
            <!-- Contact Company start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Contact Elliot Scott</h3>
                <div class="formpanel">
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Your Name">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Your Email">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Phone">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                  <div class="formrow">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <input type="submit" class="btn" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <footer>
    <% include ../partials/Homefooter %>
</footer>
<div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body" id="modalbody">
           <div id="image" style="display:none"><% include EmployerLogo %></div>  
        </div>

    </div>
</div>
</div>
  
 <script type="text/javascript" src="/customjs/CandidateDetails.js"></script> 

<script>
  $(document).ready(function () {
    FillCandidatedetails();
    FillImageCV();
    fillFetchEducation('parsedatasecuredfillFetchEducation','Education');
    fillFetchExperience('parsedatafillFetchExperience','Employement');
    fillpersonaldetails('parsedatasecuredfillpersonaldetails','Age');
    FillKeySkillSecured('parsedatasecuredkeyskill', 'keyskilldetail');
    FillResumeSecured('parsedatasecuredresume','Resumefetch');
  });
</script>

</body>
</html>