
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Candidate Listing</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> / <span>Candidate Listing</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  
  <div class="listpgWraper">
        <div class="container"> 
          
          <!-- Search Result and sidebar start -->
          <div class="row">
         
            <div class="col-md-9 col-sm-12"> 
              <!-- Search List -->
              <ul class="searchList" id="joblists">
             
              </ul>
              
          
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/mailModal %>
  
  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<script type="text/javascript" src="/customjs/Candidatelisting.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  //  Fillcadidatelist();
      Candidatedetail();
    // SearchCandidates('parsedataSearchCandidates','joblists');
});
</script>
</body>
</html>