
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Candidate Listing</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> / <span>Candidate Listing</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  
  <div class="listpgWraper">
       <div class="container"> 
        <button type="button" onclick="window.history.back()" class="btn btn-primary btn-sm" style="margin-bottom: 5px;margin-top: -45px;">Back</button>     
        <!-- Search Result and sidebar start -->
          <div class="row">
         
            <div class="col-md-12 col-sm-12"> 
              <!-- Search List -->
              <!-- <ul class="searchList" id="joblists">
             
              </ul> -->
              
              <div class="form-group m-form__group row" style="    overflow: auto; ">
          
                <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                <thead style="color: #263bd6;">
                    <tr id="tablehead">
              <th></th>
              <th></th>
              <th>Name</th>
              <th>Designation</th>
              <th>DistrictName</th>
              <th style="max-width:128px;"> Skill </th>
              <th> Send SMS </th>
              <th> Send Mail </th>
              <th> View Profile </th>
        
            </tr>
                </thead>
                <tbody id="joblists">
        
                </tbody>
            </table>
            </div>
            </div>
        

          
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/mailModal %>
  
  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<script type="text/javascript" src="/customjs/Candidatelisting.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  //  Fillcadidatelist();
    //  Candidatedetail();
      NewCandidatedetail();
    // SearchCandidates('parsedataSearchCandidates','joblists');
});
</script>
</body>
</html>