
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Company Detail</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="#.">Home</a> / <span>Company Name</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  
  <div class="listpgWraper">
    <div class="container"> 
      
      <!-- Job Header start -->
      <div class="job-header">
        <div class="jobinfo">
          <div class="row">
            <div class="col-md-8 col-sm-8"> 
              <!-- Candidate Info -->
              <div class="candidateinfo">
                <div class="userPic"><img src="images/employers/emplogo1.jpg" alt=""></div>
                <div class="title">Company Name</div>
                <div class="desi">Web Development Company</div>
                <div class="loctext"><i class="fa fa-history" aria-hidden="true"></i> Member Since, Aug 14, 2016</div>
                <div class="loctext"><i class="fa fa-map-marker" aria-hidden="true"></i> 123 Boscobel Street, NW8 8PS</div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4"> 
              <!-- Candidate Contact -->
              <div class="candidateinfo">
                <div class="loctext"><i class="fa fa-phone" aria-hidden="true"></i> (+1) 123.456.7890</div>
                <div class="loctext"><i class="fa fa-envelope" aria-hidden="true"></i> info@company.com</div>
                <div class="loctext"><i class="fa fa-globe" aria-hidden="true"></i> www.company.com</div>
                <div class="cadsocial"> <a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="http://www.plus.google.com/" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="http://www.facebook.com/" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Buttons -->
        <div class="jobButtons"> <a href="#." class="btn apply"><i class="fa fa-paper-plane" aria-hidden="true"></i> Join Us</a> <a href="#." class="btn"><i class="fa fa-envelope" aria-hidden="true"></i> Send Message</a> <a href="#." class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save This Company</a> <a href="#." class="btn report"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report Abuse</a> </div>
      </div>
      
      <!-- Job Detail start -->
      <div class="row">
        <div class="col-md-8"> 
          <!-- About Employee start -->
          <div class="job-header">
            <div class="contentbox">
              <h3>About Company</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum fringilla. Pellentesque id est et neque blandit ornare malesuada a mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis, quam a fringilla congue, turpis turpis molestie ligula, ut laoreet elit arcu sed nulla. Sed at quam commodo, egestas turpis eget, fringilla dui. Etiam sit amet nulla metus. Etiam iaculis lobortis ultricies. <strong>Maecenas maximus magna a metus consectetur, vel fermentum nisl ultrices</strong>. Quisque eget ante id dui posuere ullamcorper ut molestie eros. Aliquam ultrices lacinia risus, at lacinia ante vehicula id. Nulla in lectus dignissim, egestas purus sit amet, mattis libero. Maecenas ullamcorper rutrum porta. </p>
              <ul>
                <li>In non augue eget purus placerat aliquet sit amet lobortis lacus.</li>
                <li>Curabitur interdum nisl quis placerat ornare.</li>
                <li>Curabitur ornare enim ac aliquam efficitur.</li>
                <li>Etiam volutpat leo et orci luctus, blandit accumsan arcu placerat.</li>
                <li>Proin egestas dui et pulvinar pellentesque.</li>
                <li>In ultricies nulla eget lacus tempor lobortis.</li>
              </ul>
            </div>
          </div>
          
          <!-- Opening Jobs start -->
          <div class="relatedJobs">
            <h3>Opening Jobs</h3>
            <ul class="searchList">
              <!-- Job start -->
              <li>
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                  <div class="jobinfo">
                    <h3><a href="#.">Technical Database Engineer</a></h3>
                    <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                    <div class="location"><label class="fulltime">Full Time</label>   - <span>New York</span></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="listbtn"><a href="#.">Apply Now</a></div>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum convallis.</p>
            </li>
              <!-- Job end --> 
              
              <!-- Job start -->
              <li>
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                  <div class="jobinfo">
                    <h3><a href="#.">Technical Database Engineer</a></h3>
                    <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                    <div class="location"><label class="partTime">Part Time</label>   - <span>New York</span></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="listbtn"><a href="#.">Apply Now</a></div>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum convallis.</p>
            </li>
              <!-- Job end --> 
              
              <!-- Job start -->
              <li>
              <div class="row">
                <div class="col-md-8 col-sm-8">
                  <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                  <div class="jobinfo">
                    <h3><a href="#.">Technical Database Engineer</a></h3>
                    <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                    <div class="location"><label class="freelance">Freelance</label>   - <span>New York</span></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="listbtn"><a href="#.">Apply Now</a></div>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum convallis.</p>
            </li>
              <!-- Job end -->
            </ul>
          </div>
        </div>
        <div class="col-md-4"> 
          <!-- Company Detail start -->
          <div class="job-header">
            <div class="jobdetail">
              <h3>Company Detail</h3>
              <ul class="jbdetail">
                <li class="row">
                  <div class="col-md-6 col-xs-6">Total Employees</div>
                  <div class="col-md-6 col-xs-6"><span>10-50</span></div>
                </li>
                <li class="row">
                  <div class="col-md-6 col-xs-6">Established In</div>
                  <div class="col-md-6 col-xs-6"><span>2008</span></div>
                </li>
                <li class="row">
                  <div class="col-md-6 col-xs-6">Current jobs</div>
                  <div class="col-md-6 col-xs-6"><span>10</span></div>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- Google Map start -->
          <div class="job-header">
            <div class="jobdetail">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d193572.19492844533!2d-74.11808565615137!3d40.70556503857166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1481975053066" allowfullscreen></iframe>
            </div>
          </div>
          
          <!-- Contact Company start -->
          <div class="job-header">
            <div class="jobdetail">
              <h3>Contact Company Name</h3>
              <div class="formpanel">
                <div class="formrow">
                  <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="formrow">
                  <input type="text" class="form-control" placeholder="Your Email">
                </div>
                <div class="formrow">
                  <input type="text" class="form-control" placeholder="Phone">
                </div>
                <div class="formrow">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="formrow">
                  <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <input type="submit" class="btn" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <% include ../partials/footer %>
</footer>
  

</body>
</html>