<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Contact us</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Contact us</span></div>
        </div>
      </div>
    </div>
  </div>
   <div class="inner-page">
    <div class="container">
      <div class="contact-wrap">
        <div class="row">
          <div class="col-md-12 column">
            <div class="title" style="display: none;">

              <br />
              <p>Got questions? Want to connect with us? We are here to help.
                <br />
                <p>Choose the method that works best for you. We look forward to hearing from you.</p>
              </p>
            </div>
          </div>

          <div class="col-md-12 column">
            <div class="col-md-2 column"></div>
            <div class="col-md-8 column">
              <div class="title">
                <div class="contact-now" style="background-color: antiquewhite;">
                  <div class="contact">

                    <div class="information" style="text-align: -webkit-center;"> <strong lang="en">Call Center</strong></div>
                    <br />
                    <div class="information"><span style="float: centre;font-weight: 600;" lang="en">Address:</span></div>
                    <div class="information"><p lang="en">Employment service center</p><p lang="en">Operated by</p><p lang="en"> Yashaswi Academy for Talent Management (On PPP Basis) (Call Centre)</p>
                   <p lang="en">Office No. 11,First Floor, Satellite Plaza, Ayodhya Bypass,Bhopal, Madhya Pradesh 462041</p>
                      </div>
            
                    <br />
                    <!-- <div style="float: left;"><span style="font-weight: 600;" lang="en">Call Centre Head:</span>- Siiddharth Shrivastava</div>
                    <br />
                    <br />
                    <div style="float: left;"><span style="font-weight: 600;" lang="en">E-mail:</span>- helpdesk.mprojgar@mp.gov.in</div>
                    <br />
                    <br /> -->
                    <div style="float: left;"><span style="font-weight: 600;" lang="en">TOLL FREE NO:</span>-1800-5727-751</div>
                    <br />
                    <br />

                  </div>

                </div>
              </div>
            </div>
          </div>




          <div class="col-md-1 column"></div>


          <!-- Contact Info -->
     
          <div class="col-md-2 column"></div>
  
     
      <!-- <div class="col-md-12 column">
        <div class="title">
          <h2 style="font-size:32px" lang="en">Office Address</h2>

        </div>
      </div> -->
      <div class="row">
        <div class="col-md-1 column"></div>
          <ul class="col-md-10 column" id="AllDistrictOffice">

          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="myModalcontact" style="overflow: auto !important;" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog" style="width:34%;" role="document">

      <!-- Modal content-->
      <div class="modal-content">


        <div class="userccount">

          <h5 style="font-size:16px;">District Office Detail </h5>
          <div class="modal-body" id="modalbody">
            <div class="job-header">
              <div class="jobdetail">

                <ul class="jbdetail" id="districtdetail">

                </ul>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   


  <script src="/customjs/Contactus.js"></script>
  <script>

    $(document).ready(function () {

      // DistrictOffice();
      // FillState();
      
     
   


    });
  </script>
</body>

</html>