<!DOCTYPE html>
<html>

<head>
		<% include ../partials/head %>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
	<meta charset="UTF-8">

	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
	<link href="/css/resumebuilder.css" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
		<div class="row" style="margin-left: 27%;margin-top: 2%;width: 70%;">
		<div class='col-md-4 col-sm-4'><div class='listbtn'  onclick="back()"><a  style="font-size: 170%">Back</a></div></div>
		<div class='col-md-4 col-sm-4'><div class='listbtn'><a href='#'style="font-size: 170%" id="PrintCV">Print</a></div></div>
		</div>
			
	<div id="cv" class="instaFade">
		<div class="mainDetails" id="mainDetails">
			
		</div>

		<div id="mainArea" class="quickFade delayFive" id="mainArea">
				<section id="">
						<div class="headingresume">Registration Number </div>
				<div  >
						<div class="row" >
								<div class="col-md-3 col-sm-2">Registration Number:</div>
								<div class="col-md-3 col-sm-4" id="RegistrationNo"></div>
							</div>
					
				</div>
				<div class="clear"></div>
			</section>
				<section>
						<div class="headingresume">Profile Summary   </div>
				<div  >
						<div class="row" >
								<div class="col-md-12" id="ProfileSummaryCV" style="word-break:break-word"></div>
								
							</div>
					
				</div>
				<div class="clear"></div>
			</section>
					<section>
							<div class="headingresume">Personal Details</div>
					<div  >
							<div class="row" id="PersonalDetailCV">
									
								</div>
						
					</div>
					<div class="clear"></div>
				</section>
			
					<section>
							<div class="headingresume">Contact Details</div>
							<div class="row" id="ContactDetailCV">
									
								</div>
							</section>
						
					<div class="clear"></div>
					<section id="OtherDetailSection">
							<div class="headingresume">Other  Details</div>
							<div class="row" id="OtherDetailCV" >
								
								</div>
							</section>
				
					<div class="clear"></div>
					<section id="expSection">
							<div class="headingresume">Experience  Details</div>
							<div class="row" id="">
								<table class="table ">
									<thead>
									  <tr>
										<th scope="col">Designation</th>
										<th scope="col">Organisation</th>
										<th scope="col">Working</th>
										<th scope="col">Salary</th>
										
									  </tr>
									
										  
										
													
								  
									</thead>
									<tbody id="ExperienceCV"></tbody>
								  </table>
								</div>
							</section>
				
					<div class="clear"></div>
					<section id="eduSection">
							<div class="headingresume">Qualification   Details</div>
				
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												
												<th scope="col">Qualification</th>
												<th scope="col">Course</th>
												<th scope="col">Specialization</th>
												<th scope="col">Percentage</th>
												<th scope="col">Passing Year</th>
												<th scope="col">Board/University</th>
											  </tr>
											 
											</thead>
											<tbody id="EducationCV"></tbody>
										  </table>
								</div>
							</section>
						

					<div class="clear"></div>
					<section id="preferredsection">
							<div class="headingresume">   Prefered Sector & Job Preference</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												<th scope="col">S.No	</th>
												<th scope="col">Sector</th>
												<th scope="col">Functional Area</th>
											  </tr>
											 
											</thead>
											<tbody id="JobPreferenceCV"></tbody>
										  </table>
								</div>
							</section>
						
					<div class="clear"></div>
				
					<section id="typingSection">
							<div class="headingresume">Typing/Steno Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
											
												<th scope="col">Language</th>
												<th scope="col"> Type</th>
												<th scope="col">Institute</th>
												<th scope="col"> Passed Year</th>
												<th scope="col"> Speed </th>
											  </tr>			
											 
											</thead>
											<tbody id="TypingCV"></tbody>
										
										  </table>
								</div>
							</section>
						
					<div class="clear"></div>
			
					
					<section id="identificationSection">
							<div class="headingresume">Identification  Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												<th scope="col">Card Type	</th>
												<th scope="col">Card Number</th>
												<th scope="col"> License type</th>
												<th scope="col">Date</th>
												<th scope="col">  	Valid Upto</th>
												<th scope="col"> Issuing Authority </th>
											  </tr>
											 
											</thead>
											<tbody id="IdentificationCV"></tbody>
										  </table>
								</div>
							</section>
				
					<div class="clear"></div>
				
					<section id="languageSection">
							<div class="headingresume">Language  Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
													
												<th scope="col">Language	</th>
												<th scope="col">Read</th>
												<th scope="col">  Write</th>
												<th scope="col">Speak</th>
											  </tr>
											 			
											</thead>
											<tbody id="LanguageCV"></tbody>
										  </table>
								</div>
							</section>
							<div class="clear"></div>
							<section id="certificationSection">
									<div class="headingresume">
											Certification Under Govt. Scheme</div>
									<div class="row" >
											<table class="table ">
													<thead>
													  <tr>
														
														<th scope="col">Training Program	</th>
														<th scope="col">Centre</th>
														<th scope="col">  Duration</th>
														<th scope="col">Skill</th>
														<th scope="col">  Year</th>
													  </tr>
													  
													</thead>
													<tbody id="CertificationCV"></tbody>
												  </table>
										</div>
									</section>
									<div class="clear"></div>
			<div class="ft" id="CVFooter">
				</div>
			<!--// footer -->


		</div>

	</div>
	
	
  
<script src="../customjs/CVTemplate.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>



<script type="text/javascript">
$(document).ready(function () {
		
	
	FillCVTemplate('parsedatasecuredFillCVTemplate');
	FillImageCV('parsedatasecuredFillImageCV');
	$("#PrintCV").click(function(){
$('.instaFade').printThis({
        debug: false,               // show the iframe for debugging
        importCSS: true,            // import parent page css
        importStyle: false,         // import style tags
        printContainer: true,       // print outer container/$.selector
        loadCSS: "/css/resumebuilder.css",                // path to additional css file - use an array [] for multiple
        pageTitle: "",              // add title to print page
        removeInline: false,        // remove inline styles from print elements
        removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
        printDelay: 333,            // variable print delay
        header: "",               // prefix to html
        footer: null,               // postfix to html
        base: false,                // preserve the BASE tag or accept a string for the URL
        formValues: true,           // preserve input/form values
        canvas: false,              // copy canvas content
        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
        removeScripts: false,       // remove script tags from print content
        copyTagClasses: false,      // copy classes from the html & body tag
        beforePrintEvent: null,     // callback function for printEvent in iframe
        beforePrint: null,          // function called before iframe is filled
        afterPrint: null            // function called before iframe is removed);
});
});
     
	
});
</script>

</body>

</html>