
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
 
    
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Dashboard</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container"> 
      <div class="row"> 
        <!-- < <span style=" margin-left: 456px; "> <span style="font-size: 18px;"> Company Name : </span> <span id="name" style="font-size: 12px;"> </span></span>
        <span><span style="font-size: 18px;"> Registration Number :</span> <span id="Number" style="font-size: 12px;"> </span></span> </div>  
        > -->
        
        <div class="col-md-4 col-sm-6 pull-right">
          <!-- Social Icons -->
          <div class="sidebar">
            <div class="row" style="margin-left: 35%;">
            <div class="userPic"><img  id="ProfilePic" style="width: 95px;
              height: 70px;margin-top: -23%;border-radius: 0%;" alt="">
              <span style="position: absolute;margin-top: -8%;">
                  <a onclick="modal('image')">
                      <i style="color:black;" class="fa fa-camera"></i>
                  </a>
              </span>
          </div>
        </div>

            <div class="row">
             
              <h4 class="title" style="text-align:center;margin-top:10px;" id="name"> </h4>
              <br />
              
              <!-- <i class="fa fa-credit-card" title="Registration No" aria-hidden="true" style="padding-right: 2px;width:17px;"></i> -->
              <ul><li style="text-align:center;" id="Number"></li></ul>
              <br />
            
             
            
            
              <div class="col-md-2">
               <a href="/Empprofile"> <input type="submit" 
                
                  style="background: #263bd6 ;color:white;margin-left:29px;width:259px;" class="btn"
                  value="VIEW PROFILE"></a>
              </div>
              
            
              <div class="col-md-12" style="margin-top: 2%">
                <div class="col-md-6"></div>
              
              </div>
            </div>

         
         
          </div>
          <div class="custom2sidebar">
            <a href="#" onclick="fetchAllVacancies();sessionStorage.Vacancies='All'">
              <div class="widget-title" style="color: #7a7a7a;">All Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchOpenVacancies();sessionStorage.Vacancies='Open'">
              <div class="widget-title" style="color: #7a7a7a;">Open Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchClosedVacancies('0');sessionStorage.type='0';sessionStorage.Vacancies='Closed'">
              <div class="widget-title" style="color: #7a7a7a;"> Closed Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchClosedVacancies('2');sessionStorage.type='2';sessionStorage.Vacancies='Pending'">
              <div class="widget-title" style="color: #7a7a7a;"> Pending Vacancies</div>
            </a>
          </div>
        </div>


       
      
        <h5 id="vacancytype"></h5>  

        <div class="form-group m-form__group row" style="    overflow: auto; ">
          
          <div class="col-lg-12" style='max-height: 400px;' id="paginationbind">
      <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
          <thead style="color: #263bd6;">
              <tr id="tablehead">
        <th></th>
        <th>Job Title</th>
        <th>Responses</th>
        <th>Recommended <br> Resdex CVs</th>
        <th>Posted By</th>
        <th>Posted Date</th>
  
      </tr>
          </thead>
          <tbody id="vacancylists">
  
          </tbody>
      </table>
      </div>
      </div>
  

 
      <!-- Search Result and sidebar start -->
      <!-- <div class="row">

 
      </div> -->

        <div class="col-md-8 col-sm-12"> 

          <div class="relatedJobs" >
                    <!-- <h5 id="vacancytype"></h5>   -->
            <ul class="searchList" id="vacancylists">
                <!-- <li><div class="row"><div class="col-md-8 col-sm-8"><div class="jobimg"><img src='"+logosrc+"' alt='"+data1[i].CompName+"' /></div><div class="jobinfo"><h3><a href="#."onclick=SetJobId('" + data1[i].Postid + "')>" + data1[i].Designation + "</a></h3><div class="companyName"><a href="+data1[i].url+" target="blank">CompName</a></div><div class="location"><label class="fulltime">Full Time</label>   - <span> <i class="fa fa-map-marker" aria-hidden='true'></i>  "+data1[i].Placeofwork+"</span></div></div><div class='clearfix'></div></div><div class='col-md-4 col-sm-4'><div class='listbtn'><a href='/Login' onclick=sessionStorage.Type='Search'>Apply Now</a></div></div><div class='col-md-4 col-sm-4' style='margin-top: 2%'><span style='color: #999;'>Posted "+data1[i].Posted+" days ago</span></div></div><p><i class='fa fa-briefcase' aria-hidden='true'></i>  " + data1[i].Qualification_essential + " (prefered " + data1[i].Desirable + " ) </p><p> <i class='fa fa-money' aria-hidden='true'></i><span>  INR " + data1[i].PayandAllowances + " </span></p></li> -->
            

              
              </ul>


          

        </div>
               
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Remove Job </h4>
        </div>
        <div class="modal-body">
          <h6> Please let us know why are you removing this job: </h6>
          <!-- <p>Some text in the modal.</p> -->
          <form >
            <input type="radio" id="1" name="reason" value="male">
            <label for="male"> Position not filled but sufficient response(s) from MP Rojgar </label><br>
            <input type="radio" id="2" name="reason" value="female">
            <label for="female">Position not filled because of less response(s) from MP Rojgar </label><br>
            <input type="radio" id="3" name="reason" value="other">
            <label for="other">Position not filled because of irrelevant response(s) from MP Rojgar</label><br>
            <input type="radio" id="4" name="reason" value="male">
            <label for="male"> Filled through other sources/Internally/Referral </label><br>
            <input type="radio" id="5" name="reason" value="female">
            <label for="female"> Position "ON Hold"/Position cancelled by the client </label><br>
            <input type="radio" id="6" name="reason" value="other">
            <label for="other">Other</label>
</form>
        </div>
        <div class="modal-footer">
          <p style="text-align: left;"> The selected job will be removed from site. It will still be available as an Inactive job in your account. </p>
          <p style="text-align: left;"> Are you sure you want to remove the selected job? </p>

          <button type="button" class="btn btn-default" onchange="UpdJobStatus(sessionStorage.getItem('JobId'));sessionStorage.setItem('button','cancel')" style="background-color: #e26565;">Remove</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <footer>
    <% include ../partials/Homefooter %>
</footer>
<div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body" id="modalbody">
           <div id="image" style="display:none"><% include EmployerLogo %></div>  
        </div>

    </div>
</div>
</div>
  
<script type="text/javascript" src="/customjs/Home.js"></script>

<script>
  $(document).ready(function () {
  ForDashboardnewOpenVacancies();
  });
</script>

</body>
</html>