

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<style>
    .center1 {
      text-align: center;
    }
    
    .pagination {
      display: table-cell !important;
    }
    
    .pagination a {
      color: black;
      float: none;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 4px 4px 4px 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Search Candidates</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> Search Candidates</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-12" style="margin: auto;">
            <div class="userccount">
              <div class="formpanel">
                <!-- Vacancy Information -->  
                     
                  <div class="row">
                   
                     <div class="col-md-6 forvalidation">
        
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en"> Qualification</span>
                         </label>
                         <div class="formrow">
                            <input type="text" id="Qualification" class="demo-default" placeholder="Qualification" /> 
                                                          
                          </div>
                      </div>
                   </div>
               
                    <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en"> Designation	</span>
                           </label>
                           <div class="formrow">
                            <input type="text" id="Designation" class="demo-default" placeholder="Designation" /> 
                                                          
                        
                            </div>
                        </div>
                     </div>
                 
                    </div>
                      
                    <div class="row">
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Location</span>
                             </label>
                             <div class="formrow">
                                <input type="text" id="Location" class="demo-default" placeholder="Location" /> 
                             
                              </div>
                          </div>
                       </div>
                     
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Gender</span>
                             </label>
                             <div class="formrow">
                                <select type="text" id="Gender" class="form-control" placeholder="Gender"><option value="0">Select Gender</option>
                                    <option  value="Male">Male</option> 
                                    <option  value="Female">Female</option>
                                   <option value="0">Both</option>
                                   </select>
                              </div>
                          </div>
                       </div>
                   
                      </div>
                          
                      <div class="row">
                        <div class="col-md-6 forvalidation">
                        
                        <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">Age Criteria</span>
                        </label>
                        <div class="formrow">
                        <div class="col-lg-6">
                        <input type="text" maxlength="2" id="MinAge" autocomplete="off" placeholder="Min Age" onfocusout="lengthCheck();getvalidated('MinAge', 'select', 'Min Age');"
                        
                        class="form-control" name="end">
                        <span id="validMinAge"
                        style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                        
                        
                        <div class="col-lg-6">
                        <input type="text" id="MaxAge" autocomplete="off" placeholder="Max Age" onfocusout="lengthCheck();getvalidated('MaxAge', 'text', 'Max Age');" class="form-control" name="end">
                        
                        <span id="validMaxAge"
                        style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        <div class="col-md-6 forvalidation">
                        
                        <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">Salary</span>
                        </label>
                        <div class="formrow">
                        <div class="col-md-6">
                        <input type="text" id="MinSalary" autocomplete="off" placeholder="Min Salary"
                        
                        class="form-control" name="end">
                        
                        </div>
                        <div class="col-md-6">
                        <input type="text" id="MaxSalary" autocomplete="off" placeholder="Max Salary" class="form-control" name="end" >
                        
                        
                        </div>
                        </div>
                        </div>
                        
                        
                        
                        </div>
                        
                        </div>

                        <div class="row">
                            <div class="col-md-6 forvalidation">

                              <div class="formrow">
                                <label for="example-email-input" class="col-2 col-form-label">
                                   <span lang="en">Number of Candidate</span>
                                </label>
                                <div class="formrow">
                                   <input type="text" id="noofcandidate" value='100'  autocomplete="off" placeholder="Number of Candidate" class="form-control" name="end" >
                   
                             
                                 </div>
                             </div>          
                               
                             </div>
                           
                            
    
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                              </div>
                          <div class="col-md-4">
                            <button type="submit" onclick="FillSearchCandidate();FillsavedSearch()" class="btn" id="submit">Search Candidates</button>
                          </div>
                        
                        </div>
                       
                        <div class="row" style="padding-top: 10px;">

                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                <thead >
                                    <tr id="tablehead">
                              
                                    </tr>
                                </thead>
                                <tbody id="tbodyvalue"></tbody>
                            </table>
                          </div>
                          <div class=" row" style="display: none;" id='sendAlert'>
                                                                           
                                                                            

                            <div class="col-lg-2">
                              <button type="button"  onclick="CheckCandidate('email')" class="btn" style="background-color:#716aca;border-color:#716aca;">
                                 Send Email
                              </button>
                              </div>
                              <div class="col-lg-2" >
                                  <button type="button"  onclick="CheckCandidate('mobile')"  class="btn" style="background-color:#716aca;border-color:#716aca;">
                                      Send SMS
                                  </button>
                              </div>

                                                                                           
                    

                                  </div>
              </div>
              <div class="modal fade" id="m_modal_5" role="dialog">
                <div class="modal-dialog">
        
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
        
                        </div>
                        <div class="modal-body">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    Subject:
                                </label>

                                <div class="formrow">
                                  <div class="col-md-12">
                                    <input class="form-control m-input" id="subjecttxt"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                    rows="3" placeholder="Please enter subject" />                                  
                                  </div>
                                  </div>

                              <!-- <input class="form-control m-input" id="subjecttxt"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                rows="3" placeholder="Please enter subject" /> -->
                                <span id="validJFDetail"
                                style="font-size: 11px; color: #cc0033; "></span>
                              </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    Body:
                                </label>
                                <div class="formrow">
                                  <div class="col-md-12">
                                    <textarea class="form-control m-input" id="JFDetail"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                    rows="3" placeholder="Please enter body content"></textarea>                                
                                  </div>
                                  </div>

                              <!-- <textarea class="form-control m-input" id="JFDetail"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                rows="3" placeholder="Please enter body content"></textarea> -->
                                <span id="validJFDetail"
                                style="font-size: 11px; color: #cc0033; "></span>
                              </div>

                                <div class="form-group m-form__group row">
                                <div class="m-alert__actions" style="width: 200px;">
                                  <div class="formrow">
                                    <div class="col-md-12">
                                    <button type="button" onclick="SendAlert('email')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                        Send 
                                     </button>
                                    <button type="button" class="btn btn-success"
                                        data-dismiss="modal" aria-label="Close">
                                        Dismiss
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                        <div class="modal-footer">
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="modal fade" id="m_modal_6" role="dialog">
                <div class="modal-dialog">
        
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="closebtn" data-dismiss="modal">&times;</button>
        
                        </div>
                        <div class="modal-body">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                   Content:
                                </label>
                                <div class="formrow">
                                  <div class="col-md-12">
                              <textarea class="form-control m-input" id="SmsDetail"  onfocusout=" getvalidated('JFDetail','text','Content');"
                                rows="3" placeholder="Please enter sms content"></textarea>
                                  </div>
                                </div>
                                <span id="validJFDetail"
                                style="font-size: 11px; color: #cc0033; "></span></div>
                                <div class="form-group m-form__group row">
                                <div class="m-alert__actions" style="width: 200px;">
                                  <div class="formrow">
                                    <div class="col-md-12">
                                    <button type="button" onclick="SendAlert('mobile')"  class="btn btn-success" style="background-color:#716aca;border-color:#716aca;">
                                        Send 
                                     </button>
                                    <button type="button" class="btn btn-success"
                                        data-dismiss="modal" aria-label="Close">
                                        Dismiss
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                        <div class="modal-footer">
                        </div>
                    </div>
        
                </div>
            </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<!-- <script type="text/javascript" src="/customjs/SearchCandidateReports.js"></script> -->


<script type="text/javascript">
$(document).ready(function () {
  

});
</script>
</body>
</html>