

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<style>
    .center1 {
      text-align: center;
    }
    
    .pagination {
      display: table-cell !important;
    }
    
    .pagination a {
      color: black;
      float: none;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 4px 4px 4px 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> ER-1 Report</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> ER-1 Report</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
            <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="userccount">
              <div class="formpanel">
                <!-- Vacancy Information -->  
                     
                  <div class="row">
                   
                    
               
                    <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en"> Year	</span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="yearddl" name="Sector"  style="height:39px;padding: 7px 12px;">
                              </select>
                        
                            </div>
                        </div>
                     </div>
                 
                     
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Month</span>
                             </label>
                              <div class="formrow">
                                 <select class="form-control" id="monthddl" name="Sector"  style="height:39px;padding: 7px 12px;">
                                </select>
                          
                              </div>
                          </div>
                       </div>
                   
                      </div>
                  
                        <div class="row">
                            <div class="col-md-4">
                              </div>
                          <div class="col-md-4">
                            <button type="submit"  class="btn" id="submit" onclick="FetchER1Form()">Search Report</button>
                          </div>
                        
                        </div>
                        
              </div>
              <div class="row" style="padding-top: 10px;">

                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" >
                    <thead >
                        <tr id="tablehead">
                  
                        </tr>
                    </thead>
                    <tbody id="tbodyvalue"></tbody>
                </table>
              </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<script type="text/javascript" src="/customjs/ER1Report.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    var tablehead="<th style='border-right: inset;'>Sno.</th><th style='border-right: inset;'>Name Employer</th><th  style='border-right: inset;'>Address</th><th style='border-right: inset;'> OfficeType </th><th style='border-right: inset;'> Date </th><th>View/Edit Report</th>";
               $("#tablehead").html(tablehead);
    FillYear('parsedatasecuredFillYear','yearddl');
    FillMonthER1('parsedatasecuredFillMonthER1','monthddl');
});
</script>
</body>
</html>