<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

  <header>
      <% include ../partials/header %>
  </header>
  <div class="error-page-wrap">
      <div class="container">
        <div class="errormain">
          <h3><%= error.status %></h3>
          <h5><%= message %></h5>
          <div class="error-msg">
            <p>The page you are looking is not available or has been removed. Try going to Home Page by using the button below.</p>
            <a href="/" class="btn">Go to Home Page</a> </div>
        </div>
      </div>
    </div>
<!--   Error
  <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
  <footer>
      <% include ../partials/footer %>
  </footer>
    
  </body>
  </html>

<script>
  $(document).ready(function () {
 
 
  });

</script>
