
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
 
    
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Dashboard</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container"> 
      <div class="row"> 
        <!-- < <span style=" margin-left: 456px; "> <span style="font-size: 18px;"> Company Name : </span> <span id="name" style="font-size: 12px;"> </span></span>
        <span><span style="font-size: 18px;"> Registration Number :</span> <span id="Number" style="font-size: 12px;"> </span></span> </div>  
        > -->
        
        <div class="col-md-4 col-sm-6 pull-right">
          <!-- Social Icons -->
          <div class="sidebar">
            <div class="row" style="margin-left: 35%;">
            <div class="userPic"><img  id="ProfilePic" style="width: 95px;
              height: 70px;margin-top: -23%;border-radius: 0%;" alt="">
              <span style="position: absolute;margin-top: -8%;">
                  <a onclick="modal('image')">
                      <i style="color:black;" class="fa fa-camera"></i>
                  </a>
              </span>
          </div>
        </div>

            <div class="row">
             
              <h4 class="title" style="text-align:center;margin-top:10px;" id="name"> </h4>
              <br />
              
              <!-- <i class="fa fa-credit-card" title="Registration No" aria-hidden="true" style="padding-right: 2px;width:17px;"></i> -->
              <ul><li style="text-align:center;" id="Number"></li></ul>
              <br />
            
             
            
            
              <div class="col-md-2">
               <a href="/Empprofile"> <input type="submit" 
                
                  style="background: #263bd6 ;color:white;margin-left:29px;width:259px;" class="btn"
                  value="VIEW PROFILE"></a>
              </div>
              
            
              <div class="col-md-12" style="margin-top: 2%">
                <div class="col-md-6"></div>
              
              </div>
            </div>

         
         
          </div>
          <div class="custom2sidebar">
            <a href="#" onclick="fetchAllVacancies();sessionStorage.Vacancies='All'">
              <div class="widget-title" style="color: #7a7a7a;">All Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchOpenVacancies();sessionStorage.Vacancies='Open'">
              <div class="widget-title" style="color: #7a7a7a;">Open Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchClosedVacancies('0');sessionStorage.type='0';sessionStorage.Vacancies='Closed'">
              <div class="widget-title" style="color: #7a7a7a;"> Closed Vacancies</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchClosedVacancies('2');sessionStorage.type='2';sessionStorage.Vacancies='Pending'">
              <div class="widget-title" style="color: #7a7a7a;"> Pending Vacancies</div>
            </a>
          </div>
        </div>


          <!-- <div class="custom2sidebar">
            <a href="#"  onclick="FillJobs('parsedatasecuredjobs', 'joblist','New')">
              <div class="widget-title" style="color: #7a7a7a;">New Job</div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#jobs"  >
              <div class="widget-title" style="color: #7a7a7a;"> Application Summary</div>
            </a>
          </div> -->
         
      
        <div class="col-md-8 col-sm-12" id="jobs">
      <div class="col-md-3" style="    padding-right: 5px;padding-left: 0px;">
        <div class="customsidebar"><a href="#" onclick="fetchAllVacancies()">
            <h3 class="number" id="allvacanciescount">0</h3>
            <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" >All Vacancies</div>
          </a>
          <!-- Social Icons end -->
        </div>
      </div>

      <div class="col-md-3" style="    padding-right: 5px;padding-left: 0px;">
          <div class="customsidebar"><a href="#" onclick="fetchOpenVacancies()">
              <h3 class="number" id="opencount">0</h3>
              <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" >Open Vacancies</div>
            </a>
            <!-- Social Icons end -->
          </div>
        </div>

        <div class="col-md-3" style="    padding-right: 5px;padding-left: 0px;">
            <div class="customsidebar"><a href="#" onclick="fetchClosedVacancies('0');sessionStorage.type='0';sessionStorage.Vacancies='Closed'">
                <h3 class="number" id="closedcount">0</h3>
                <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" >Closed Vacancies</div>
              </a>
              <!-- Social Icons end -->
            </div>
          </div>

          <div class="col-md-3" style="    padding-right: 5px;padding-left: 0px;">
            <div class="customsidebar"><a href="#" onclick="fetchClosedVacancies('2');sessionStorage.type='2';sessionStorage.Vacancies='Pending'">
                <h3 class="number" id="Pending">0</h3>
                <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" >Pending Vacancies</div>
              </a>
              <!-- Social Icons end -->
            </div>
          </div>

        </div>

 
      <!-- Search Result and sidebar start -->
      <!-- <div class="row">

 
      </div> -->

        <div class="col-md-8 col-sm-12"> 

          <div class="relatedJobs" >
                    <h5 id="vacancytype"></h5>  
            <ul class="searchList" id="vacancylists">
                <!-- <li><div class="row"><div class="col-md-8 col-sm-8"><div class="jobimg"><img src='"+logosrc+"' alt='"+data1[i].CompName+"' /></div><div class="jobinfo"><h3><a href="#."onclick=SetJobId('" + data1[i].Postid + "')>" + data1[i].Designation + "</a></h3><div class="companyName"><a href="+data1[i].url+" target="blank">CompName</a></div><div class="location"><label class="fulltime">Full Time</label>   - <span> <i class="fa fa-map-marker" aria-hidden='true'></i>  "+data1[i].Placeofwork+"</span></div></div><div class='clearfix'></div></div><div class='col-md-4 col-sm-4'><div class='listbtn'><a href='/Login' onclick=sessionStorage.Type='Search'>Apply Now</a></div></div><div class='col-md-4 col-sm-4' style='margin-top: 2%'><span style='color: #999;'>Posted "+data1[i].Posted+" days ago</span></div></div><p><i class='fa fa-briefcase' aria-hidden='true'></i>  " + data1[i].Qualification_essential + " (prefered " + data1[i].Desirable + " ) </p><p> <i class='fa fa-money' aria-hidden='true'></i><span>  INR " + data1[i].PayandAllowances + " </span></p></li> -->
             </ul>
        </div>
               
        </div>
      </div>
    </div>
  </div>


  <footer>
    <% include ../partials/Homefooter %>
</footer>
<div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body" id="modalbody">
           <div id="image" style="display:none"><% include EmployerLogo %></div>  
        </div>

    </div>
</div>
</div>
  
<script type="text/javascript" src="/customjs/Home.js"></script>

<script>
   function modal(Type) {

Cookies.set('modaltype', Type, { expires: 1, path: '/' });
$("#image").css('display', 'block');
$('#myModal1').modal({ show: 'false' });
}

$(document).ready(function () {
  $('#ProfilePic').attr('src',"images/jobs/jobimg.jpg");
  sessionStorage.Vacancies='OpenVacancies'
  $("#name").text(sessionStorage.getItem('CompName'));
  if(sessionStorage.Emp_RegNo1!='0'){
    
  $("#Number").text(sessionStorage.getItem('Emp_RegNo'));
    fetchOpenVacancies();
  Vacanciescount();
  }
  
  EmployerLogo('2')

if(sessionStorage.V_Status=='4'){
$('.noclick').attr('href','#');
}

});
function callme(type){
            sessionStorage.setItem("OpenModal",type);
            if(type=='Image'){
                
               
            }
        }
        function callcloseme(){
            sessionStorage.setItem("OpenModal","")
        }
        
</script>

</body>
</html>