

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Manage User</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span>Manage User</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-10">
            <div class="userccount">
              <div class="formpanel">
                <!-- Vacancy Information -->  
                <div class="row">
                   
                  <div class="col-md-3">
                    <button type="submit"  class="btn" data-toggle='modal' data-target='#modaladduser' onclick="$('#edit').html('Add Sub User'); $('#hide').show();"> Add User</button>
                  </div>
                
                </div>
                <div class="row" style="padding-top: 10px;">

                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" >
                        <thead >
                            <tr id="tablehead">
                      <th>Sr No</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>User Type</th>
                      <th>Edit</th>
                      <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyvalue"></tbody>
                    </table>
                  </div>
                        
              </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModaldelete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Sub User</h4>
        </div>
         <div class="modal-body">
          <p>Are you sure want to Delete..?</p>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="deletesubuser(sessionStorage.SubUserId)">Delete</button>

          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<script type="text/javascript" src="/customjs/ManageUser.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    fillempRole('parsedatasecuredfillempole','subroleddl');
    fillempReporting('parsedatasecuredfillReporting','subreportingddl');
    fillAdduser('parsedatasecuredfillAdduser','');
    sessionStorage.setItem("SubUserId",'0');
});
</script>
</body>
</html>