<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
      <% include ../partials/header %>
  </header>
  <div class="listpgWraper">
    <div class="container">
    <div class="row">        
    <div class="col-md-12">
    <div class="userccount">
    <div class="formpanel"> 

            <!-- Job Information -->
            <h5 style="text-align: center;">Company Details </h5>
            <div class="row">
              
                            <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label> Company Name<span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtCompany" placeholder="Enter Company Name"></input>
                                    </div>
                                    </div>   
                                  
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>  Company URL</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtWebsiteCompany" placeholder="Enter Company Website"></input>
                                            </div>
                                            </div>   
                              </div>
                        
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>  Sector</label>
                                            </div>
                                            </div>
                                <div class="col-md-4">
                                        <div class="formrow">
                                  <select class="form-control" id="ddlsector" name="Sector">
                                    <option value="0">Select Sector </option>
                                    <option>Retail</option>
                                    <option>Manufacturing</option>
                                    <option>IT</option>
                                    <option>ITES</option>
                                    <option>Banking</option>
                                  </select>
                                </div>
                                </div>
                                <div class="col-md-2">
                                        <div class="formrow">
                                                <label>  Number of Employees </label>
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                        <div class="formrow">
                                                <input  type="text" class="form-control" id="txtPersonContact"  placeholder=" Enter Number of Employees "></input>
                                        </div>
                                        </div>
                              </div>
                             
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>   No. Of  Branches: </label>
                                            </div>
                                            </div>
                                <div class="col-md-4">
                                        <div class="formrow">
                                  <select class="form-control" id="ddlsector" name="Sector">
                                    <option value="0">Select Company No. Of  Branches  </option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                                </div>
                                </div>
                                <div class="col-md-2">
                                        <div class="formrow">
                                                <label> Head  Office Address:</label>
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                        <div class="formrow">
                                                <input  type="text" class="form-control" id="txtPersonContact"  placeholder=" Enter Registered/ Head  Office Address"></input>
                                        </div>
                                        </div> 
                              </div>
                            
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label> Contact Number1<span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder=" Enter Contact Number1"></input>
                                    </div>
                                    </div> 
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label> Contact Number2<span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder=" Enter Contact Number2"></input>
                                            </div>
                                            </div>    
                              </div>
                          
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>Type of Ownership<span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder=" Enter Type of Ownership"></input>
                                    </div>
                                    </div>    
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>GST Number <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter GST Number"></input>
                                            </div>
                                            </div>   
                              </div>
                           
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>PAN Number <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter PAN Number"></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>PF CODE <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter PF CODE"></input>
                                            </div>
                                            </div>    
                              </div>
                            
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>PT CODE <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter PT CODE"></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>ESIC <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter ESIC"></input>
                                            </div>
                                            </div>     
                              </div>
                           
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>CIN <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter CIN"></input>
                                    </div>
                                    </div> 
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>TAN <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter TAN"></input>
                                            </div>
                                            </div>     
                              </div>
                         
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>TIN <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter TIN"></input>
                                    </div>
                                    </div> 
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>Bank Name <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Bank Name"></input>
                                            </div>
                                            </div>      
                              </div>
                     
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>Branch <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Branch"></input>
                                    </div>
                                    </div>   
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>Branch Address <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Branch Address"></input>
                                            </div>
                                            </div>    
                              </div>
                        
                              <div class="col-md-12">
                                    <div class="col-md-2">
                                    <div class="formrow">
                                            <label>Bank Account no <span class="required" style="color:red;">*</span>:</label>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Bank Account no"></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-2">
                                            <div class="formrow">
                                                    <label>IFSC Code <span class="required" style="color:red;">*</span>:</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter IFSC Code"></input>
                                            </div>
                                  </div>  
                                           
                              </div>
                              <h5 style="text-align: center;">Escalations Channel </h5>  
                              <div class="col-md-12">
                                    <div class="col-md-4">
                                    <div class="formrow">
                                            <label>Company Name (As per the Agreement) <span class="required" style="color:red;">*</span></label>
                                    </div>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Company Name"></input>
                                    </div>
                                    </div>  

                               
                                           
                              </div>
                              <div class="col-md-12">
                                 
                                    <div class="col-md-3">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Primary Contact Name "></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-3">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Primary Email ID "></input>
                                            </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="formrow">
                                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Primary Contact Number"></input>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <div class="formrow">
                                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Designation"></input>
                                                            </div>
                                                            </div>
                               
                                           
                              </div>
                              <div class="col-md-12">
                                 
                                    <div class="col-md-3">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Secondary Contact Name "></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-3">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Secondary Email ID "></input>
                                            </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="formrow">
                                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Secondary Contact Number"></input>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <div class="formrow">
                                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Designation"></input>
                                                            </div>
                                                            </div>
                               
                                           
                              </div>
                              <div class="col-md-12">
                                 
                                    <div class="col-md-3">
                                    <div class="formrow">
                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Base Location "></input>
                                    </div>
                                    </div>  
                                    <div class="col-md-3">
                                            <div class="formrow">
                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Escalation POC-Name"></input>
                                            </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="formrow">
                                                            <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Escalation POC-Email id"></input>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <div class="formrow">
                                                                    <input  type="text" class="form-control" id="txtAddress" placeholder="Enter Designation"></input>
                                                            </div>
                                                            </div>
                               
                                           
                              </div>
            </div>
            <br> 
             <input  style="width:16%;margin-left:31%" id="Postjob" type="submit" class="btn" value="Submit">
            <input style="width:16%"  type="submit" id="Savejob" class="btn" value=" Reset">
    </div>
    </div>
    </div>
  
  </div>
    </div>
    </div>


  <footer>
        <% include ../partials/Homefooter %>
</footer>
  

</body>
</html>