

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Search Candidates</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a>/<span> Search Candidates</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row" >
          <div class="col-md-10">
            <div class="userccount">
              <div class="formpanel">
                <!-- Vacancy Information -->  
                     
                  <div class="row">
                   
                     <div class="col-md-6 forvalidation">
        
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Skill</span>
                         </label>
                         <div class="formrow">
                             <input class="demo-default" id="Skill" style="padding-left:3px;    width: 428px;height:50px !important"  placeholder="Enter Skills">
                             <!-- <input class="demo-default" id="Skill" name="Sector"  style="padding-left:3px;    width: 377px;height:41px !important"> -->
                     
                          </div>
                      </div>
                   </div>
               
                    <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en"> Designation	</span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="Designation" name="Sector"  style="height:39px;padding: 7px 12px;">
                              </select>
                        
                            </div>
                        </div>
                     </div>
                 
                    </div>
                      
                    <div class="row">
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Qualification</span>
                             </label>
                             <div class="formrow">
                                 <!-- <select class="form-control" id="Qualification"  name="Ownership" style="height:46px;">
                             </select> -->
                             <input class="demo-default" id="Qualification" style="padding-left:3px;    width: 428px;height:50px !important"  placeholder="Enter Qualification">

                              </div>
                          </div>
                       </div>
                     
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en"> Subject Group	</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="SubjectGroup" name="Sector"  style="height:39px;padding: 7px 12px;">
                                </select>
                          
                              </div>
                          </div>
                       </div>
                   
                      </div>
                          
                      <div class="row">
                        <div class="col-md-6 forvalidation">
      
                            <div class="formrow">
                               <label for="example-email-input" class="col-2 col-form-label">
                                  <span lang="en">District</span>
                               </label>
                               <div class="formrow">
                                   <select class="form-control" id="District"  name="Ownership" style="height:39px;padding: 7px 12px;">
                               </select>
                            
                                </div>
                            </div>
                         </div>
                       
                         
                         <div class="col-md-6 forvalidation">
  
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Number of Years</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="Years"  name="Ownership" style="height:39px;padding: 7px 12px;">
                                  <option value="0">Select Year</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                
                             </select>
                          
                              </div>
                          </div>
                       </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              </div>
                          <div class="col-md-4">
                            <button type="submit" onclick="redirect()" class="btn" id="submit">Search Candidates</button>
                          </div>
                        
                        </div>
              </div>
            </div>
        
          </div>
  
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../partials/Homefooter %>
</footer>
  
<script type="text/javascript" src="/customjs/searchcandidate.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  FillDesignation();
  FillDistrict('parsedatasecuredFillDistrict','District');
  //FillEducation('parsedatasecuredFillEducation','Qualification');
  FillQualification()
  FillSkillSet('parsedatasecuredFillSkillSet','Skill');
  // FillSecuredSkills();

 
  jQuery("#SubjectGroup").append(jQuery("<option ></option>").val("0").html("Select Subject Group"));


});
</script>
</body>
</html>