<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/Newheader %>
    </header>

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12" style="margin-left: 25%">



            <div class="userccount"
            style="box-shadow:5px 10px 8px 8px #888888;margin-top:12%;    margin-bottom: 12%;height: 456px; ">
            <div class="">

                <div class="socialLogin">
                    <h5><span lang="en">Validate OTP (One Time Passcode)</span></h5>
                 </div>
                <div class="formpanel">

                    <h6 style="text-align:center;" id="successusername">

                    </h6>
                    <br />
                    <div class="col-md-12">
                        <div class="formrow">
                            <p id="otpsendmsg"></p> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="formrow">
                            <p>Please enter OTP below to verify your email and number</p> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- <div class="col-md-2">
                        <div class="formrow">
                                <label> Email</label>
                        </div>
                        </div> -->
                        <div class="col-md-12">
                        <div class="formrow">
                                <input  type="text" class="form-control" id="checkemailotp" placeholder="Enter Email OTP" maxlength="4" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                                <span id="validcheckemailotp" style="font-size: 11px; color: #cc0033; " ></span>
                        </div>
                        </div>   
                      
                         <div class="col-md-4">
                                <div class="formrow"> 
                                    <!-- <input  style="width:16%;margin-left:31%" id="Postjob" type="submit" class="btn" value="Submit"> -->
                                     <input type="submit"  style="width: 60%; display: none;" class="btn"  value="Submit" id="Submitemail">
                         
                                </div>
                                </div> 
                                
                  </div>
                  <div class="col-md-12">
                    <!-- <div class="col-md-2">
                    <div class="formrow">
                            <label> Mobile</label>
                    </div>
                    </div> -->
                    <div class="col-md-12">
                    <div class="formrow">
                            <input  type="text" class="form-control" id="checkmobileotp" placeholder="Enter Mobile OTP" maxlength="4" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                            <span id="validcheckmobileotp" style="font-size: 11px; color: #cc0033; " ></span>
                    </div>
                    </div>   
                  
                    <div class="col-md-4">
                            <div class="formrow">
                                <!-- <input  style="width:16%;margin-left:31%" id="Postjob" type="submit" class="btn" value="Submit"> -->
                                <input type="submit"  style="width: 60%; display: none;" class="btn"  value="Submit" id="Submitmobile">
                     
                            </div>
                            </div>
                            
              </div>

                       
                         
                    </p>
                  
                    <br />


                 
                    <br />
                    <div>
                      
                   
                        <div class="col-md-4"><input type="submit"  class="btn" value="Verify" Id="Next"></div> 

                        <div class="col-md-4"><input type="submit"  class="btn"  data-toggle="modal" data-target="#myModalreply" value="Reply" Id="reply"></div> 

                        <div class="col-md-4"></div>
                         <div class="col-md-4"><input  class="btn" onclick="  sendemailjs(sessionStorage.emailOTP, sessionStorage.emailval);sendmsg(sessionStorage.mobileOTP, sessionStorage.mobileval);" value="Resend OTP"></div>
                </div>
                
                </div>
               
            </div>

        </div>
    </div>
    </div>

    <div class="modal fade" id="myModalreply" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
           <div class="modal-body">
            <div class="userccount">
                <button type="button" class="close" id ="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>

                <div class="row">

                    <div class="col-md-12 forvalidation">

                       <div class="formrow">
                          						 
						<label class="col-lg-2 col-form-label">
							Subject:
						</label>
                          <div class="formrow">
                             <input type="text" name="name" id="subject"  autocomplete="off"
                              
                                class="form-control" placeholder="Subject">
                                <span id="validsubject" style="font-size: 11px; color: #cc0033; "></span>
                          </div>
                       </div>

                    </div>

                    <div class="col-md-12">

                       <div class="formrow">
                          						 
						<label class="col-lg-2 col-form-label">
							Body:
						</label>
                          <div class="formrow">
                            <textarea class="form-control" style="height: 110px;" id="body" name="bodY" placeholder="Body"></textarea>
                            <span id="validbody" style="font-size: 11px; color: #cc0033; "></span>
                          </div>
                       </div>
                    </div>
                 </div>
					
						<div class="form-group m-form__group row">
						<div class="m-alert__actions" style="width: 200px;margin-left: 40%;">
							<button type="button"  class="btn btn-success" onclick="sendmailtoemployer()" style="background-color:#716aca;border-color:#716aca;">
								Send 
							 </button>
							<button type="button" class="btn btn-success"
								data-dismiss="modal" id="dismissModal" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
				
				</div>
        </div>
        </div>
      </div>
</div>


    </div>

    
    <script src="../customjs/Sucessreg.js"></script> 
    <script>
        $(document).ready(function () {
            EmailConfig(); 
            $('#checkemailotp').val(sessionStorage.emailOTP);
            $('#checkmobileotp').val(sessionStorage.mobileOTP);
           
                setTimeout(function(){ sendemailjs(sessionStorage.emailOTP,sessionStorage.emailval+","+sessionStorage.ceomail);
            }, 5000);
            sendmsg(sessionStorage.mobileOTP,sessionStorage.mobileval);
            
          
            $("#otpsendmsg").text("A OTP (One Time Passcode) has been sent to your email ("+sessionStorage.emailval+")  and mobile number ("+sessionStorage.mobileval+")")
           
            $("#successusername").text('Hello' + ' ' + sessionStorage.getItem('CompanyName') + '!');
            $("#successregistrationid").text(sessionStorage.getItem('EmployerRegId'));
      
        
        });
    </script>
</body>

</html>