</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/Newheader %>
    </header>
    <div class="row">
        <div class="col-md-6 col-sm-6" style="margin-left: 25%">



            <div class="userccount"
                style="box-shadow:5px 10px 8px 8px #888888;background: #4a90e25c;margin-top:12%;    margin-bottom: 12%; width: 95%;margin-left: 29px;">
                <div class="">

                                <!-- login form -->
                    <div class="formpanel">
                        <h3 style="text-align:center;" id="successusername">

                        </h3>
                        <br />
                        <p style="color:forestgreen;text-align:center;    font-size: 17px;">
                            You Are Registered Successfully.It will take 24 hours to verify your account.<br>
                            We will inform you via email.
                        </p>
                        <br />

                      
                      

                        <br />

                        <p style="    font-weight: 900;">
                            Please Click Here For <a style="margin-bottom:25px;    font-weight: bold;" id="btnsubmit" href="/">
                                Login</a><br />
                        </p>

                    </div>
                    <!-- login form  end-->


                </div>

            </div>
        </div>
    </div>
    </div>

      
    <script>
        $(document).ready(function () {
            $("#successusername").text('Hello' + ' ' + sessionStorage.getItem('CompanyName') + '!');
            $("#successregistrationid").text(sessionStorage.getItem('EmployerRegId'));
        });
    </script>
</body>

</html>