<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <link href="/css/captcha.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../../partials/header %>
    </header>

  
<!-- Page Title start -->
<div class="pageTitle" style="height: 395px;" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h5 class="page-heading" style="color: white">Resume Database Access (RESDEX)</h5>
          <p style="color: white">Source the best talent from India’s largest jobseeker database</p>
          <p ><i class="fa fa-circle" aria-hidden="true"></i> <span style="color: white"> More than 63.6 million registered jobseekers</span> </p>
          <p ><i class="fa fa-circle" aria-hidden="true"></i><span style="color: white"> More than 500,000 new CVs added every month</span> </p>
          <p ><i class="fa fa-circle" aria-hidden="true"></i><span style="color: white">Run Smart Searches with relevant filters and an evolved algorithm</span> </p>
          <p ><i class="fa fa-circle" aria-hidden="true"></i><span style="color: white">Connect directly with jobseekers using customized and branded communication</span> </p>
       
        </div>
        <div class="col-md-5">
                <div class="userccount" style="    margin-top: -68px;">
                        
                     
                        <!-- login form -->
                        <div class="formpanel" >
                          <div class="formrow">
                               <p>Number of days for Database Access</p> 
                                <select class="form-control" id="ddlcompany" name="company">
                                        <option value="0"> Resdex Premium Subscription 3 days </option>  
                                 </select>
                                </br> 
                                 <p style="text-align: left;">1500 Email Access + 150 CV Access</p>
                                 <p style="text-align: left;">   1 CV View / Click to view phone no. = 1 CV Access,</p> 
                                 <p style="text-align: left;">1 Excel download / Export to Response manager = 2 CV Access.</p>
                                </br>
                                <p style="text-align:left;color: black;"> Total Price</p>
                                </div>
                                 <div class="formrow"   style="display:block">
                      <input type="button" id="emplogin" class="btn" value="Buy Now">
                        </div >
                  </div>
                                <br><br>
              
                            <!-- END CAPTCHA -->
                  
                        <!-- login form  end--> 
                
                       </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

<div class="section howitwrap">
  <div class="container"> 
    <!-- title start -->

    <!-- title end -->
    <ul class="howlist row">
   <!--step 2-->
   <h2 style="text-align: center;">What We Offer </h2>
      <li class="col-md-3 col-sm-6">
            <div class="iconcircle"><i class="fa fa-search" aria-hidden="true"></i></div>
        <h4>Smart Search    </h4>
        <p>
                Find relevant profiles using custom search logic basis recruiter behavior </br> <a href="#">KNOW MORE</a>
          </p>
      </li>
      <!--step 2 end--> 
           <!--step 1-->
           <li class="col-md-3 col-sm-6">
              <div class="iconcircle"><i class="fa fa-filter" aria-hidden="true"></i></div>
              <h4>  Sharper Focus</h4>
              <p>
                    Search and filter candidates across multiple parameters 
            </br> <a href="#">KNOW MORE</a>
                </p>
            </li>
            <!--step 1 end--> 
            <li class="col-md-3 col-sm-6">
                    <div class="iconcircle"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <h4>Direct Connect</h4>
                    <p>
                            Instantly reach candidates using customized communication via Email/Phone/SMS
                    </br> <a href="#">KNOW MORE</a>
                      </p>
                  </li>
                  <!--step 2 end--> 
                       <!--step 1-->
                       <li class="col-md-3 col-sm-6">
                          <div class="iconcircle"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                          <h4>Manage Activity</h4>
                          <p>
                                Save your searches to re-use in the future  
                        </br> <a href="#">KNOW MORE</a>
                            </p>
                        </li>
                        <!--step 1 end--> 
    </ul>
  </div>
</div>
<div class="listpgWraper">
        <div class="container"> 
          
          <!-- Blog start --> 
          
          <!-- Blog List start -->
          <div class="blogWraper">
            <ul class="blogGrid row">
            
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int"> 
                  <!-- Blog Image -->
                 
                  
                  <!-- Blog info -->
                  <div class="post-header">
                    <h4><a href="#.">Post a Job</a></h4>
                  </div>
                  <p>Reach out to a pool of 63.6 million CVs and 
                        Find your right candidate</p>
                         <a href="#." class="readmore">KNOW MORE</a> </div>
                 
              </li>
              
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int"> 
                  <!-- Blog Image -->
                 
                  
                  <!-- Blog info -->
                  <div class="post-header">
                    <h4><a href="#.">Resdex + Job Posting</a></h4>
                 </div>
                  <p>Try our value packs for Resdex + Job Posting 
                        Save big by trying our special offers
                  </p>
                  <a href="#." class="readmore">VIEW SPECIAL COMBO PRODUCTS</a> </div>
              </li>
              <li class="col-md-2 col-sm-6">
                          
                </li>
             
            </ul>
           <div style="text-align: center;"> Have Questions? Visit our  <a href="/FAQs" class="readmore">Frequently asked Questions</a> section </div> 
            
            
          </div>
     
        </div>
      </div>
      
  <footer>
      <% include ../../partials/footer %>
  </footer>

      

</body>
  </html>