<div class="modal fade" id="modalChangepassword" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="userccount">
            <div>
                <button type="button" class="close" data-dismiss="modal"  style="margin-top: -10px;font-size: xx-large;">×</button>
       
              <h5 style="font-size:16px; "><span lang="en">Change Password </span></h5>
              <!-- login form -->
              <div class="formpanel">
                  <div class="row">
                      <div class="col-md-3" style="    font-weight: 500;">
                          User Name:
                        </div>
                        <div class="col-md-6" id="Changepassword" style="    font-weight: 500;">
                            
                          </div>
                      </div>
                   </div>
              <div class="formpanel">
                 <div class="row">
                   <div class="col-md-12 forvalidation">
                    <div class="formrow" id="resetpassword">
                       <label for="example-email-input" class="col-2 col-form-label">
                          Current Password&nbsp<span class="asterisk_input label-icon"></span>
                       </label>
                       <div class="formrow">
                          <input type="password" id="CurrentPassword" name="Re-EnterPassword" onfocusout="getvalidated('CurrentPassword','text','Current Password');" class="form-control"
                             placeholder="Current Password" >
                             <span id="validCurrentPassword" style="font-size: 11px; color: #cc0033; "></span>
                       </div>
                    </div>
                 </div>
                </div>
                 <div class="row">
                  <div class="col-md-12 forvalidation" >
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           Change Password&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input id="passwordfield" type="password" class="form-control" name="password" value="" placeholder="Password"  >
                              <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; "></span>
                             
                              <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge" data-placement="right"
                              title="<br><h6> Password must contain the following: </h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                              data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                          
                              <span toggle="#passwordfield" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                              <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain at least one letter, at least one number, and be longer than 8 charaters.</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 forvalidation">
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                          Confirm Password&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="password" id="Repassword" name="Re-EnterPassword" onfocusout="getvalidated('Repassword','text','Confirm Password');" class="form-control"
                              placeholder="Confirm Password" >
                              <span id="validRepassword" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>
                  </div>
               </div>

               <strong><span style="font-size: 15px; color: #cc0033;margin-left: 22%;" lang="en">Please enter the Text Below in Text Box</span></strong>

                <div class="row" style="margin-left:25%; ">
                  <div class="col-md-4">
                    <div class="formrow">
                      <div id="captchareset"><canvas id="captchareset" width="100" height="50"></canvas></div>
                    </div>
                  </div>
  
                  <div class="col-md-4"><a onclick="createcaptchareset()" ><i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i></a>
  
                  </div>
                </div>
                <div class="formrow" style="display:block">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxheader','text','Captcha')" style="margin-left:27%; " id="cpatchaTextBoxheader"/>
                  <span id="validcpatchaTextBoxheader" style="font-size: 11px; color: #cc0033; "></span>
                 </div>
                
                <div class="formrow" style="display:block">
                  <input type="button" onclick="CheckChangePassword();"  class="btn" value="Submit">
                </div>
              </div>
            </div>
              <br><br>
  
              <!-- END CAPTCHA -->
            
            <!-- login form  end-->
  
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  
 
      
  <!-- <script src="../customjs/EmployerZone/EmployerLogin.js"></script> -->
  <script src="../customjs/EmployerZone/ChangePassword.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      createcaptchareset();
      $("#Changepassword").html(sessionStorage.getItem("EmailId"))

    });
    </script>
