<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
  <link href="/css/captcha.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include ../../partials/Homeheader %>
  </header>


  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Edit Employer Profile</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Dashboard">Home</a> / <span>Employer Profile</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-9">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5>Corporate Details</h5>
              <div class="row">

                  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">	Establishment/Company Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="text" name="name"  id="txtCompany" maxlength="150"
                              onfocusout="getvalidated('txtCompany','text','Establishment/Company Name')"
                              class="form-control" placeholder="Establishment/Company Name"  disabled>
                           <span id="validtxtCompany" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>

                  </div>

                  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Company Type</span>
                        </label>
                        <div class="formrow">
                            <select class="form-control" id="ddlcompany"
                            name="Company" style="height:46px;" disabled> 
                            </select>
                           
                         </div>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">      Ownership Name</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="ddlOwnership"
                             onfocusout="getvalidated('ddlOwnership','select','Ownership')"
                             name="Ownership" style="height:46px;" disabled>
                        
                         
                             </select>
                             <span id="validddlOwnership" style="font-size: 11px; color: #cc0033; "></span>
                          
                          </div>
                      </div>
                   </div>
                 
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">      Sector Name</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="ddlsector"
                             onfocusout="getvalidated('ddlsector','select','Sector')"
                             name="Sector" style="height:46px;">
                           
                             </select>
                             <span id="validddlsector" style="font-size: 11px; color: #cc0033; "></span>
                          
                          </div>
                      </div>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">   Nature of Business</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                            <input type="text" name="name" id="NatureofBusiness"
                               onfocusout="getvalidated('NatureofBusiness','text','Nature of Business')"
                               class="form-control" placeholder="Nature of Business" >
                            <span id="validNatureofBusiness" style="font-size: 11px; color: #cc0033; "></span>
                         </div>
                      </div>
                    
                   </div>
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">  
                                PAN</span></label>
                         <div class="formrow">
                            <input type="text" name="name" id="Panno" maxlength="11"   
                              class="form-control" placeholder=" PAN Number of Company" disabled>
                              <!-- <span id="validPanno" style="font-size: 11px; color: #cc0033; "></span> -->
                              <!-- onfocusout="getvalidated('Panno','text','PAN Number')" -->

                         </div>
                      </div>
                    
                   </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6 forvalidation">

                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en">  
                                       GST Number</span></label>
                                 <div class="formrow">
                                    <input type="text" name="name" id="GSTNumber" maxlength="15"
                                      class="form-control" placeholder="GST Number"  disabled>
                                 
                                 </div>
                              </div>
                            
                           </div>
                      <div class="col-md-6 forvalidation">
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">  Office Type</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="ddlOfficeType"
                                 name="Ownership" style="height:46px;">
                                
                                 <option value="0">Head Office	</option>
                                 <option value="1">Branch Office</option>
                                 </select>
                              </div>
                          </div>
                       </div>
                      <div class="col-md-6 forvalidation">
   
                         <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">  
                                  Number of Employee's</span></label>
                            <div class="formrow">
                               <input type="number" name="name" id="NumberofEmployee" onkeypress="if(this.value.length>=6) { return false;}"
                                 class="form-control" placeholder="Number of Employee's" >
                            
                            </div>
                         </div>
                       
                      </div>
                     </div>
              <!-- Contact Details -->
              <h5>Contact Details</h5>
              <div class="row">
                  <div class="col-md-6 forvalidation">
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">  	Name of Contact Person</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                            <input type="text" name="name" id="txtContact" maxlength="50"
                            onfocusout="getvalidated('txtContact','text','Name of Contact Person')"
                               class="form-control" placeholder="Name of Contact Person" onfocusout="Cookies.set('CompanyName', this.value, { expires: 1, path: '/' })" >
                               <span id="validtxtContact" style="font-size: 11px; color: #cc0033; "></span>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Designation</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                           
                              <select class="form-control" id="Designation"
                              onfocusout="getvalidated('Designation','select','Designation')"
                               name="state" style="height:46px;">
                            
                           
                               </select>
                              <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                        
                      </div>
                   </div>
                 </div>
                 <div class="row">
                  
                     <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">State</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="state"
                               onfocusout="getvalidated('state','select','state')"
                               name="state" style="height:46px;">
                            
                           
                               </select>
                               <span id="validstate" style="font-size: 11px; color: #cc0033; "></span>
                            
                            </div>
                        </div>
                     </div>
                     <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">District</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="district"
                               onfocusout="getvalidated('district','select','district')"
                               name="Ownership" style="height:46px;">
                            
                           
                               </select>
                               <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
                            
                            </div>
                        </div>
                     </div>
                   </div>
                   <div class="row">
                  
                      <div class="col-md-6 forvalidation">
   
                         <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">City</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
                            <div class="formrow">
                                <select class="form-control" id="city"
                                onfocusout="getvalidated('city','select','city')"
                                name="city" style="height:46px;">
                             
                            
                                </select>
                                <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
                             
                             </div>
                         </div>
                      </div>
                      <div class="col-md-6 forvalidation">
  
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">  
                                   PIN Code</span></label>
                             <div class="formrow">
                                <input type="number" name="name"  id="Pin" onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;};" onkeypress="if (this.value.length >= 6) { return false; };" 
                                  class="form-control" placeholder="PIN Code"  >
                                  <span id="validPin" style="font-size: 11px; color: #cc0033; "></span>


                             </div>
                          </div>
                        
                       </div>
                    </div>
                   
           <div class="row">
      <div class="col-md-12">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
               Head Office Address&nbsp;<span class="asterisk_input label-icon"></span>
                    </label>
          <textarea class="form-control" onkeypress="if(this.value.length>=200) { return false;}" style="height: 110px;" id="permanentaddress" name="permanentaddress" placeholder="Enter Head Office Address"></textarea>
            <span id="validpermanentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
   </div>
      <div class="row">
         <div class="col-md-6">
               <div class="formrow">
         <label for="example-email-input" class="col-2 col-form-label">
              Is Head Office and Branch Offcie Address is same?
                    </label>
                  </div>
               </div>
               <div class="col-md-4">
                     <div class="formrow">
                           <input type="radio" id="yesAdd" value="1" name="mobile" > Yes
                           <input type="radio" value="2" id="noAdd" name="mobile">No
                        </div>
                     </div>
     </div>
     <div class="row">
      <div class="col-md-12">
        <div class="formrow" id="branchofficeaddress">
            <label for="example-email-input" class="col-2 col-form-label">
               Branch Office Address&nbsp;<span class="asterisk_input label-icon"></span>
                    </label>
          <textarea class="form-control" onkeypress="if(this.value.length>=200) { return false;}" style="height: 110px;" id="presentaddress" name="presentaddress" placeholder="Enter Branch Office Address" ></textarea>
            <span id="validpresentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
    </div>
   
    <div class="row">
      
        <!-- <div class="col-md-6 forvalidation">

            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                     Fax</span></label>
               <div class="formrow">
                  <input type="text" name="name" id="Fax" maxlength="10" 
                    class="form-control" placeholder="Fax "  >
               
               </div>
            </div>
          
         </div> -->
         <div class="col-md-6 forvalidation">
  
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                      STD Code</span></label>
               <div class="formrow">
                  <input type="number" name="name" id="STDCode"  onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;};" onkeypress="if (this.value.length >= 7) { return false; };"
                    class="form-control" placeholder="STD Code "  >
               
               </div>
            </div>
          
         </div>
         <div class="col-md-6 forvalidation">
  
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                      Contact No. (Landline)</span></label>
               <div class="formrow">
                  <input type="number" name="name" id="Landline"  onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)"  onkeypress="if (this.value.length >= 12) { return false; };"
                    class="form-control" placeholder="Contact No. (Landline) "  >
               
               </div>
            </div>
          
         </div>
       </div>
       <div class="row">
      
        
           <div class="col-md-6 forvalidation">
              <div class="formrow">
                 <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">       Mobile Number</span>&nbsp<span class="asterisk_input label-icon"></span>
                 </label>
                 <div class="formrow">
                    <input type="number" name="number" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)"  onfocusout="getvalidated('Phone','number','Mobile Number')" onkeypress="if (this.value.length >= 10) { return false; };" id="Phone" class="form-control"
                       placeholder="Mobile Number" >
                       <span id="validPhone" style="font-size: 11px; color: #cc0033; "></span>
                 </div>
              </div>

           </div>
           <div class="col-md-6 forvalidation">
    
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">        Email</span>&nbsp<span class="asterisk_input label-icon"></span>
                     </label>
                     <div class="formrow">
                        <input type="email"  name="email" id="Email" minlength="6" maxlength="30" class="form-control" placeholder="Email ID"
                        onfocusout="getvalidated('Email','email','Email')" onkeypress="if (this.value.length >= 30) { return false; };" disabled>
                         <span id="validEmail" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
               
            </div>
          
         </div>
         </div>
           
         <div class="row">
            <div class="col-md-6 forvalidation">
               <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                          <span lang="en">  
                             Website</span></label>
                       <div class="formrow">
                          <input type="text" name="name" id="Website" onfocusout="checkWebsite()"
                            class="form-control" placeholder="Website" onkeypress="if (this.value.length >= 30) { return false; };">
                          
                       </div>
               </div>
            </div>

            <div class="col-md-6 forvalidation">
               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">	Select Employment Exchange</span>
                  </label>
                  <div class="formrow">
                     <select class="form-control" id="EmploymentExchange" name="username" style="height:46px;">
                      </select>
                  </div>
               </div>
            </div>

            
           </div>

           
           
              <div class="row">
                  <div class="col-md-2">
                    </div>
                <div class="col-md-4">
                  <button type="submit" class="btn" id="submit">Update</button>
                </div>
                <div class="col-md-4">
                  <button type="" class="btn" id="Cancel">Cancel</button>
                </div>
              </div>
            </div>
          </div>
    
        </div>
        
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/Homefooter %>
  </footer>

      
  <script src="/customjs/EmployerZone/EditEmpProfile.js"></script>
  <script type="text/javascript">
    var $ = jQuery;
    $(document).ready(function () {
      
      
      Fillsector('parsedatasecuredFillSector','ddlsector');
      FillOwnership('parsedatasecuredFillOwnership','ddlOwnership');
      Fillsectortype('parsedatasecuredFillsectortype','ddlcompany');
      FillDesignation();
      fetchEmpprofile('parsedatasecuredfetchEmpprofile');
      
    });

    $("#submit").click(function () {
      CheckValidation();
     // EditEmpProfile();
    });  
  </script>

</body>

</html>