<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
  <link href="/css/captcha.css" rel="stylesheet">
</head>

<body onload="createCaptchaempreg()">
  <header>
    <% include ../../partials/header %>
  </header>


  <!-- Page Title start -->
  <div class="pageTitle" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Employer Registration</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Employer Registration</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5>Corporate Details</h5>
              <div class="row">

                  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">	Establishment/Company Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="text" name="name"  id="txtCompany" maxlength="150" autocomplete="off"
                              onfocusout="getvalidated('txtCompany','text','Establishment/Company Name');Cookies.set('CompanyName', this.value, { expires: 1, path: '/' });"
                              class="form-control" placeholder="Establishment/Company Name"  >
                           <span id="validtxtCompany" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>

                  </div>

                  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Company Type</span>
                        </label>
                        <div class="formrow">
                            <select class="form-control" id="ddlcompany"
                            name="Company" style="height:46px;"> 
                            </select>
                           
                         </div>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">      Ownership Name</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="ddlOwnership" onchange="onchang()"
                             onfocusout="getvalidated('ddlOwnership','select','Ownership')"
                             name="Ownership" style="height:46px;">
                        
                         
                             </select>
                             <span id="validddlOwnership" style="font-size: 11px; color: #cc0033; "></span>
                          
                          </div>
                      </div>
                   </div>
                 
                  <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">      Sector Name</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="ddlsector"
                             onfocusout="getvalidated('ddlsector','select','Sector')"
                             name="Sector" style="height:46px;">
                           
                             </select>
                             <span id="validddlsector" style="font-size: 11px; color: #cc0033; "></span>
                          
                          </div>
                      </div>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">   Nature of Business</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                            <input type="text" name="name" id="NatureofBusiness"
                               onfocusout="getvalidated('NatureofBusiness','text','Nature of Business')"
                               class="form-control" placeholder="Nature of Business" >
                            <span id="validNatureofBusiness" style="font-size: 11px; color: #cc0033; "></span>
                         </div>
                      </div>
                    
                   </div>  <div class="col-md-6 forvalidation">

                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">  
                             Annual Turn Over</span></label>
                        <div class="formrow">
                           <select  name="name" id="Annualturnover"  onchange="changeTurnover()"
                             class="form-control"  >
                             <option value="1">Greater Than 40 Lacs</option>
                             <option value="2">Less Than 40 Lacs</option>
                             
                             </select>
                        
                        </div>
                        <span id="validAnnualturnover" style="font-size: 11px; color: #cc0033; "></span>
               
                     </div>
                   
                  </div>
                   
                  </div>
                  <div class="row">
                     <div class="col-md-6 forvalidation">

                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">  
                                  PAN</span></span>&nbsp<span class="asterisk_input label-icon" id="panstar"></span></label>
                           <div class="formrow">
                              <input type="text" name="name" onfocusout="focusout()" id="Panno"  maxlength="15"    
                                class="form-control" placeholder=" PAN Number of Company" >
                                <span id="validPanno" style="font-size: 11px; color: #cc0033; "></span>
                                <!-- onfocusout="getvalidated('Panno','text','PAN Number')" -->
  
                           </div>
                        </div>
                      
                     </div>
                     <div class="col-md-6 forvalidation"  >
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en" >  
                                 PAN Upload</span></label>
                      
                        
                           <form class="m-form" enctype="multipart/form-data"
                           method="post" action="/PANUpload" id="panupload" style="margin-left: 6%;margin-top: 3%;
                       " >
                           <input type="submit" id="panpostattach"
                           class="btn btn-success" 
                           style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                           
                     
                        
                           <input type="file" name="myFile"
                             >
                           </form>
                      
                        </div>
                     </div>
                        <div class="col-md-6 forvalidation">

                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en" id="gstLabel">  
                                       GST Number</span>&nbsp<span class="asterisk_input label-icon" id="gststar"></span></label>
                                 <div class="formrow">
                                    <input type="text" name="name" id="GSTNumber" maxlength="15" onfocusout="focusout()"
                                      class="form-control" placeholder="GST Number"  >
                                      <span id="validGSTNumber" style="font-size: 11px; color: #cc0033; "></span>
                                    </div>
                        
                              </div>
                            
                           </div>
                           <div class="col-md-6 forvalidation"  >
                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en" id="gstupoloadLabel">  
                                       GST Upload</span>&nbsp</label>
                            
                              
                                 <form class="m-form" enctype="multipart/form-data"
                                 method="post" action="/GSTUpload" id="gstupload" style="margin-left: 6%;margin-top: 3%;
                             " >
                                 <input type="submit" id="postattach"
                                 class="btn btn-success" 
                                 style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                                 
                           
                              
                                 <input type="file" name="myFile"
                                    onclick="Cookies.set('modaltype', 'gstdoc', { expires: 1, path: '/' });">
                                 </form>
                            
                              </div>
                           </div>
                      <div class="col-md-6 forvalidation">
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">  Office Type</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="ddlOfficeType"
                                 name="Ownership" style="height:46px;">
                                
                                 <option value="0">Head Office	</option>
                                 <option value="1">Branch Office</option>
                                 </select>
                              </div>
                          </div>
                       </div>
                      <div class="col-md-6 forvalidation">
   
                         <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">  
                                  Number of Employees</span></label>
                            <div class="formrow">
                               <input type="number" name="name" id="NumberofEmployee" onkeypress="if(this.value.length>=6) { return false;}"
                                 class="form-control" placeholder="Number of Employees" >
                            
                            </div>
                         </div>
                       
                      </div>
                     </div>
              <!-- Contact Details -->
              <h5>Contact Details</h5>
              <div class="row">
                  <div class="col-md-6 forvalidation">
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">  	Name of Contact Person</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                            <input type="text" name="name" id="txtContact" maxlength="50"
                            onfocusout="getvalidated('txtContact','text','Name of Contact Person')"
                               class="form-control" placeholder="Name of Contact Person" onfocusout="Cookies.set('CompanyName', this.value, { expires: 1, path: '/' })" >
                               <span id="validtxtContact" style="font-size: 11px; color: #cc0033; "></span>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6 forvalidation">

                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Designation</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                           
                              <select class="form-control" id="Designation"
                              onfocusout="getvalidated('Designation','select','Designation')"
                               name="state" style="height:46px;">
                            
                           
                               </select>
                              <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                        
                      </div>
                   </div>
                 </div>
                 <div class="row">
                  
                     <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">State</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="state"
                               onfocusout="getvalidated('state','select','state')"
                               name="state" style="height:46px;">
                            
                           
                               </select>
                               <span id="validstate" style="font-size: 11px; color: #cc0033; "></span>
                            
                            </div>
                        </div>
                     </div>
                     <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">District</span></span>&nbsp<span class="asterisk_input label-icon"></span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="district"
                               onfocusout="getvalidated('district','select','district')"
                               name="Ownership" style="height:46px;">
                            
                           
                               </select>
                               <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
                            
                            </div>
                        </div>
                     </div>
                   </div>
                   <div class="row">
                  
                      <div class="col-md-6 forvalidation">
   
                         <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">Tehsil</span></span>&nbsp
                            </label>
                            <div class="formrow">
                                <select class="form-control" id="city"
                               
                                name="city" style="height:46px;">
                             
                            
                                </select>
                                <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
                             
                             </div>
                         </div>
                      </div>
                      <div class="col-md-6 forvalidation">
  
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">  
                                   PIN Code</span>&nbsp<span class="asterisk_input label-icon"></span></label>
                             <div class="formrow">
                                <input type="number" name="name" onfocusout="getvalidated('Pin','text','PIN Code')" id="Pin" onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;};" onkeypress="if (this.value.length >= 6) { return false; };" 
                                  class="form-control" placeholder="PIN Code"  >
                                  <span id="validPin" style="font-size: 11px; color: #cc0033; "></span>


                             </div>
                          </div>
                        
                       </div>
                    </div>
                   
           <div class="row">
      <div class="col-md-12">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
               Head Office Address&nbsp;<span class="asterisk_input label-icon"></span>
                    </label>
          <textarea class="form-control" onfocusout="getvalidated('permanentaddress','text','Head Office Address')" onkeypress="if(this.value.length>=200) { return false;}" style="height: 110px;" id="permanentaddress" name="permanentaddress" placeholder="Enter Head Office Address"></textarea>
            <span id="validpermanentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
   </div>
      <div class="row">
         <div class="col-md-6">
               <div class="formrow">
         <label for="example-email-input" class="col-2 col-form-label">
              Is Head Office and Branch Offcie Address is same?
                    </label>
                  </div>
               </div>
               <div class="col-md-4">
                     <div class="formrow">
                           <input type="radio" id="yesAdd" value="1" name="mobile" > Yes
                           <input type="radio" value="2" id="noAdd" name="mobile">No
                        </div>
                     </div>
     </div>
     <div class="row">
      <div class="col-md-12">
        <div class="formrow" id="branchofficeaddress">
            <label for="example-email-input" class="col-2 col-form-label">
               Branch Office Address&nbsp;<span class="asterisk_input label-icon"></span>
                    </label>
          <textarea class="form-control" onfocusout="getvalidated('presentaddress','text','Branch Office Address')" onkeypress="if(this.value.length>=200) { return false;}" style="height: 110px;" id="presentaddress" name="presentaddress" placeholder="Enter Branch Office Address" ></textarea>
            <span id="validpresentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
    </div>
   
    <div class="row">
      
        <!-- <div class="col-md-6 forvalidation">

            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                     Fax</span></label>
               <div class="formrow">
                  <input type="text" name="name" id="Fax" maxlength="10" 
                    class="form-control" placeholder="Fax "  >
               
               </div>
            </div>
          
         </div> -->
         <div class="col-md-6 forvalidation">
  
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                      STD Code</span></label>
               <div class="formrow">
                  <input type="number" name="name" id="STDCode"  onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;};" onkeypress="if (this.value.length >= 7) { return false; };"
                    class="form-control" placeholder="STD Code "  >
               
               </div>
            </div>
          
         </div>
         <div class="col-md-6 forvalidation">
  
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">  
                      Contact No. (Landline)</span></label>
               <div class="formrow">
                  <input type="number" name="name" id="Landline"  onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)"  onkeypress="if (this.value.length >= 7) { return false; };"
                    class="form-control" placeholder="Contact No. (Landline) "  >
               
               </div>
            </div>
          
         </div>
       </div>
       <div class="row">
      
        
           <div class="col-md-6 forvalidation">
              <div class="formrow">
                 <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">       Mobile Number</span>&nbsp<span class="asterisk_input label-icon"></span>
                 </label>
                 <div class="formrow">
                    <input type="number" name="number" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)"  onfocusout="getvalidated('Phone','number','Mobile Number')" onkeypress="if (this.value.length >= 10) { return false; };" id="Phone" class="form-control"
                       placeholder="Mobile Number" >
                       <span id="validPhone" style="font-size: 11px; color: #cc0033; "></span>
                 </div>
              </div>

           </div>
           <div class="col-md-6 forvalidation">
    
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">        Email</span>&nbsp<span class="asterisk_input label-icon"></span>
                     </label>
                     <div class="formrow">
                        <input type="email"  name="email" id="Email" minlength="6" maxlength="300" class="form-control" placeholder="Email"
                        onfocusout="getvalidated('Email','email','Email')" onkeypress="if (this.value.length >= 300) { return false; };">
                         <span id="validEmail" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
               
            </div>
          
         </div>
         </div>
           
         <div class="row">
      
               <div class="col-md-6 forvalidation">
                     <div class="formrow">
                          <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">  
                                   CEO Email</span>&nbsp<span class="asterisk_input label-icon"></span></label>
                             <div class="formrow">
                                <input type="text" name="name" id="ceoemail" onkeypress="if (this.value.length >= 300) { return false; };" onfocusout="getvalidated('ceoemail','email','CEO Email')"
                                  class="form-control" placeholder="CEO Email">
                                  <span id="validceoemail" style="font-size: 11px; color: #cc0033; "></span>
                             </div>
                     </div>
                  </div>
             <div class="col-md-6 forvalidation">
                <div class="formrow">
                     <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">  
                              Website</span></label>
                        <div class="formrow">
                           <input type="text" name="name" id="Website" onfocusout="checkWebsite()"
                             class="form-control" placeholder="Website" onkeypress="if (this.value.length >= 30) { return false; };">
                           
                        </div>
                </div>
             </div>
           </div>

              <!-- Account Details -->
              <!-- <h5>Account Details</h5> -->
              <h5>Area Details</h5>
              <div class="row">
                  <div class="col-md-6 forvalidation">
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">	Select Employment Exchange</span>&nbsp<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="formrow">
                            <select class="form-control" id="EmploymentExchange" onfocusout="getvalidated('EmploymentExchange','select','Employment Exchange')"
                          
                               name="username" style="height:46px;">
                            
                               <span id="validEmploymentExchange" style="font-size: 11px; color: #cc0033; "></span>
 
                            </select>
                         </div>
                      </div>
                   </div>
                  <div class="col-md-6 forvalidation">
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">           User Name</span> &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <select class="form-control" id="username"
                           onfocusout="getvalidated('username','select','User Name')" 
                              name="username" style="height:46px;">
                              <option value="0">Select User Name</option>
                              <option value="1">EmailId</option>

                           </select>
                           <span id="validusername" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                
                  <div class="col-md-6 forvalidation" >
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en"> Password </span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input id="passwordfield" onfocusout=" getvalidated('passwordfield','text','Password')" type="password" class="form-control" name="password" value=""
                                    placeholder="Password"  >
                                    <!-- <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; "></span> -->
                                 <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                                    data-placement="right"
                                    title="<br><h6> Password must contain the following: </h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                                    data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                 <span toggle="#passwordfield" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain atleast one letter, atleast one number, and be longer than 8 charaters</span>
                              
                                    <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; "></span>

                                 </div>
                           </div>
                  </div>

                  
            
                  <div class="col-md-6 forvalidation">
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">          Confirm Password</span> &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="password" id="Repassword" name="Re-EnterPassword" class="form-control"
                              placeholder="Confirm Password" >
                              <span id="validRepassword" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>
                  </div>

               </div>
            
              <div class="row">
                  <div class="col-md-3">
                  </div>
                <div class="col-md-9">
                  <div class="formrow">
                    <tr>
                      <td>
                        <strong><span style="font-size: 15px; color: #cc0033;" lang="en">Please enter the text below in text box</span></strong></td>
                    </tr>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                    </div>
                <div class="col-md-2">
                  <div class="formrow" name="refreshcaptcha">
                    <div id="captchaEmployerRegistration">
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="formrow">
                    <a onclick="createCaptchaempreg()" >
                        <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                    </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" placeholder="Captcha" id="cpatchaTextBoxEmployerRegistration" />
                  </div>
                </div>
              </div>
           
           
              <div class="row">
                  <div class="col-md-2">
                    </div>
                <div class="col-md-4">
                  <button type="submit" class="btn" id="submit">Submit</button>
                </div>
                <div class="col-md-4">
                  <button type="" class="btn" id="Cancel">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="newuser" style="font-size: 13px;"
            <i class="fa fa-user" aria-hidden="true"></i> Already Have Account? <a href="/">LogIn</a>
          </div>
        </div>
     
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/footer %>
  </footer>

      
  <script src="/customjs/EmployerZone/EmployerRegistration.js"></script>
  <script type="text/javascript">
    var $ = jQuery;
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip(); 

      sessionStorage.ModalType='.'
      Fillempstate('parsedatasecuredFillempstate','state');
      Fillsector('parsedatasecuredFillSector','ddlsector');
      FillOwnership('parsedatasecuredFillOwnership','ddlOwnership');
      Fillsectortype('parsedatasecuredFillsectortype','ddlcompany');
      FillDesignation()
      Fillexchangeoffice('parsedatasecuredFillexchangeoffice','EmploymentExchange');
      sessionStorage.ModalType='GSTDoc'
    });

    $("#submit").click(function () {
      CheckValidation();
    });  
  </script>

</body>

</html>