<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
  <link href="/css/captcha.css" rel="stylesheet">
</head>

<body onload="createcaptchaforgot()">
  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Forgot Password</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Forgot Password</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="userccount" style="margin-top:-33px;">
            <div class="socialLogin">
              <h5 style="font-size:16px;text-align: left"><span lang='en'></span>Forgot password</h5>
              <!-- login form -->
              <div class="formpanel">

                <div class="row">
                  <div class="col-md-12">
                    <div class="formrow" id="NotRegCheck" style="display: none;">
                      <tr>
                        <td align="left">
                          <strong><span style="font-size: 15px; color: #cc0033;margin-left: -67%;">You Are Not
                              Registered.
                            </span></strong>
                        </td>
                      </tr>
                    </div>
                  </div>
                </div>
                <div class="row" style='display:none'>
                  <div class="col-md-6">
                <div class="formrow">   
                  <input type="radio" id="email" value="1" name="mobile" style="margin-left: 6%;" ><span lang='en'>Email Id</span> 
                </div>
              </div>
                  <div class="col-md-4" >
                    <div class="formrow">   
                  <input type="radio"  id="rmobile" value="2" name="mobile" ><span lang='en' style="margin-left: 2%;">Mobile Number</span>
                </div>
              </div>
              </div>




                <div class="formrow forvalidation">
                  <input type="text" id="useridforgot" class="form-control" placeholder="Enter Email Id">
                  <span id="validuseridforgot" style="font-size: 11px; color: #cc0033; "></span>
                </div>


                <!-- START CAPTCHA -->
                <div style=" margin-top: -5%;">
                  <div class="formrow">
                    <tr>
                      <td style="text-align:left;">
                        <strong><span style="font-size: 15px;margin-left: -1%; color: #cc0033">Please enter the text
                            below
                            in
                            text box</span></strong></td>
                    </tr>
                  </div>
                  <div class="row" style="margin-left:31%">
                    <div class="col-md-4">
                      <div class="formrow">
                        <div id="captchaforgot">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="margin-left:-19%">
                      <div class="formrow">
                        <a onclick="createCaptchaforgot()" href="#">
                          <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;color:#7991d4;"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="formrow" style="display:block;margin-left:-5%">
                    <input type="text" placeholder="Captcha" id="cpatchatextbboxforgot" />
                  </div>
                  <div class="formrow" style="display:block">
                    <input type="button" onclick="CheckValidation()" id="btnsubmit" class="btn" value="Submit">
                  </div>
                </div>


                <!-- END CAPTCHA -->

                <!-- login form  end-->




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <% include ../../partials/footer %>
    </footer>
    <% include ../../pages/EmployerZone/emailmodal%>
    <% include ../../pages//EmployerZone/MobileModal %>
    <% include ../../pages//EmployerZone/ResetPassword %>
    
    
    <script type="text/javascript" src="/customjs/EmployerZone/Employerforgot.js"></script>
    <script type="text/javascript" src="/customjs/EmployerZone/ResetPassword.js"></script>

    <script type="text/javascript">


      $(document).ready(function () {
        // EmailConfig(); 
        $('input[name="mobile"]:radio:first').click();
      });

    </script>
</body>

</html>