<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
  <link href="/css/captcha.css" rel="stylesheet">
</head>

<body >
  <header>
    <% include ../../partials/header %>
  </header>


  <!-- Page Title start -->

  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      
      <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888;">
            <h6 style="text-align: center;border-bottom: 1px solid #eee;">
               GST/PAN Upload
            </h6>
            <div class="formpanel">

              
               <div class="row">
                  <div class="col-md-2" ></div>
                  <div class="col-md-4" style="margin-top: 2%; margin-left: -61px">
                  <div class="formrow">
                  
                     <form class="m-form" enctype="multipart/form-data"
                     method="post" action="/GSTUpload" id="gstupload" >
                     <input type="submit" id="postattach"
                     class="btn btn-success" 
                     style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                     
               
                  
                     <input type="file" name="myFile"
                        onclick="Cookies.set('modaltype', 'gstdoc', { expires: 1, path: '/' });">
                     </form>
                    </div>
                  </div>
               
                <div class="col-md-6" style="margin-left: 58px">
                  <button type="submit" onclick="$('#postattach').click()" class="btn" id="submit">Submit</button>
                </div>
              
              </div>
            </div>
          </div>
       
        </div>
      
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/footer %>
  </footer>

      
 
  <script src="/customjs/EmployerZone/GSTUpload.js"></script>
  <script type="text/javascript">
    var $ = jQuery;
    $(document).ready(function () {
    });
  </script>
</body>

</html>