<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <link href="/css/captcha.css" rel="stylesheet">
</head>
<body onload="createCaptchaemplogin()">
    <header>
      <% include ../../partials/header %>
    </header>
    <div class="pageTitle" style="height:0;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading">Employer Login</h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="breadCrumb"><a href="/">Home</a> / <span>Employer Login</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="listpgWraper">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">

                    <div class="userccount">
                            <div>
                            <h5 style="font-size:16px;"> Login</h5>
                            <!-- login form -->
                            <div class="formpanel" >
                              <div class="formrow">
                                <input type="text" id="txtEmplogin" class="form-control"  onfocusout="getvalidated('txtEmplogin','text','Username')" placeholder="Username">
                                <span id="validtxtEmplogin" style="font-size: 11px; color: #cc0033; "></span>
                              </div>
                              <div class="formrow">
                                <input type="password" id="txtemppassword" class="form-control" onfocusout="getvalidated('txtemppassword','text','Password')" placeholder="Password">
                                <span id="validtxtemppassword" style="font-size: 11px; color: #cc0033; "></span>
                              </div>
                            <!-- START CAPTCHA -->
                            <div class="formrow">
                            
                              <strong><span style="font-size: 15px;margin-left:29%; color: #cc0033" lang="en">Please enter the text below in text box</span></strong>
                              </div>
                              <div class="row">
                                <div class="col-md-3"style='margin-left:32%'>
                                  <div class="formrow" style="display:block">
                                    <div id="captchaempolyerlogin">
                                    </div>
                                    </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="formrow">
                                  <a onclick="createCaptchaemplogin()" href="#">
                                      <i  class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                          
                          
                            <div class="formrow" style="display:block";>
                            <input type="text" placeholder="Captcha" id="cpatchaTextBoxemplogin"style="  margin-left: 33%; " onfocusout="getvalidated('cpatchaTextBoxemplogin','text','Captcha')"/>
                            <span id="validcpatchaTextBoxemplogin" style="font-size: 11px; color: #cc0033; "></span>   
                          </div>
                          
                            <div class="formrow"   style="display:block">
                          <input type="button"  onclick="CheckValidationemp()" id="emplogin" class="btn" value="Login">
                            </div >
                      </div>
                                    <br><br>
                  
                                <!-- END CAPTCHA -->
                            </div>
                            <!-- login form  end--> 
                            
                            <!-- sign up form -->
                            <div class="newuser">
                              <div style="float:left"><span><a href="/Employerforgot" style="font-size:13px;">Forgot Password?</a></span></div>
                              <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px;">New User?</span>  <a href="/Registration" style="font-size:13px;">Register Here</a></div>  
                            </div>
                            <!-- sign up form end--> 
                           </div>
                        </div>
            </div>
          </div>
        </div>
      <footer>
        <% include ../../partials/footer %>
    </footer>
        
    <script src="../customjs/EmployerZone/EmployerLogin.js"></script> 
    <script type="text/javascript">  
    $(document).keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      CheckValidationemp()
    }
});
      var code;
  function createCaptchaemplogin() {
    //clear the contents of captcha div first 
    document.getElementById('captchaempolyerlogin').innerHTML = "";
    var charsArray =
    "0123456789";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {
      //below code will not allow Repetition of Characters
      var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
      if (captcha.indexOf(charsArray[index]) == -1)
        captcha.push(charsArray[index]);
      else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captchaempolyerlogin";
    canv.width = 100;
    canv.height = 50;
    var ctx = canv.getContext("2d");
    ctx.font = "25px Georgia";
    ctx.strokeText(captcha.join(""), 0, 30);
    //storing captcha so that can validate you can save it somewhere else according to your specific requirements
    code = captcha.join("");
    document.getElementById("captchaempolyerlogin").appendChild(canv); // adds the canvas to the body element
  }
  function validateCaptchaemp() {
    event.preventDefault();
    debugger
    if (document.getElementById("cpatchaTextBoxemplogin").value == code) {
      ValidateEmployerLogin();
    }else{
      
    toastr.warning("Invalid Captcha.  Try Again", "", "info");
    return true;
      createCaptchaemplogin();
    }
  }
  
  
  
  </script> 
   
  
    </body>
    </html>