<div class="modal fade" id="myModalMobile" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="userccount">
            <div class="formpanel">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>

              <h4 style="font-size:18px;    text-align: center;"><span lang="en">  Enter OTP </span></h4>
              <!-- login form -->
      <p> Check Your Mobile for the OTP</p> 
            </br>
        </br>

           <div class="row">
               <div class="col-md-2"></div>
            <div class="col-md-8 forvalidation">
                <div class="formrow">
                  
                   <input type="text"  id="checkotp" class="form-control" maxlength="4"
                      placeholder="One Time Password">
                     
                </div>
                
             </div>
            </div>
            <div class="row">
                 
                <div class="col-md-12">
                        <div class="col-md-4">   </div>
                   <div class="formrow">
                      <input type="submit" class="btn" style="width: 33%;" onclick="InsUpdotp('Match',sessionStorage.CandidateId,'email')" id="Submitmobile" value="Submit">
                   </div>
                </div>
                <div class="col-md-2"></div>
             </div>
          </div>
        </div>
      
      </div>
    </div>
    </div>
  </div>

  