<div class="modal fade" id="modalresetpassword" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
              <button type="button" class="close" data-dismiss="modal"  style="margin-top: -10px;font-size: xx-large;">×</button>
     
            <h5 style="font-size:16px; "><span lang="en">Reset Password </span></h5>
            <!-- login form -->
           
            <div class="formpanel">
              
               <div class="row">
                <div class="col-md-12 forvalidation" >
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                         New Password&nbsp<span class="asterisk_input label-icon"></span>
                      </label>
                      <div class="formrow">
                         <input id="newpassword" type="password" class="form-control" name="password" value=""
                            placeholder="Password"  >
                            <span id="validnewpassword" style="font-size: 11px; color: #cc0033; "></span>
                            <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                            data-placement="right"
                            title="<br><h6> Password must contain the following: </h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                            data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                         <span toggle="#newpassword"
                            class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            <span id="passwordvalidatereset" style="font-size: 11px; color: #cc0033;display: none;">Password must contain at least one letter, at least one number, and be longer than 8 charaters
                               </span>
                      </div>
                   </div>
                </div>
                <div class="col-md-12 forvalidation">
                   <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                        Confirm Password&nbsp<span class="asterisk_input label-icon"></span>
                      </label>
                      <div class="formrow">
                         <input type="password" id="Repassword" name="Re-EnterPassword" onfocusout="getvalidated('Repassword','text','Confirm Password');" class="form-control"
                            placeholder="Confirm Password" >
                            <span id="validRepassword" style="font-size: 11px; color: #cc0033; "></span>
                      </div>
                   </div>
                </div>
             </div>
              <div class="row" style="margin-left:25%; ">
                <div class="col-md-4">
                  <div class="formrow">
                    <div id="captchareset"></div>
                  </div>
                </div>

                <div class="col-md-4"><a onclick="createcaptchareset()" ><i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i></a>

                </div>
              </div>
              <div class="formrow" style="display:block">
                <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxreset','text','Captcha')" style="margin-left:27%; " id="cpatchaTextBoxreset"/>
                <span id="validcpatchaTextBoxreset" style="font-size: 11px; color: #cc0033; "></span>
               </div>
              
              <div class="formrow" style="display:block">
                <input type="button" onclick="CheckChangePassword()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  required title="valid password" id="" class="btn" value="Submit">
              </div>
            </div>
          </div>
            <br><br>

            <!-- END CAPTCHA -->
          
          <!-- login form  end-->


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    

<script src="../customjs/EmployerZone/ResetPassword.js"></script>

